﻿@model Hussmann.Models.Compressor.AddCompressorViewModel
@{
    if (ViewBag.ShowPopupAlert)
    {
        <script type="text/javascript">
            $(window).load(function () {
                preventBOMDetailsSubmission();
            });

            function preventBOMDetailsSubmission() {
                $('input,select').attr('readonly', true);
                $('input,select').css("pointer-events", "none");
                // $('input,select').attr("disabled", true);
                document.getElementById("btnSave").disabled = true;

                $('#alertModal').modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
                return false;
            }
        </script>
    }
}
        <div>
            @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCompressorCurrentTabName" })
            @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCompressorRequestedTabName" })

            <fieldset id="fsBOMDetails">
                <legend class="pull-left width-full">
                    <i class="fa fa-cogs"></i> BOM Details
                    @*<span class="pull-right m-t-5 m-r-10"><a class="btn btn-green btn-sm m-l-5 pull-right" href="#">Submit Record</a></span>*@
                </legend>
                <!--Popup Alert if CompRLA is null-->
                <div class="modal fade" id="alertModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#f1312c !important;">
                                <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;RLA Details Missing</h4>
                            </div>
                            <div class="modal-body">
                                <p>RLA Details needs to be filled first. </p>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" onclick="OpenRLADetailsTab()" class="btn btn-sm btn-white" data-dismiss="modal">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Popup Alert-->
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Compressor Type Description</label>
                            <div class="col-md-8 ui-sortable">
                                @*<input type="text" class="form-control" placeholder="Default input">*@
                                @Html.DropDownListFor(addBOM => addBOM.BOMDetails.CompType_ID, new SelectList(Model.BOMDetails.CompTypeList, "CompType_ID", "CompTypeDescr"), new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Compressor Vendor *</label>
                            <div class="col-md-5 ui-sortable">
                                <input type="text" id="txtCompVendor" value="@ViewBag.CompVendor" class="form-control" placeholder="" readonly="readonly">
                                <span class="custom-validation-message" id="validationCompVendor" style="display:none; white-space: pre;">Please select Compressor Vendor.</span>

                                <input type="hidden" name="BOMDetails.CompVendor_ID" id="hdnCompVendorID" class="form-control" value="@Model.BOMDetails.CompVendor_ID" placeholder="">
                                @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.CompVendor_ID)
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0 p-l-0">
                                <a href="#defrost-config" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Vendor Details</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        @*<div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Suction Line Size *</label>
                        <div class="col-md-8 ui-sortable">
                            @Html.TextBoxFor(addBOM => addBOM.BOMDetails.SuctLine, new { @class = "form-control", @maxlength = "4" })
                            @Html.DropDownListFor(addBOM => addBOM.BOMDetails.SuctLine, new SelectList(Model.BOMDetails.SuctLineSizes, "SuctLineSize1", "SuctLineSize1"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.SuctLine)
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Suction Line Size *</label>
                            <div class="col-md-8 ui-sortable">
                                @*@Html.TextBoxFor(addBOM => addBOM.BOMDetails.SuctLine, new { @class = "form-control", @maxlength = "4" })*@
                                @Html.DropDownListFor(addBOM => addBOM.BOMDetails.SuctLine, new SelectList(Model.BOMDetails.SuctLineSizes, "SuctLineSize1", "SuctLineSize1"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.SuctLine)
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0"></div>
                        </div>
                        @*<div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Compressor Vendor *</label>
                        <div class="col-md-5 ui-sortable">
                            <input type="text" id="txtCompVendor" value="@ViewBag.CompVendor" class="form-control" placeholder="" readonly="readonly">
                            <span class="custom-validation-message" id="validationCompVendor" style="display:none;">Please select Compressor Vendor.</span>

                            <input type="hidden" name="BOMDetails.CompVendor_ID" id="hdnCompVendorID" class="form-control" value="@Model.BOMDetails.CompVendor_ID" placeholder="">
                            @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.CompVendor_ID)
                        </div>
                        <div class="col-md-3 p-t-7 p-r-0 p-l-0">
                            <a href="#defrost-config" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Vendor Details</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                    </div>
                    <!-- end col-6 -->
                    <!-- Modal Add Motor Amps START HERE-->
                    <div class="modal fade" id="defrost-config">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Vendor Lookup</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- begin col-12 -->
                                    <div class="col-md-12 p-l-0 p-r-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="bg-primary" width="4%"></th>
                                                        <th class="bg-primary">Compressor Vendor</th>
                                                        <th class="bg-primary">H Series Baan</th>
                                                        <th class="bg-primary">Protocol Baan</th>
                                                        <th class="bg-primary">Rank Baan</th>
                                                        <th class="bg-primary">Display Value HSeries</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.BOMDetails.CompVendorList)
                                                    {
                                                        <tr>
                                                            <td><input type="radio" class="radioCompVendorList" name="CompVendor" value="@item.CompVendor_ID" data-type="@item.CompVendor1"></td>
                                                            <td>@item.CompVendor1</td>
                                                            <td>@item.HSeriesBaan</td>
                                                            <td>@item.ProtocolBaan</td>
                                                            <td>@item.RackBaan</td>
                                                            <td>@item.DisplayValueHSeries</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                    <!-- end col-12 -->

                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal" id="btnAddCompVendor">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Add Motor Amps END HERE-->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Hussmann Temp Application *</label>
                            <div class="col-md-5 ui-sortable">
                                <input type="text" class="form-control" id="txtTempRange" placeholder="" readonly="readonly" value="@ViewBag.HussmannTempApp">
                                <span class="custom-validation-message" id="validationTempRange" style="display:none; white-space: pre;">Please select Hussmann Temp Application.</span>

                                <input type="hidden" name="BOMDetails.HussTempApp_ID" id="hdnTempRangeID" value="@Model.BOMDetails.HussTempApp_ID" />
                                @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.HussTempApp_ID)
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0 p-l-0">
                                <a href="#heat-exchanger" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Temp Range Type</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        @*<div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Discharge Line Size *</label>
                        <div class="col-md-8 ui-sortable">
                            @Html.TextBoxFor(addBOM => addBOM.BOMDetails.DiscLine, new { @class = "form-control", @maxlength = "4" })
                            @Html.DropDownListFor(addBOM => addBOM.BOMDetails.DiscLine, new SelectList(Model.BOMDetails.DiscLineSizes, "DiscLineSize1", "DiscLineSize1"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.DiscLine)
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Discharge Line Size *</label>
                            <div class="col-md-8 ui-sortable">
                                @*@Html.TextBoxFor(addBOM => addBOM.BOMDetails.DiscLine, new { @class = "form-control", @maxlength = "4" })*@
                                @Html.DropDownListFor(addBOM => addBOM.BOMDetails.DiscLine, new SelectList(Model.BOMDetails.DiscLineSizes, "DiscLineSize1", "DiscLineSize1"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.DiscLine)
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0"></div>
                        </div>
                        @*<div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Hussmann Temp Application *</label>
                        <div class="col-md-5 ui-sortable">
                            <input type="text" class="form-control" id="txtTempRange" placeholder="" readonly="readonly" value="@ViewBag.HussmannTempApp">
                            <span class="custom-validation-message" id="validationTempRange" style="display:none;">Please select Hussmann Temp Application.</span>

                            <input type="hidden" name="BOMDetails.HussTempApp_ID" id="hdnTempRangeID" value="@Model.BOMDetails.HussTempApp_ID" />
                            @Html.ValidationMessageFor(addBOM => addBOM.BOMDetails.HussTempApp_ID)
                        </div>
                        <div class="col-md-3 p-t-7 p-r-0 p-l-0">
                            <a href="#heat-exchanger" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Temp Range Type</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>*@
                    </div>
                    <!-- end col-6 -->
                    <!-- Modal Add Temp. Range Details START HERE-->
                    <div class="modal fade" id="heat-exchanger">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Add Temp. Range Details</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- begin col-12 -->
                                    <div class="col-md-12 p-l-0 p-r-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="bg-primary" width="4%"></th>
                                                        <th class="bg-primary">Hussmann App</th>
                                                        <th class="bg-primary">Hussmann App Temp Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.BOMDetails.HussmannTempAppList)
                                                    {
                                                        <tr>
                                                            <td><input type="radio" name="TempRange" class="radioTempRangeList" value="@item.HussTempApp_ID" data-type="@item.HussTempApp" /></td>
                                                            <td>@item.HussTempApp</td>
                                                            <td>@item.HussTempAppDescr</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                    <!-- end col-12 -->

                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:;" class="btn btn-sm btn-primary" id="btnAddTempRange" data-dismiss="modal">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Temp. Range Details Exchanger END HERE-->
                    @*<!-- Modal Add Temp. Range Details START HERE-->
                <div class="modal fade" id="heat-exchanger">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Add Temp. Range Details</h4>
                            </div>
                            <div class="modal-body">
                                <!-- begin col-12 -->
                                <div class="col-md-12 p-l-0 p-r-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="bg-primary" width="4%"></th>
                                                    <th class="bg-primary">Vendor Temp Range Type </th>
                                                    <th class="bg-primary">Economize</th>
                                                    <th class="bg-primary">Liquid</th>
                                                    <th class="bg-primary">Hussmann App</th>
                                                    <th class="bg-primary">Hussmann App Temp Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.BOMDetails.VendorTempRangeAppRangeList)
                                                {
                                                <tr>
                                                    <td><input type="radio" name="TempRange" class="radioTempRangeList" value="@item.VendorTempRange_ID" data-type="@item.VendorTempRangeType" /></td>
                                                    <td>@item.VendorTempRangeType</td>
                                                    <td>@item.EconomizerSetting</td>
                                                    <td>@item.LiquidTemp</td>
                                                    <td>@item.HussTempApp</td>
                                                    <td>@item.HussTempAppDescr</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                                <!-- end col-12 -->

                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                <a href="javascript:;" class="btn btn-sm btn-primary" id="btnAddTempRange" data-dismiss="modal">Save</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Temp. Range Details Exchanger END HERE-->*@
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Add Kit Details</label>
                            <div class="col-md-8 p-t-7 p-r-0 ui-sortable">
                                <a href="#add-Details" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add details</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end col-6 -->
                    <!-- Modal Heat Exchanger START HERE-->
                    <div class="modal fade" id="add-Details">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Add Kit Details</h4>
                                </div>
                                <div class="modal-body">

                                    <!-- begin col-12 -->
                                    <div class="col-md-12 p-0">
                                        <div class="form-group">
                                            <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Compressor Kit Protocol</label>
                                            <div class="col-md-8 ui-sortable">
                                                @Html.TextBoxFor(addBOM => addBOM.BOMDetails.CompKitProtocol, new { @class = "form-control", @maxlength = "40" })
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- end col-12 -->
                                    <!-- begin col-12 -->
                                    <div class="col-md-12 p-0">
                                        <div class="form-group">
                                            <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Compressor Kit H Series</label>
                                            <div class="col-md-8 ui-sortable">
                                                @Html.TextBoxFor(addBOM => addBOM.BOMDetails.CompKitHSeries, new { @class = "form-control", @maxlength = "40" })
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- end col-12 -->
                                    <!-- begin col-12 -->
                                    <div class="col-md-12 p-0">
                                        <div class="form-group">
                                            <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Compressor Kit Rack</label>
                                            <div class="col-md-8 ui-sortable">
                                                @Html.TextBoxFor(addBOM => addBOM.BOMDetails.CompKitRack, new { @class = "form-control", @maxlength = "40" })
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- end col-12 -->

                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                    <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Heat Exchanger END HERE-->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Vendor BOM Description</label>
                            <div class="col-md-8 ui-sortable">
                                @Html.DropDownListFor(addBOM => addBOM.BOMDetails.VendorBOMCode_ID, new SelectList(Model.BOMDetails.VendorBOMCodeList, "VendorBOMCode_ID", "VendorBOMDescr"), new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 p-t-7 p-r-0">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 p-0" style="height:50px;">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable"></label>
                            <div class="col-md-8 ui-sortable">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col 12 -->
                    <div class="col-md-12 m-0 m-b-15 p-l-15 p-r-15">
                        <hr class="m-b-15">
                        <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#" onclick="OpenDesiredCompressorTab('_RLADetails')">← Previous</a></li><li class="next" role="button" onclick="OpenDesiredCompressorTab('_Coefficients')" aria-disabled="false"><a href="#">Next →</a></li></ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end col-12 -->

                </div>
                <!-- end row -->
            </fieldset>
        </div>

<script>
    $(window).load(function () {
        TempRangeAllowToSelect(parseInt($('#hdnCompVendorID').val()));
    });

    var compVendorID;
    $("#btnAddCompVendor").click(function () {
        $("#txtCompVendor").val('');
        $('.radioCompVendorList:radio:checked').each(function () {
            $('#txtCompVendor').val($(this).data("type")).change();
            $('#hdnCompVendorID').val($(this).val());
            compVendorID = $(this).val();
        });
        SetDualTempinTempRange(parseInt(compVendorID));
    });

    $("#btnAddTempRange").click(function () {
        $("#txtTempRange").val('');
        $('.radioTempRangeList:radio:checked').each(function () {
            $('#txtTempRange').val($(this).data("type")).change();
            $('#hdnTempRangeID').val($(this).val());
        });
    });

    function SetDualTempinTempRange(CompVendorID) {
        if (compVendorID != "undefined" || compVendorID != null) {
            if (compVendorID == 4 || compVendorID == 5) { //4 - Bitzer(Ecoline), 5- Bitzer(Screw)
                $('input[name=TempRange][value=3]').attr('checked', true);
                $('#txtTempRange').val($('input[name=TempRange][value=3]').data("type")).change();
                $('#hdnTempRangeID').val($('input[name=TempRange][value=3]').val());
                $('input[name=TempRange]').attr('disabled', true);
            }
            else
                $('input[name=TempRange]').attr('disabled', false);
        }
    }

    function TempRangeAllowToSelect(compVendorID) {
        if (compVendorID != "undefined" || compVendorID != null) {
            if (compVendorID == 4 || compVendorID == 5) { //4 - Bitzer(Ecoline), 5- Bitzer(Screw)
                $('input[name=TempRange]').attr('disabled', true);
            }
            else
                $('input[name=TempRange]').attr('disabled', false);

        }
    }

    //$("#txtCompVendor").change(function () {
    //    if ((!$("#txtCompVendor").attr("value")) && ($("#txtCompVendor").val() == "" || $("#txtCompVendor").val() == null)) {
    //        $("#validationCompVendor").show();
    //    }
    //    else {
    //        $("#validationCompVendor").hide();
    //    }
    //});

    //$("#txtTempRange").change(function () {
    //    if ((!$("#txtTempRange").attr("value")) && ($("#txtTempRange").val() == "" || $("#txtTempRange").val() == null)) {
    //        $("#validationTempRange").show();
    //    }
    //    else {
    //        $("#validationTempRange").hide();
    //    }
    //});
</script>








