﻿@model Hussmann.Models.Compressor.AddCompressorViewModel

<style>
    .handsontable th {
        text-align: left;
    }
</style>

<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCompressorCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCompressorRequestedTabName" })
    @Html.HiddenFor(m => m.Coefficients.CompressorCoefficients, new { @id = "hdnCoefficientsData" })

    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-money"></i> Coefficients
            @*<span class="pull-right m-t-5 m-r-10"><a class="btn btn-green btn-sm m-l-5 pull-right" href="#">Submit Record</a></span>*@
        </legend>
        <!-- begin row -->
        <div class="row">
            <!-- Left col-8 START HERE -->
            <div class="col-md-8">
                <div title="If the source data was selected horizontally from Excel, this check would allow them to paste vertically">  <input type="checkbox" style="float:right;margin-right:45px; margin-left:5px;" id="chkPasteVertical"> &nbsp;&nbsp; <label style="float:right;">Paste Vertically </label> </div>
                <div class="col-md-12 p-l-0 p-r-0 ui-sortable">
                    <div id="dvCoefficients"></div>
                    <div id="divHertz"></div>
                </div>
            </div>
            <!-- Left col-8 END HERE -->
            <!-- Left col-4 START HERE -->
            <div class="col-md-4 ui-sortable">
                <a href="javascript:;" id="btnAddRefrigerantColumn" class="btn btn-green btn-block m-b-10">Add Refrigerant Type</a>

                <div class="form-group">
                    <div class="col-md-12 ui-sortable p-l-0 p-r-0">
                        @Html.DropDownList("refrigerantTypeList", new SelectList(Model.Coefficients.RefrigerantTypes, "RefrigerantType_ID", "RefrigerantType1"), new { @class = "form-control valid", id = "listrefrigeranttype" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="note note-success">
                    <h4>Tip!</h4>
                    <p>When the "Add Another Refrigerant Type" button is clicked, a new column will be added for a refrigerant type, the column will contain the fields that will accept the coefficient values. Initially no column of the Refrigerant type will be there.</p>
                </div>
                <div class="form-group">
                    <label class="control-label ui-sortable">Return Gas</label>
                    @Html.DropDownList("Coefficients.ReturnGasID", new SelectList(Model.Coefficients.ReturnGasTemperatures, "ReturnGas_ID", "ReturnGasTemp"), new { @class = "form-control valid" })
                </div>
                <div class="note note-info">
                    <h4><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Instructions</h4>
                    <p>Please enter numeric values only.</p>
                    <p>Any whole number value would be converted into a decimal one.</p>
                    <p>Please fill all the fields while entering data, otherwise data won't get saved.</p>
                </div>
                <div class="clearfix"></div>
                <label id="lblGridErrorMessage" class="custom-validation-message text-danger"></label>
            </div>
            <!-- Left col-4 END HERE -->
            <!-- begin col 12 -->
            <div class="col-md-12 m-0 m-b-15 p-l-15 p-r-15">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#" onclick="OpenDesiredCompressorTab('_BOMDetails')">← Previous</a></li><li class="next disabled" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <input type="button" hidden="hidden" value="Hidden Coefficients" id="hdnBtnSetCoefficients" />
                <div class="clearfix"></div>
            </div>
            <!-- end col-12 -->

        </div>
        <div id="example1"></div>
        <!-- end row -->
    </fieldset>
</div>

<script>
    $(document).ready(function() {
        $(".handsontable thead th:nth-child(1) div span").text("Coefficients");
        $(".handsontable table").addClass("table table-responsive table-striped");
    });
</script>

<script>
    var dataExists = @Html.Raw(Json.Encode(Model.Coefficients.isCoefficientsDataExists));
    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
    var readOnlyEnable;

    if(allowEdit == true || allowEdit == "true")
        readOnlyEnable = false;
    else
        readOnlyEnable = true;

    NullValidator = function (value, callback) {
        setTimeout(function () {
            var isnumeric = $.isNumeric(value);
            var lengthBeforeDecimal = value.toString().split(".")[0].length;
            if ((value.length === 0 || value === null) || isnumeric === false || lengthBeforeDecimal > 7) {
                $("#hdnCoefficientsGridValid").val(false);
                callback(false);
            }
            else {
                $("#hdnCoefficientsGridValid").val(true);
                callback(true);
            }
        }, 100);
    };

    var coefficientsData = [],
        dynamicColumns = [],
        refrigerantTypeArr = [],
        objectData,
        dvCoefficients = document.getElementById('dvCoefficients'),
        NullValidator,
        hot;
    var isValidGrid = true;

    if(dataExists == true) {
        var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.Coefficients.CompressorCoefficients)));
        var obj = gridData; //populate list of objects in obj
        var hiddenColumns = [];
        var temp = 1;
     
        for(var i in obj) {
            var temp = [];
            temp.push(obj[i].C0);
            temp.push(obj[i].C1);
            temp.push(obj[i].C2);
            temp.push(obj[i].C3);
            temp.push(obj[i].C4);
            temp.push(obj[i].C5);
            temp.push(obj[i].C6);
            temp.push(obj[i].C7);
            temp.push(obj[i].C8);
            temp.push(obj[i].C9);
            temp.push(obj[i].W0);
            temp.push(obj[i].W1);
            temp.push(obj[i].W2);
            temp.push(obj[i].W3);
            temp.push(obj[i].W4);
            temp.push(obj[i].W5);
            temp.push(obj[i].W6);
            temp.push(obj[i].W7);
            temp.push(obj[i].W8);
            temp.push(obj[i].W9);
            temp.push(obj[i].SuctMin);
            temp.push(obj[i].SuctMax);
            temp.push(obj[i].MaxCondensingTemp);
            temp.push(obj[i].hertz)
            coefficientsData.push(temp);

            //create column dynamically to add in handsontable column
            var col = new Object();
            var format = new Object();
            col.title = obj[i].refrigerantType
            col.type = "numeric";
            //col.type = "text";
            col.numericFormat = {
                pattern : '0.000000000',
                culture : 'en-US' // this is the default culture, set up for USD
            };
            col.format = false;
            col.validator = NullValidator
            dynamicColumns.push(col);

            refrigerantTypeArr.push(new Object({type: obj[i].refrigerantType, id: obj[i].RefrigerantType_ID}))

            //remove refrigerant type from dropdown list
            removeRefrigerantTypeFromDDL(obj[i].RefrigerantType_ID);

            hiddenColumns.push(temp);
            temp++;
        }
        var j = i;
        objectData = Handsontable.helper.translateRowsToColumns(coefficientsData);
    }
    else if(dataExists == false) {
        var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.Coefficients.CompressorCoefficients)));
        objectData = [[]];
    }
    //var clipboardCache = '';
    //var sheetclip = new SheetClip();
    var isPasteSpecial = false;
    config = {
        data: objectData,
        minSpareRows: 0,
        minCol: 0,
        minRows: 24,
        autoWrapRow: true,
        contextMenu: false,
        columnSorting: false,
        manualColumnResize: false, // prevent dragging to resize columns
        manualRowResize: false,
        sortIndicator: false,
        removeRowPlugin: true,
        outsideClickDeselects: false,
        height: 748,
        width: 800,
        type: 'numeric',
        rowHeights: 30,
        //rowHeaders: true,
        //colHeaders : true,
        rowHeaders: ['C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'W0', 'W1', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'Suct Min', 'Suct Max', 'Max Condensing', 'Hertz'],
        rowHeaderWidth: 130,
        //colWidths: columnsWidths,
        stretchH: 'all',
        //width: 1060,
        columns: dynamicColumns,
        readOnly: readOnlyEnable,
        format: false,
        allowInvalid: true,
        cells: function (row, col, prop) {
            if (row === 23) {
                this.type = 'dropdown';
                this.className = 'htRight';
                allowInvalid = false;
                this.source = function (query, process) {
                    $.ajax({
                        url: '@Url.Action("GetHertz", "Compressor")',
                        async: false,
                        type: 'POST',
                        data: { query: query },
                        success: function (response) {
                            console.log("response", response);
                            //process(JSON.parse(response.data)); // JSON.parse takes string as a argument
                            process(response);

                        }
                    });
                };
            }
        },
        fillHandle: {
            autoInsertRow: false,
        },
        afterValidate: function (isValid, value, row, prop, source) {
            if (!isValid) {
                $("#lblGridErrorMessage").text('Invalid Data in Grid');
            }
            else {
                $("#lblGridErrorMessage").text("");
            }
        },
        beforePaste: function (changes) {
            if (document.getElementById('chkPasteVertical').checked) {

                var curObject = changes[0];
                for (i = 0; i < curObject.length; i++) {
                    changes[i] = [];
                    changes[i].push(curObject[i]);
                }
            }
        
    
            
        },
      
        //contextMenu: {
        //    callback: function (key, options) {
        //        if (key === 'paste') {
        //            setTimeout(function () {
        //                alert("24");
        //                // timeout is used to make sure the menu collapsed before alert is shown
        //                isPasteSpecial = true;
        //                //var e = jQuery.Event("keydown");
        //                //e.which = 86; // m code value
        //                //e.altKey = true; // Alt key pressed
        //                //$("#inputBox").trigger(e);

                    
        //            }, 100);
        //        }
        //    },
        //    items: {
             
        //        "paste": { name: 'Paste Special' }
        //    }
        //}

    };

    //Register hooks to call action functions/listeners
    $hooksList = $('#hooksList');
    hooks = Handsontable.hooks.getRegistered();

    hot = new Handsontable(dvCoefficients, config);

    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else
        {
            $(".handsontable thead th:nth-child(1) div span").text("Coefficients");
            $('#hdnIsEditedAfterApprove').val(true);
        }

    });


     hot.addHook('afterRemoveRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
      
    });
    hot.addHook('afterCreateRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
       
    });


    function removeRefrigerantTypeFromDDL(id)
    {
        $("#listrefrigeranttype option[value='" + id + "']").remove();
    }

    $("#btnAddRefrigerantColumn").click(function () {
        var refrigerantType = $('#listrefrigeranttype').find(":selected");
        console.log(refrigerantType);
        if (refrigerantType.length != 0) {
            //console.log(refrigerantType);
            var refrigerantTypeValue = refrigerantType.val();
            var addColumns = hot.getSettings().columns;
            var col = new Object();
            var format = new Object();
            col.title = refrigerantType.text();
            col.type = "numeric";
            //col.type = "text";
            col.numericFormat = {
                pattern : '0.000000000',
                culture : 'en-US' // this is the default culture, set up for USD
            };
            col.format = false;
            col.validator = NullValidator
            addColumns.push(col);

            var tableSettings = {
                columns: addColumns,
                cells : function (row, col, prop) {
                    if (row === 23) {
                        this.type = 'dropdown';
                        this.className = 'htRight';
                        allowInvalid = false;
                        this.source = function (query, process) {
                            $.ajax({
                                url: '@Url.Action("GetHertz", "Compressor")',
                                async: false,
                                type: 'POST',
                                data: {query: query},
                                success: function (response) {
                                    console.log("response", response);
                                    //process(JSON.parse(response.data)); // JSON.parse takes string as a argument
                                    process(response);

                                }
                            });
                        };
                    }
                }
            };

            hot.updateSettings(tableSettings);
            $(".handsontable thead th:nth-child(1) div span").text("Coefficients");
            refrigerantTypeArr.push(new Object({type: refrigerantType.text(), id: refrigerantTypeValue}))
            removeRefrigerantTypeFromDDL(refrigerantTypeValue);
        }
    });

    $("#hdnBtnSetCoefficients").click(function() {
        var array = hot.getData();
        var transpose = Handsontable.helper.translateRowsToColumns(array);
        var modelID = @Html.Raw(Json.Encode(Model.CurrentCompressorModelID));
        var gridDataObjects = [];
        isValidGrid = true;
        transpose.forEach(function(row, rowIndex) {
            var arrayhasAllNull = transpose[rowIndex].every(function(i) { return i === null; });
            if(!arrayhasAllNull) {
                var refrigerantType = $(".handsontable thead tr th").eq(rowIndex + 1).text();
                gridDataObjects.push(new rowObject(row, rowIndex, refrigerantType, refrigerantTypeArr[rowIndex].id, modelID));
        
            }
        });
        if (isValidGrid == false) {
            $("#hdnCoefficientsGridValid").val(isValidGrid);
            $("#lblGridErrorMessage").text('Invalid Data in Grid');
        }
        else
        {
            $("#hdnCoefficientsGridValid").val(true);
            $("#lblGridErrorMessage").text('');
        }
        $("#hdnCoefficientsData").val(JSON.stringify(gridDataObjects));
        //console.log(gridDataObjects);
    });

    function rowObject(data, rowIndex, refrigerantType, refrigerantTypeId, modelID){
        var self = this;
        self.C0 = parseFloat(data[0]).noExponents();
        if (self.C0 == "NaN")
            isValidGrid = false;
        self.C1 = parseFloat(data[1]).noExponents();
        if (self.C1 == "NaN")
            isValidGrid = false;
        self.C2 = parseFloat(data[2]).noExponents();
        if (self.C2 == "NaN")
            isValidGrid = false;
        self.C3 = parseFloat(data[3]).noExponents();
        if (self.C3 == "NaN")
            isValidGrid = false;
        self.C4 = parseFloat(data[4]).noExponents();
        if (self.C4 == "NaN")
            isValidGrid = false;
        self.C5 = parseFloat(data[5]).noExponents();
        if (self.C5 == "NaN")
            isValidGrid = false;
        self.C6 = parseFloat(data[6]).noExponents();
        if (self.C6 == "NaN")
            isValidGrid = false;
        self.C7 = parseFloat(data[7]).noExponents();
        if (self.C7 == "NaN")
            isValidGrid = false;
        self.C8 = parseFloat(data[8]).noExponents();
        if (self.C8 == "NaN")
            isValidGrid = false;
        self.C9 = parseFloat(data[9]).noExponents();
        if (self.C9 == "NaN")
            isValidGrid = false;
        self.W0 = parseFloat(data[10]).noExponents();
        if (self.W0 == "NaN") 
            isValidGrid = false;
        self.W1 = parseFloat(data[11]).noExponents();
        if (self.W1 == "NaN")
            isValidGrid = false;
        self.W2 = parseFloat(data[12]).noExponents();
        if (self.W2 == "NaN")
            isValidGrid = false;
        self.W3 = parseFloat(data[13]).noExponents();
        if (self.W3 == "NaN")
            isValidGrid = false;
        self.W4 = parseFloat(data[14]).noExponents();
        if (self.W4 == "NaN")
            isValidGrid = false;
        self.W5 = parseFloat(data[15]).noExponents();
        if (self.W5 == "NaN")
            isValidGrid = false;
        self.W6 = parseFloat(data[16]).noExponents();
        if (self.W6 == "NaN")
            isValidGrid = false;
        self.W7 = parseFloat(data[17]).noExponents();
        if (self.W7 == "NaN")
            isValidGrid = false;
        self.W8 = parseFloat(data[18]).noExponents();
        if (self.W8 == "NaN")
            isValidGrid = false;
        self.W9 = parseFloat(data[19]).noExponents();
        if (self.W9 == "NaN")
            isValidGrid = false;
        self.SuctMin = data[20];
        if (self.SuctMin == null)
            isValidGrid = false;
        self.SuctMax = data[21];
        if (self.SuctMax == null)
            isValidGrid = false;
        self.MaxCondensingTemp = data[22];
        if (self.MaxCondensingTemp == null)
            isValidGrid = false;
        self.Hertz = data[23];
        if (self.Hertz == null)
            isValidGrid = false;
        //self.refrigerantType = refrigerantType;
        self.refrigerantTypeId = refrigerantTypeId
        self.ModelID = modelID;
 
    };
    Number.prototype.noExponents = function () {
        var data = String(this).split(/[eE]/);
        if (data.length == 1) return data[0];

        var z = '', sign = this < 0 ? '-' : '',
            str = data[0].replace('.', ''),
            mag = Number(data[1]) + 1;

        if (mag < 0) {
            z = sign + '0.';
            while (mag++) z += '0';
            return z + str.replace(/^\-/, '');
        }
        mag -= str.length;
        while (mag--) z += '0';
        return str + z;
    }

</script>










