﻿@model Hussmann.Models.Compressor.AddCompressorViewModel
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCompressorCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCompressorRequestedTabName" })
    @*@Html.Hidden("hdnCapReductInitialLoad", "Yes");*@
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-th-list"></i> Compressor Details
        </legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group m-b-0">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Compressor Model *</label>
                    <div class="col-md-8 ui-sortable">
                        @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCompressor")
                        {
                            @Html.TextBoxFor(addCompressor => addCompressor.CompressorDetailsViewModel.ModelNumber, new { @class = "form-control", @readonly = "readonly" })
                            <span class="min-height22">&nbsp;</span>
                        }
                        else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCompressor")
                        {
                            @Html.EditorFor(addCompressor => addCompressor.CompressorDetailsViewModel.ModelNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(addCompressor => addCompressor.CompressorDetailsViewModel.ModelNumber, null, new { @class = "min-height22" })
                        }
                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group m-b-0">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Normal HP *</label>
                    <div class="col-md-8 ui-sortable">
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(addCompressor => addCompressor.CompressorDetailsViewModel.NomHorsepower, new { @class = "form-control" })
                        @Html.ValidationMessageFor(addCompressor => addCompressor.CompressorDetailsViewModel.NomHorsepower, null, new { @class = "min-height22" })
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group m-b-0">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Compressor Series *</label>
                    <div class="col-md-8 ui-sortable">
                        @Html.DropDownListFor(addCompressor => addCompressor.CompressorDetailsViewModel.CompSeries_ID, new SelectList(Model.CompressorDetailsViewModel.CompSeries, "CompSeries_ID", "CompSeries"), new { @class = "form-control", @onchange = "javascript:GetCapacityReduction(this.value);" })
                        <span class="min-height22">&nbsp;</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group m-b-0">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Real HP *</label>
                    <div class="col-md-8 ui-sortable">
                        @*<input type="text" class="form-control">*@
                        @Html.TextBoxFor(addCompressor => addCompressor.CompressorDetailsViewModel.RealHorsePower, new { @class = "form-control" })
                        @Html.ValidationMessageFor(addCompressor => addCompressor.CompressorDetailsViewModel.RealHorsePower, null, new { @class = "min-height22" })
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    @*<label class="col-md-4 p-t-7 control-label ui-sortable">Return Gas Temperature</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control">
                    </div>
                    <div class="clearfix"></div>*@
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 12 -->
           <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
               <label class="pull-left custom-validation-message">* Fields are mandatory.</label>
           @if (Model.AllowEdit == true)
           {
            <a href="#" id="nextDetails" onclick="OpenDesiredCompressorTab('_RLADetails')" class="btn btn-white btn-md pull-right next">Next →</a>
           }
           </div>
            @*<div class="col-md-12 m-0 m-b-15 p-l-15 p-r-15">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous disabled" role="button" aria-disabled="true"><a href="#">← Previous</a></li>
                <li class="next" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <div class="clearfix"></div>
            </div>*@
            <!-- end col-12 -->

        </div>
        <!-- end row -->
    </fieldset>
</div>

<script>
    $(document).ready(function () {
        var compSeriesID = $("#CompressorDetailsViewModel_CompSeries_ID :selected").val();
        GetCapacityReduction(compSeriesID);
        $("#capacityReductionList").val(@Model.CompressorDetailsViewModel.CapReduct_ID);
        //$("#hdnCapReductInitialLoad").val('');
    });
    
    function GetCapacityReduction(_CompSeriesID) {
        var url = '@Url.Action("GetCapacityReductionByCompressorSeries", "Compressor")';
        $.ajax({
            url: url,
            async: false,
            data: { CompSeriesID: _CompSeriesID },
            cache: false,
            type: 'POST',
            success: function (data) {
                var select = $("#capacityReductionList");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Select Value"
                }));
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            },
            error: function (reponse) {
                console.log("error - CapacityReductionList : " + reponse);
            }
        });
    };
</script>












