﻿
<div class="nav-btn"><img src="@Url.Content("~/Content/img/slide-open.png")" class="p-t-0 p-b-5 img-responsive" alt="menu" title="menu" /></div>
<div data-scrollbar="true" data-height="100%">
    <h2>Search Compressor<span><a href="javascript:;" class="pull-right m-r-15 nav-hide"><img src="@Url.Content("~/Content/img/auto_hide_close_icon.png")" alt="close" /></a></span></h2>
    <div class="panel-body">
        @using (Html.BeginForm("SearchCompressor", "Compressor", FormMethod.Get, new { @class = "form-horizontal", id = "searchCompressor" }))
        {

            @*<form class="form-horizontal">*@
            <div class="form-group">
                <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Model</label>
                <div class="col-md-9 ui-sortable">
                    @Html.TextBox("modelNumber", ViewBag.ModelNumber as string, new { @class= "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Type</label>
                <div class="col-md-9 ui-sortable">
                    @Html.DropDownList("compressorTypeId", ViewBag.CompTypeList as SelectList, "All", new { @class = "form-control selectmenu" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Series</label>
                <div class="col-md-9 ui-sortable">
                    @Html.DropDownList("compressorSeriesId", ViewBag.CompSeriesList as SelectList, "All", new { @class = "form-control selectmenu" })
                </div>
            </div>
                @*<div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Refrigerant Type</label>
                    <div class="col-md-9 ui-sortable">
                        @Html.DropDownList("refrigerantTypeId", ViewBag.RefrigerantTypeList as SelectList, "All", new { @class = "form-control selectmenu" })
                    </div>
                </div>*@
                <div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Vendor</label>
                    <div class="col-md-9 ui-sortable">
                        @*@Html.TextBox("compressorVendor", ViewBag.Vendor as string, new { @class = "form-control" })*@
                        @*<input class="form-control datepicker-default"  name="modelNumber" type="text" value="">*@
                        @Html.DropDownList("compressorVendorId", ViewBag.CompVendorList as SelectList, "All", new { @class = "form-control selectmenu" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Status</label>
                    <div class="col-md-9 ui-sortable">
                        @*<input class="form-control datepicker-default"  name="modelNumber" type="text" value="">*@
                        @Html.DropDownList("statusId", ViewBag.StatusList as SelectList, "All", new { @class = "form-control selectmenu" })
                    </div>
                </div>
                @Html.Hidden("pinned", (bool)ViewBag.PinnedTab, new { @id = "hdnConmpressorPinnedTab" })

                @*</form>*@
                <hr>
                <button type="button" id="btnClearSearchPanelData" class="btn btn-md btn-default pull-right m-l-5">Clear</button>
                <button type="submit" id="searchCondenser" class="btn btn-md btn-primary pull-right">Search</button>
        }
    </div>


</div>
@Html.Hidden("queryString", "", new { @id = "hdnQueryString" })



<script>
    $(document).ready(function () {

        $(function () {
            $(document).on('click', '#btnClearSearchPanelData', function (e) {
                $("#modelNumber").val("");
                //$("#compressorVendor").val("");
                var myselect = $("select.selectmenu");
                myselect[0].selectedIndex = 0;
                myselect[1].selectedIndex = 0;
                myselect[2].selectedIndex = 0;
                myselect[3].selectedIndex = 0;
                myselect.selectmenu("refresh");
            });
        });

         $(".selectmenu").selectmenu();
     });
</script>
