﻿@model Hussmann.Models.Compressor.AddCompressorViewModel

<style>
    .removeRowBtn {
        display: block !important;
    }
    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
</style>
<link href="~/Content/css/chosen.css" rel="stylesheet" />
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCompressorCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCompressorRequestedTabName" })
    @Html.HiddenFor(m => m.RLADetails.RLADetails, new { @id = "hdnRLADetails" })
    @Html.HiddenFor(m => m.CurrentCompressorModelID, new { @id = "hdnModelID" })
    <input type="hidden" id="hdnIsFieldValid" />
    <input type="hidden" id="hdnIsRLAValid" value="false" />
    
    <fieldset>
        <legend class="pull-left width-full m-t-10">
            <i class="fa fa-archive"></i> RLA Details
            @*<span class="pull-right m-t-5 m-r-10"><a class="btn btn-green btn-sm m-l-5 pull-right" href="#">Submit Record</a></span>*@
        </legend>
        <!-- begin row -->

        <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary p-b-10">
            <div class="panel-heading m-0">
                <h4 class="panel-title">
                    <b>Voltage Details</b>
                    @if (Model.AllowEdit == true)
                    {
                        <a id="addbottom" class="btn btn-green btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add Voltage Type</a>

                    }
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 m-0 p-0">
            <div id="divVoltageType" class="grid-container">
            </div>
            <label id="lblRLAFieldsError" style="display:none; font-weight:bold;color:red">Required fields are missing</label>
            <div class="clearfix"></div>
        </div>

        <!-- begin col 12 -->
        <div class="col-md-12 m-0 m-b-15 p-l-15 p-r-15">
            <hr class="m-b-15">
            <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#" onclick="OpenDesiredCompressorTab('_CompressorDetails')">← Previous</a></li><li class="next" onclick="OpenDesiredCompressorTab('_BOMDetails')" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
            <input type="button" hidden="hidden" value="Hidden RLA Details" id="hdnBtnSetRLADetails" />
            <div class="clearfix"></div>
        </div>
        <!-- end col-12 -->
        <!-- end row -->
    </fieldset>
</div>

@*<script>
        $("#btnAddVoltageDetails").click(function () {
            $("#voltageType").val('');
            var objVoltage = [];
            var count = 0;
            var strVoltageType = "";
            $('.radioVoltageType:checkbox:checked').each(function () {
                //change event not trigger on readonly textbox
                //to trigger this function, change() method is append to val() method
                count++;
                var CompRLAVoltage = {};
                CompRLAVoltage.CompRLAVoltage_ID = null;
                CompRLAVoltage.CompRLA_ID = null;
                CompRLAVoltage.Voltage_ID = $(this).val();


                objVoltage.push(CompRLAVoltage);
                $('#voltageType').val($(this).data("type")).change();
                strVoltageType = strVoltageType + $(this).data("type") + " ";

            });
            if (count === 0) {
                $("#voltageType").val('');
                $("#validationVoltageType").show();
            }
            else
            {
                $("#voltageType").val(strVoltageType);
            }
            $('#hdnCompRLAVoltage').val(JSON.stringify(objVoltage));
        });

        $("#btnClear").click(function () {
            $('.radioVoltageType:checkbox').prop('checked', false);
            $('#voltageType').val('').change();
            $('#voltageType').removeAttr('value');
            //$('#voltageType').prop('readonly', true);
        });


        $("#voltageType").change(function () {
            $('#hdnIsEditedAfterApprove').val(true);
            if ((!$("#voltageType").attr("value")) && ($("#voltageType").val() === "" || $("#voltageType").val() === null)) {
                $("#validationVoltageType").show();
            }
            else {
                $("#validationVoltageType").hide();
            }
        });
    </script>*@


<!-- Excel Editable Table Grid START HERE-->
<script>

    $(window).load(function () {
        var screenWidth = screen.width - 155; //165

    var htRemoveRow = new removeRow();

    Handsontable.hooks.add('beforeInitWalkontable', function (walkontableConfig) {
        htRemoveRow.beforeInitWalkontable.call(this, walkontableConfig);
    });

    Handsontable.hooks.add('beforeInit', function () {
        htRemoveRow.init.call(this)
    });

    Handsontable.hooks.add('afterUpdateSettings', function () {
        htRemoveRow.init.call(this)
    });

    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
    var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.RLADetails)));
    var wiringSizeList = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.WiringSizeID)));
    var voltageTypeList = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.Voltages)));
    var vendorVoltageCodeType = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.VendorVoltageCode)));
    var nimaList = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.NEMAID)));
    var dpList = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.DPID)));
    var breakerList = $.parseJSON(@Html.Raw(Json.Encode(Model.RLADetails.BreakerID)));
    var validFields = true;

    var readOnlyEnable;
    var allowPlugin;
    if (allowEdit === true || allowEdit === "true") {
        readOnlyEnable = false;
        allowPlugin = true;
    }
    else {
        readOnlyEnable = true;
        allowPlugin = false;
    }

    
       // var gridData = null;
        var removedVoltages = [];
        var objectData = gridData,
        configurations = document.getElementById('divVoltageType'),
        PartNumberValidator,
        PartDescriptionValidator,
        NumericValidator,
        hot;


        NullValidatorForRLA = function (value, callback) {
            setTimeout(function () {
                var twoDecimalPlaces = parseFloat(value);
                var isnumeric = $.isNumeric(value);
                var lengthBeforeDecimal = value.toString().split(".")[0];
                if ((parseFloat(value) != twoDecimalPlaces.toFixed(2)) || isnumeric === false || lengthBeforeDecimal.length > 12) {
                    if (value === null || value.length === 0) {
                        $("#lblRLAFieldsError").text("");
                        $('#lblRLAFieldsError').hide();
                        disableRemoveRowButton(false)
                        $(".removeRowBtn").
                        callback(true);
                    }
                    else {
                        $("#lblRLAFieldsError").text("Invalid Entry in RLA");
                        $('#lblRLAFieldsError').show();
                        $('#hdnIsRLAValid').val('true');
                       // $(".removeRowBtn").attr("disabled", "disabled").off('click');
                        disableRemoveRowButton(true);
                        callback(false);

                    }

                }
                else {
                    $("#lblRLAFieldsError").text("");
                    $('#lblRLAFieldsError').hide();
                    $('#hdnIsRLAValid').val('false');
                    disableRemoveRowButton(false);
                    callback(true);
                }
            }, 1);
        };


        function disableRemoveRowButton(check)
        {
            $(".removeRowBtn").each(function () {
                if(check===true)
                    $(this).addClass("disabledbutton");
                else
                    $(this).removeClass("disabledbutton");

            });

        }


    config = {
        data: objectData,
        minSpareRows: 0,
        autoWrapRow: true,
        outsideClickDeselects: true,
        editor: false,
        //colHeaders: true,
        colHeaders: ['Voltage Type (*)', 'RLA (*)', 'Vendor Voltage Code Type (*)', 'Wiring Size (*)','NEMA (*)','DP (*)','Breaker (*)'],
        contextMenu: false,
        columnSorting: false,
        manualColumnResize: false,
        sortIndicator: true,
        columnSorting: true,
        rowHeaders: false,
        colWidths: 100,
        //width: screenWidth - 100,
        //stretchH: 'all',//ll
        removeRowPlugin: allowPlugin,
        readOnly: readOnlyEnable,
        colWidths: [(screenWidth / 5.75), (screenWidth / 7), (screenWidth / 6.4), (screenWidth / 7), (screenWidth / 7), (screenWidth / 7), (screenWidth / 7.5)],
        allowInvalid: false,
        //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
        fillHandle: {
            autoInsertRow: false,
        },
        columns: [
            //{
            //    data: "ModelId",
            //    readOnly:true

            //},
            {
                data: 'Voltage_ID',
                renderer: DropdownRendererForVoltageType,
                editor: "chosen",
                //width: 150,
                chosenOptions: {
                    data: voltageTypeList
                }
            },
            {
                 data: 'RLA',
                 type: 'numeric',
                 numericFormat: {
                    pattern: '0.00',
                    culture: 'en-US' // this is the default culture, set up for USD
                },
                validator: NullValidatorForRLA
            },
            {
                data: 'VendorVoltageCode_ID',
                renderer: customDropdownRenderer,
                editor: "chosen",
                //width: 150,
                chosenOptions: {
                    data: vendorVoltageCodeType
                }
            },
            {
                data: 'WiringSize',
                renderer: customDropdownRenderer,
                editor: "chosen",
                //width: 150,
                chosenOptions: {
                    data: wiringSizeList
                }
            },
            {
                data: 'NEMA',
                 renderer: customDropdownRenderer,
                 editor: "chosen",
                 //width: 150,
                chosenOptions: {
                    data: nimaList
                 }
            },
             {
                 data: 'DP',
                renderer: customDropdownRenderer,
                editor: "chosen",
                //width: 150,
                 chosenOptions: {
                     data: dpList
                }
            },
              {
                  data: 'Breaker',
                renderer: customDropdownRenderer,
                editor: "chosen",
                //width: 150,
                  chosenOptions: {
                      data: breakerList
                }
            }
            

        ]
    };


        $('#addbottom').on('click', function () {
            if (hot.getData().length < removedVoltages.length + voltageTypeList.length) {
                $('#hdnIsEditedAfterApprove').val(true);
                hot.alter('insert_row', 0);
            }

    });

   $('#hdnBtnSetRLADetails').on('click', function () {
        var array = hot.getData();
        var gridObjects = [];
        validFields = true;
        array.forEach(function (row, rowIndex) {
            gridObjects.push(new rowObject(row, rowIndex));
       });
    
       $("#hdnRLADetails").val(JSON.stringify(gridObjects));
    });

    configurations = document.getElementById('divVoltageType');
    hot = new Handsontable(configurations, config);


    function rowObject(data) {
       
        var self = this;
        if (data[0] == '' || data[0] == "" || data[0] == undefined) {
            data[0] = null;
            validFields = false;
        }
        self.Voltage_ID = data[0];
        self.CompModel_ID = parseInt($("#hdnModelID").val()); 
        if (data[1] == '' || data[1] == "" || data[1] == undefined) {
            data[1] = null;
            validFields = false;
        }
      
        self.RLA = data[1];
        if (data[2] == '' || data[2] == "" || data[2] == undefined) {
            data[2] = null;
            validFields = false;
        }
        self.VendorVoltageCode_ID = data[2];
        if (data[4] == '' || data[4] == "" || data[4] == undefined) {
            data[4] = null;
            validFields = false;
        }
        self.NEMA = data[4];

        if (data[5] == '' || data[5] == "" || data[5] == undefined) {
            data[5] = null;
            validFields = false;
        }
        self.DP = data[5];
        if (data[6] == '' || data[6] == "" || data[6] == undefined) {
            data[6] = null;
            validFields = false;
        }
        self.Breaker = data[6];

        if (data[3] == '' || data[3] == "" || data[3] == undefined) {
            data[3] = null;
            validFields = false;
        }
        self.WiringSize = data[3];
        $('#hdnIsFieldValid').val(validFields);
     
    };


    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else
        {
            if (changes[0][3] == "")
            {
                changes[0][3]=changes[0][2];
            }
            $('#hdnIsEditedAfterApprove').val(true);

        }
      

        });
     hot.addHook('beforeChange', function (changes,source) {
            if (!changes) {
                return;
            }
            else {
                if (changes[0][3] == "") {
                    changes[0][3] = changes[0][2];
                }
                $('#hdnIsEditedAfterApprove').val(true);
            }
          

        });
        hot.addHook('afterRemoveRow', function (index, amount) {

            $('#hdnIsEditedAfterApprove').val(true);
            var voltages = hot.getData();
           
                
                for (j = 0; j < removedVoltages.length; j++)
                {
                    var count = 0;
                    for (i = 0; i < voltages.length; i++) {

                    if (parseInt(voltages[i][0]) == parseInt(removedVoltages[j].id)) {

                            count++;
                        }
                    }
                    if (count == 0)
                    {
                        voltageTypeList.push(removedVoltages[j]);
                        removedVoltages.splice(j, 1);
                    }
            }
 
            
    });
    hot.addHook('afterCreateRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
     
    });

   function customDropdownRenderer(instance, td, row, col, prop, value, cellProperties) {
        var selectedId;
        var optionsList = cellProperties.chosenOptions.data;

        if (typeof optionsList === "undefined" || typeof optionsList.length === "undefined" || !optionsList.length) {
            Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
            return td;
        }

        var values = (value + "").split(",");
        value = [];
        for (var index = 0; index < optionsList.length; index++) {

            if (values.indexOf(optionsList[index].id + "") > -1) {
                selectedId = optionsList[index].id;
                value.push(optionsList[index].label);
            }
        }
        value = value.join(", ");

        Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);

       return td;
        }
   function DropdownRendererForVoltageType(instance, td, row, col, prop, value, cellProperties) {
            var selectedId;
            var optionsList = cellProperties.chosenOptions.data;
            var identifier = value;
          
            //if (typeof optionsList === "undefined" || typeof optionsList.length === "undefined" || !optionsList.length) {
            //    Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
            //    return td;
            //}

            var values = (value + "").split(",");
            value = [];
            for (var index = 0; index < optionsList.length; index++) {

                if (values.indexOf(optionsList[index].id + "") > -1) {
                    selectedId = optionsList[index].id;
                    value.push(optionsList[index].label);
                }
            }
            value = value.join(", ");
            
            if (value == "") {
                if (hot != undefined) {
                    valueId = hot.getDataAtCell(row, 0);
                    for (k = 0; k < removedVoltages.length; k++) {
                        if (removedVoltages[k].id == valueId) {
                            value = removedVoltages[k].label;
                            Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
                            break;
                        }
                    }
                }
            
             Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);

            } else {
                Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
                if (hot != undefined) {
                var array = hot.getData();
                var gridObjects = [];


                array.forEach(function (row, rowIndex) {
                    gridObjects.push(new rowObject(row, rowIndex));
                });
                for (i = 0; i < gridObjects.length; i++) {

                    if (gridObjects[i].Voltage_ID == identifier) {
                        var objRemovedVolt = {};
                        objRemovedVolt.id = parseInt(identifier);
                        objRemovedVolt.label = value;
                        removedVoltages.push(objRemovedVolt);

                        for (j = 0; j < voltageTypeList.length; j++) {
                            if (voltageTypeList[j].id === objRemovedVolt.id) {
                                voltageTypeList.splice(j, 1);
                                break;
                            }

                        }
                        break;

                    }


                }
                var voltages = hot.getData();


                for (j = 0; j < removedVoltages.length; j++) {
                    var count = 0;
                    for (i = 0; i < voltages.length; i++) {

                        if (parseInt(voltages[i][0]) == parseInt(removedVoltages[j].id)) {

                            count++;
                        }
                    }
                    if (count == 0) {
                        voltageTypeList.push(removedVoltages[j]);
                        removedVoltages.splice(j, 1);
                    }
                }
            }
            }
           

             
      
            return td;
        }

    });




</script>
<!--  Voltage type Excel Editable Table Grid START HERE-->
