﻿
@{
    ViewBag.Title = "AddCompressor";
}
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Add Compressor</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                  @using (Html.BeginForm("AddCompressor", "Compressor", FormMethod.Post, new { name = "Compressor", id = "compressor" }))
                  {
                        <div id="wizard">
                            <ol>
                                <li class="list-width active">
                                    <i class="fa fa-th-list"></i> Compressor Details
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-archive" aria-hidden="true"></i> RLA Details
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-cogs"></i> BOM Details
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-money"></i> Coefficients
                                </li>
                            </ol>
                            <!-- Compressor Details step-1 -->
                            @Html.Partial("_CompressorDetails")
                          
                        </div>
                  

                    <!-- end panel -->
                    <!-- begin col 12 -->
                    <div class="col-md-12 p-l-20 p-r-0 m-t-20 p-0 ui-sortable">
                        <input href="#" class="btn btn-primary btn-md m-l-5 pull-right" value="Save" type="submit">
                        <a href="/Home/Index" class="btn btn-white btn-md pull-right">Cancel</a>
                        <div class="clearfix"></div>
                    </div>
                    }
                    <!-- end col-12 -->
                </div>



            </div>
        </div>
        <!-- end col-8 -->

    </div>
    <!-- end row -->
</div>

