﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Search Unit Cooler</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                    <form action="javascript:;" method="POST">
                        <div id="wizard">
                            <ol>
                                <li>
                                    <i class="fa fa-th-list"></i> Unit Cooler Details  
                                </li>
                                <li>
                                    <i class="fa fa-archive" aria-hidden="true"></i> Accessories
                                </li>
                                <li>
                                    <i class="fa fa-cogs"></i> Configurations
                                </li>
                                <li>
                                    <i class="fa fa-money"></i> Pricing
                                </li>
                            </ol>
                            <!-- Unit Cooler Details step-1 -->
                            @Html.Partial("_UnitCoolerDetails")
                            <!-- Unit Cooler Details step-1 -->
                            <!-- Accessories step-2 -->
                            @Html.Partial("_Accessories")
                            <!-- Accessories step-2 -->
                            <!-- Configurations step-3 -->
                            @Html.Partial("_Configurations")
                            <!-- Configurations step-3 -->
                            <!-- Pricing step-4 -->
                            @Html.Partial("_Pricing")
                            <!-- Pricing step-4 -->
                        </div>
                    </form>

                    <!-- end panel -->
                    <!-- begin col 12 -->
                    <div class="col-md-12 p-r-15 p-0">
                        <a href="#" class="btn btn-primary btn-md m-l-5 pull-right">Save</a><a href="#" class="btn btn-white btn-md pull-right" >Cancel</a>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end col-12 -->
                </div>

               

                </div>
            </div>
                <!-- end col-8 -->

            </div>
            <!-- end row -->
        </div>


<script type='text/javascript'>
    $("#nav").hide();
</script>
