﻿@model Hussmann.Models.Compressor.AddCompressorViewModel
@using Hussmann.Common.Enumeration;
@{
    ViewBag.Title = "EditCompressor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Edit Compressor</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                    @using (Html.BeginForm("EditCompressor", "Compressor", FormMethod.Post, new { name = "Compressor", id = "compressor" }))
                    {
                        <div id="wizard">
                            <ol>
                                <li class="list-width remove" onclick="OpenDesiredCompressorTab('_CompressorDetails')" id="_CompressorDetails">
                                    <i class="fa fa-th-list"></i> Compressor Details
                                </li>
                                <li class="list-width" onclick="OpenDesiredCompressorTab('_RLADetails')" id="_RLADetails">
                                    <i class="fa fa-archive" aria-hidden="true"></i> RLA Details
                                </li>
                                <li class="list-width" onclick="OpenDesiredCompressorTab('_BOMDetails')" id="_BOMDetails">
                                    <i class="fa fa-cogs"></i> BOM Details
                                </li>
                                <li class="list-width" onclick="OpenDesiredCompressorTab('_Coefficients')" id="_Coefficients">
                                    <i class="fa fa-money"></i> Coefficients
                                </li>
                            </ol>
                            <span style="display:block; margin:14px 20px; float:right; position:absolute; right:0px;">
                                <label class="m-t-5 m-r-5" style="text-align:left">State : @Model.CurrentCompressorState , Version : @Model.CurrentCompressorVersion</label>
                                @Html.ActionLink("Approve Record", "ChangeCompressorState", new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Approved) }, new { @style = (Model.CanApproveRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Move to Draft", "ChangeCompressorState", new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Draft) }, new { @style = (Model.CanMoveToDraft ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Submit Record", "ChangeCompressorState", new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Submitted) }, new { @style = (Model.CanSubmitRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Reject Record", "ChangeCompressorState", new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Rejected) }, new { @style = (Model.CanRejectRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @if (@Model.CanDeleteRecord == true)
                                {
                                    <a class="btn btn-green btn-sm m-l-5 pull-right" data-href=@Url.Action("ChangeCompressorState", "Compressor", new RouteValueDictionary(new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Deleted) })) data-status="Inactivate" data-toggle="modal" data-target="#confirm-status">Delete</a>
                                }

                            </span>
                            <div class="clear"></div>
                        </div>
                            <!-- Compressor Details step-1 -->
                        <div id="PartialView">
                            @Html.Partial(Model.CurrentTabName)
                        </div>

                        @Html.HiddenFor(m => m.CurrentCompressorModelID, new { Value = Model.CurrentCompressorModelID, @id = "hdnCompressorModelID" })
                        @Html.HiddenFor(m => m.IsEditedAfterApprove, new { @id = "hdnIsEditedAfterApprove" })
                        @Html.HiddenFor(m => m.AllowEdit, new { @id = "hdnAllowEdit" })
                        @Html.HiddenFor(m => m.RedirectTo, new { @id = "hdnRedirectTo" })
                        @Html.HiddenFor(m => m.SearchQuery, new { @id = "hdnSearchQuery" })
                        @Html.HiddenFor(m => m.IsCoefficientsGridValid, new { @id = "hdnCoefficientsGridValid" });

                    }
                    <!-- end panel -->
                    <!-- begin col 12 -->
                    <div class="col-md-12 p-l-20 p-r-0 m-t-20 p-0 ui-sortable">
                        <input href="#" class="btn btn-primary btn-md m-l-5 pull-right" id="btnSave" value="Save" type="submit">
                        <a href="#" class="btn btn-white btn-md pull-right" id="btnCancelCompressor">Cancel</a>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end col-12 -->
                </div>



            </div>
        </div>
        <!-- end col-8 -->

    </div>
    <!-- end row -->
</div>

<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Alert!
            </div>
            <div class="modal-body">
                Are you sure you want to Delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="btnpost" class="btn btn-danger btn-ok" href="@Url.Action("ChangeCompressorState", "Compressor", new RouteValueDictionary(new { modelId = Model.CurrentCompressorModelID, state = Convert.ToInt32(enState.Deleted) }))">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .remove {
        transition: none;
        color: #f0f3f4 !important;
    }
</style>

<script>
    //disabled all control for DataReader
    $(window).load(function () {
        var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
        if (allowEdit == false)
        {
            $("#btnSave").hide();
            $(".btnAddModal,.btnClearModal").hide();

            $('input,select').attr('readonly', true);
            $('input,select').css("pointer-events", "none");
            // $('input,select').attr("disabled", true);
            document.getElementById("btnSave").disabled = true;
        }
    });

    //if($("#hdnCapReductInitialLoad").val() == null ||
    //    $("#hdnCapReductInitialLoad").val() == 'undefined' ||
    //    $("#hdnCapReductInitialLoad").val() == '') {
    //    //set value to true to create new version of modified approved model.
    //    $('input,select').on('change', function () {
    //        $('#hdnIsEditedAfterApprove').val(true);
    //    });
    //}

    $(document).ready(function () {
        //Set IsEditedAfterApprove to false to prevent data submission
        $('#hdnIsEditedAfterApprove').val(false);

            $('#_CompressorDetails').addClass('').removeClass('active');
            // $('#lblDimensionModel').hide();
            setTimeout(function () {

                activeTab = @Html.Raw(Json.Encode(Model.CurrentTabName));
                //var activeTab = $("#hdnCondenserCurrentTabName").val();
                if (activeTab != '_CompressorDetails')
                {
                    $('#_CompressorDetails').addClass('').removeClass('active');
                    document.getElementById(activeTab).classList.add('active');
                }
            }, 1);

        //Select Voltage Type in RLA Details Tab on page Load
        $('.radioVoltageType:radio').each(function () {
            if($(this).val() == $("#hdnVoltageID").val())
            {
                $(this).prop('checked', true);
            }
        });

        //Select Compressor Vendor in BOM Details Tab on page Load
        $('.radioCompVendorList:radio').each(function () {
            if($(this).val() == $("#hdnCompVendorID").val())
            {
                $(this).prop('checked', true);
            }
        });

        //Select Temp Range in BOM Details Tab on page Load
        $('.radioTempRangeList:radio').each(function () {
            if($(this).val() == $("#hdnTempRangeID").val())
            {
                $(this).prop('checked', true);
            }
        });
    });

    $('input,select').on('change', function () {
        $('#hdnIsEditedAfterApprove').val(true);
    });

    //On Saving Compressor from EditCompressor
    $("#btnSave").click(function (event) {
        var isValidate;
        var Tab = {
            CompressorDetails: '_CompressorDetails',
            RLADetails: '_RLADetails',
            BOMDetails: '_BOMDetails',
            Coefficients: '_Coefficients'
        };

        var activeTab = @Html.Raw(Json.Encode(Model.CurrentTabName));
        if (activeTab == Tab.Coefficients)
        {
            event.preventDefault();
            var btn = $("#hdnBtnSetCoefficients");
            btn.click();
            var IsCoefficientsGridValid = $("#hdnCoefficientsGridValid").val();
            if(IsCoefficientsGridValid == false || IsCoefficientsGridValid == "False" || IsCoefficientsGridValid == "false") {
                $("#hdnCompressorRequestedTabName").val(activeTab);
                setTimeout(function () {
                    $('#_CompressorDetails').addClass('').removeClass('active');
                    document.getElementById(activeTab).classList.add('active');
                }, 10);
            }
            else {
                $("#compressor").submit();
            }
        }
        else if(activeTab == Tab.BOMDetails)
        {
            isValidate = validateBOMDetails();
            if(isValidate) {
                event.preventDefault();
                $("#compressor").submit();
            }
        }
        else if(activeTab == Tab.RLADetails)
        {
            event.preventDefault();
            var btn1 = $("#hdnBtnSetRLADetails");
            btn1.click();
            if (($('#hdnIsFieldValid').val() === true || $('#hdnIsFieldValid').val() === 'true') && $('#hdnIsRLAValid').val() === "false") {
                $('#lblRLAFieldsError').hide();
                $("#compressor").submit();

            }
            else if ($('#hdnIsRLAValid').val() === "true") {
                $("#lblRLAFieldsError").text("Invalid Entry in RLA");
                $('#lblRLAFieldsError').show();
            }
            else {
                $("#lblRLAFieldsError").text("Missing required fields (*)");
                $('#lblRLAFieldsError').show();
            }
    
           
        }
        else if(activeTab == Tab.CompressorDetails)
        {
            event.preventDefault();
            $("#compressor").submit();
        }
    });

    //On Cancel Compressor Edir Screen
    $('#btnCancelCompressor').click(function (event) {
        var redirectTo = $('#hdnRedirectTo').val();
        var queryString =  @Html.Raw(Json.Encode(Model.SearchQuery));
        if (redirectTo === "SearchCompressor")
        {

            // changing logic
            if (queryString != "" || queryString != null)
            {
                queryString = "&" + queryString;
                var modelNumber = getParameterByName('modelNumber', queryString);
                var compressorTypeId = getParameterByName("compressorTypeId", queryString);
                var compressorSeriesId = getParameterByName("compressorSeriesId", queryString);
                var compressorVendor = getParameterByName("compressorVendor", queryString);
                var statusId = getParameterByName("statusId", queryString);
                var pinned = getParameterByName("pinned", queryString);
                var url = '@Url.Action("../Compressor/SearchCompressor")' + '?modelNumber=' + modelNumber
                    + '&' + 'compressorTypeId=' + compressorTypeId
                    + '&' + 'compressorSeriesId=' + compressorSeriesId
                    + '&' + 'compressorVendor=' + compressorVendor
                    + '&' + 'statusId=' + statusId
                    + '&' + 'pinned=' + pinned;
                location.href = url;
            }
            else
            {
                location.href = '@Url.Content("~/"+ enCompressorController.Compressor +"/"+ enCompressorAction.SearchCompressor )';
            }

        }
        else if (redirectTo === "Index")
        {
            location.href = '@Url.Content("~/"+enController.Home+"/"+enAction.Index+"")';
        }
    });

    function getParameterByName(name, url) {

        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>