﻿@model IEnumerable<Hussmann.Models.Compressor.RefrigerantType.RefrigerantTypeViewModel>
@{
    ViewBag.Title = "ManageRefrigerantType";
}


<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Manage Refrigerant Type</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Search Results</b></h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Short Name</th>
                                <th>Description</th>
                                <th>Active</th>
                                <th>Obsolete</th>
                                <th width="20px">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var RefrigrentType in Model)
                            {
                                <tr>
                                    <td>@RefrigrentType.RefrigerantType1</td>
                                    <td>@RefrigrentType.RefrigerantDescr</td>
                                    <td><input type="checkbox" @(RefrigrentType.Active == true ? "checked" : null) disabled="disabled" /></td>
                                    <td><input type="checkbox" @(RefrigrentType.Active == false ? "checked" : null) disabled="disabled" /></td>

                                    <td class="text-center"><a onclick="EditRefrigerantType(@RefrigrentType.RefrigerantType_ID)" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            }
                                @*<tr class="odd gradeX">
                                    <td>S</td>
                                    <td>R404A</td>
                                    <td><input type="checkbox" checked /></td>
                                    <td><input type="checkbox" /></td>
                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>P</td>
                                    <td>R507A</td>
                                    <td><input type="checkbox" checked /></td>
                                    <td><input type="checkbox" /></td>
                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>T</td>
                                    <td>R448A</td>
                                    <td><input type="checkbox" /></td>
                                    <td><input type="checkbox" checked /></td>
                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr>
                                    <td>R</td>
                                    <td>R449A</td>
                                    <td><input type="checkbox" checked /></td>
                                    <td><input type="checkbox" /></td>
                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>q</td>
                                    <td>R407A</td>
                                    <td><input type="checkbox" checked /></td>
                                    <td><input type="checkbox" /></td>
                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>*@
                                
                            </tbody>
                    </table>

                    <div id="EditRefrigerantTypePartialView">
                        @Html.Partial("AddRefrigerantType", new Hussmann.Models.Compressor.RefrigerantType.RefrigerantTypeViewModel())
                    </div>

                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->
    </div>
    <!-- end row -->
</div>

<script>
     function EditRefrigerantType(refrigerantTypeID)
     {
         $('#EditRefrigerantTypePartialView').load('@(Url.Action("ManageRefrigerantType", "Compressor",null, Request.Url.Scheme))?refrigerantTypeID=' + refrigerantTypeID);

         $("html, body").animate({
             scrollTop: $(document).height() - $(window).height()
         });
     }
    $(document).ready(function () {
        $('#btnSaveRefrigerant').val("Add");
        $('#data-table').DataTable();
        });

</script>



