﻿

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-talign-right {
        text-align: right;
    }
</style>


<div id="nav" class="p-t-0 sidebar">
    @Html.Partial("_LeftTraySearchCompressor")
</div>
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Search Compressor</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Search Results</b></h4>
                </div>
                <div class="panel-body p-t-0 panel-overflow-auto">
                        <table id="data-table" class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>Model Number</th>
                                    <th>Compressor Type</th>
                                    <th>Compressor Series</th>
                                    @*<th>Refrigerant Type</th>*@
                                    <th>Vendor</th>
                                    <th>Status</th>
                                    <th>Version</th>
                                    <th>Modified On</th>
                                    <th>Modified By</th>
                                    <th>Active/Inactive</th>
                                    <th>@ViewBag.EditOrView</th>
                                    <th>Export</th>
                                </tr>
                            </thead>
                        </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->




    </div>
    <!-- end row -->
</div>

<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Alert!
            </div>
            <div class="modal-body">
                Are you sure you want to <span id="model-status"> </span> this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="btnpost" class="btn btn-danger btn-ok">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var val = $('#hdnCondenserPinnedTab').val();
        if (val === "True" || val === "true" || val === true) {

            setTimeout(function () {
                $('#nav').stop().animate({ 'margin-left': '0px' }, 1000);
                $(".nav-btn").html('<img src="/Content/img/slide-out.png" alt="open" />')
                $(".nav-hide").html('<img src="/Content/img/auto_hide_open_icon.png" alt="open" />')
                $(".content").css({ 'margin-left': '320px' });

            }, 1);
        }

        var queryString = $('#hdnQueryString').val();
        var url = window.location.href;
        var splitedUrl = url.split('?');

        var parameters = splitedUrl[1];
        $('#hdnQueryString').val(parameters);

        var modelNumber = @Html.Raw(Json.Encode(ViewBag.ModelNumber));
        var compTypeId = @Html.Raw(Json.Encode(ViewBag.TypeId));
        var compSeriesId = @Html.Raw(Json.Encode(ViewBag.SeriesId));
        var refrigerantTypeId = @Html.Raw(Json.Encode(ViewBag.RefrigerantTypeId));
        var compVendorId = @Html.Raw(Json.Encode(ViewBag.VendorId));
        var statusId = @Html.Raw(Json.Encode(ViewBag.StatusId));
        var userType = @Html.Raw(Json.Encode(ViewBag.userType));
        var iconImage = @Html.Raw(Json.Encode(ViewBag.IconImage));
        var ViewOrEdit = @Html.Raw(Json.Encode(ViewBag.EditOrView));
        var pagenum = $("#hdnPagenum").val();

        var table = $('#data-table').DataTable({
            "sDom": "<'row'<'col-md-6 col-sm-6'l><'col-md-6 col-sm-6'f>r>t<'row'<'col-md-6 col-sm-6'i><'col-md-6 col-sm-6'p>>",
            // "sPaginationType": "bootstrap",
            "bFilter": true,
            "aaSorting": [[6, 'desc']],
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            },
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "responsive": true,
            "iDisplayStart": pagenum,
            "ajax":
            {

                "data": function (d, settings) {
                    var api = new $.fn.dataTable.Api(settings);
                    //string modelNumber, int? compressorTypeId, int? compressorSeriesId, int? refrigerantTypeId,
                    //int? compressorVendorId, int? statusId, string Page
                    d.modelNumber = modelNumber;
                    d.compressorTypeId = compTypeId;
                    d.compressorSeriesId = compSeriesId;
                    d.refrigerantTypeId = refrigerantTypeId;
                    d.compressorVendorId = compVendorId;
                    d.statusId = statusId;
                    d.Page = Math.min(
                        Math.max(0, Math.round(d.start / api.page.len())),
                        api.page.info().pages);
                    pagenum = d.Page;

                },
                "url": '/Compressor/GetCompressorData',
                "type": "POST",
                "dataType": "JSON"
            },

            "columns": [
                {
                    "data": "ModelNumber"
                },
                {
                    "data": "CompTypeDescr"
                },
                {
                    "data": "CompSeries"
                },
                //{
                //    "data": "RefrigerantType"
                //},
                {
                    "data": "CompVendor"
                },
                {
                    "data": "StateDescription"
                },
                {
                    "data": "Version"
                },
                {
                    "data": "LastModifiedOn"
                },
                {
                    "data": "ActionBy"
                },
                {

                },
                {

                },
                {

                }
            ],
            "columnDefs": [
            {
                "targets": 8,
                "bSortable": false,
                "data": function (row, type, val, meta) {
                    {
                        if(userType == 'Reader')
                        {
                            if(row.StateDescription == 'Deleted')
                            {
                                return 'Inactive';
                            }
                            else
                            {
                                return 'Active';
                            }
                        }
                        else
                        {
                            if(row.StateDescription == 'Deleted')
                            {
                                var href = '@Url.Action("ChangeCompressorStateFromSearch", "Compressor")?modelId=' + row.CompModel_ID + '&state=' + null;
                                return '<a style="cursor:pointer;" data-href=' + href + ' data-status="Activate" data-toggle="modal" data-modelid="' + row.CompModel_ID + '" data-target="#confirm-status" > Inactive</a >';
                            }
                            else
                            {
                                var href = '@Url.Action("ChangeCompressorStateFromSearch", "Compressor")?modelId=' + row.ModelID + '&state=' + null;
                                return '<a style="cursor:pointer;" data-href=' + href + ' data-status="Inactivate" data-toggle="modal" data-modelid=' + row.CompModel_ID + ' data-target="#confirm-status" > Activate</a >';
                            }
                        }
                    }
                }
            },
            {
                "targets": 9,
                "bSortable": false,
                "data": function(row, type, val, meta) {
                    {
                        var modelId = row.CompModel_ID;
                        if(ViewOrEdit == 'Edit')
                        {
                            return '<a id="btnViewModel" onclick="RedirectWithQueryString(' + modelId + ');" class="btn btn btn-primary btn-icon btn-circle btn-sm " data-modelid=' + modelId + '><i class="fa fa-pencil"></i></a>';
                        }
                        else if(ViewOrEdit == 'View')
                        {
                            return '<a id="btnViewModel" onclick="RedirectWithQueryString(' + modelId + ');" class="btn btn btn-primary btn-icon btn-circle btn-sm " data-modelid=' + modelId + '><i class="fa fa-eye"></i></a>';
                        }
                    }
                }
            },
            {
                "targets": 10,
                "bSortable": false,
                "data": function (row, type, val, meta) {
                    {
                        var href = '@Url.Action("DownloadCompressorExcelFile", "Compressor")?modelID=' + row.CompModel_ID;
                        return '<a href=' + href + '><img src="@Url.Content("~/Content/img/download.png")" class="p-t-0 p-b-5 img-responsive" style="height:30px;width:30px;background-color:inherit" alt="Download" title="Download" /></a>'
                    }
                }
            }
            ]
        });

        function processInfo(info) {
            pagenum = info.page;
            alert(pagenum);
        }
        $('#data-table').on('click', 'thead th', function () {

            $("#hdnPagenum").val(pagenum * 10);
            var page = $("#hdnPagenum").val();
            var mytable = $('#data-table').DataTable();
            mytable.iDisplayStart = parseInt(page);
            mytable.draw(pagenum, true);

            //alert($("#hdnPagenum").val());
        });
    });

    $('#confirm-status').on('show.bs.modal', function (e) {
        $("#model-status").html($(e.relatedTarget).data('status'));
        var modelId = $(e.relatedTarget).data('modelid');
        $(this).find('.btn-ok').bind("click", function (event) {

            $.ajax({
                url: '@Url.Action("ChangeCompressorStateFromSearch", "Compressor")',
                data: { modelId: modelId, state: null },
                type: 'GET',
                success: function (data) {
                    $('#searchCompressor').submit();
                }
            });
        });
    });

    function RedirectWithQueryString(modelID)
    {
        var queryString = $('#hdnQueryString').val();
        var url = window.location.href;
        var splitedUrl = url.split('?');


        var queryStringParameters = splitedUrl[1];
        if (queryStringParameters != null || queryStringParameters != undefined)
        {
            queryStringParameters = queryStringParameters.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '_');
        }
        else if (queryStringParameters == null || queryStringParameters == undefined)
        {
            queryStringParameters = "";
        }

        var RedirectTo = "SearchCompressor";

        var val = $('#hdnConmpressorPinnedTab').val();

        location.href = '@Url.Action("EditCompressor", "Compressor")?ModelID=' + modelID + '&RedirectTo=' + RedirectTo + '&queryStringParameters=' + queryStringParameters;
    }
</script>