﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div class="modal-content" id="main_div">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add More Control Options</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Control Panel Options</label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.SelectedControlPanelOptions[0].ID, new SelectList(Model.ControlPanel.ControlPanelOptions, "ID", "ControlPanelOptions1"),"Select Option", new { @class = "form-control", @onchange = "SetDataOnPopup(this.value);" })
                    @Html.ValidationMessageFor(addCondenser => addCondenser.ControlPanel.SelectedControlPanelOptions[0].ID)
                    @*<select class="form-control">
                            <option>Select Option</option>
                        </select>*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">List Price Adder</label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.TextBoxFor(addCondenser => addCondenser.ControlPanel.SelectedControlPanelOptions[0].ListPriceAdder, new { @class = "form-control", @Id = "ListPriceAdder", @readonly = true })
                    @*<input type="text" class="form-control" placeholder="">*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">BaaN Feature</label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.TextBoxFor(addCondenser => addCondenser.ControlPanel.SelectedControlPanelOptions[0].BaaNFeature, new { @class = "form-control", @Id = "BaaNFeature", @readonly = true })
                    @*<input type="text" class="form-control" placeholder="">*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">BaaN Option</label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.TextBoxFor(addCondenser => addCondenser.ControlPanel.SelectedControlPanelOptions[0].BaaNOption, new { @class = "form-control", @Id = "BaaNOption", @readonly = true })
                    @*<input type="text" class="form-control" placeholder="">*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->


        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" onclick="SetModalToDefault()">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal" onclick="SetOptionNameFeild()" id="AdddetailsBtn">Add Details</a>
    </div>
</div>
<!--End PartialView -->

<script>
 @*var ControlPanelOptionList = $.parseJSON(@Html.Raw(Json.Encode(Model.ControlPanel.ControlPanelOptionList)));
        function SetDataOnPopup(Id) {
           for (var c = 0; c < ControlPanelOptionList.length;c++)
            {
                if (ControlPanelOptionList[c].ID == Id)
                {
                    $("#ListPriceAdder").val(ControlPanelOptionList[c].ListPriceAdder)
                    $("#BaaNFeature").val(ControlPanelOptionList[c].BaaNFeature)
                    $("#BaaNOption").val(ControlPanelOptionList[c].BaaNOption)
                }
            }
     }*@
   
</script>
