﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    @Html.HiddenFor(m => m.CondenserCapacityData.CondenserCapacityGridData, new { @id = "hdnCondenserCapacityGridData" })
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-clock-o"></i> Condenser Capacity  </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Grid Section START HERE -->
            <div class="col-md-12 p-0">


                <div class="configurations-grid-container m-b-10" style="overflow-x:hidden; height:330px;">
                    <div id="condenserCapacity"></div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <!-- Grid Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <a href="#" id="condenserCapacityTabPrevious" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                <a href="#" id="condenserCapacityTabNext" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
                <label id="lblCondenserCapacityGridErrorMessage" class="custom-validation-message text-danger pull-right"></label>
                <a href="#" id="hdnButtonCondenserCapacity" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
            </div>


        </div>
    </fieldset>
</div>

<script data-jsfiddle="condenserCapacity">
    $(document).ready(function () {

        var screenWidth = screen.width;

        var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.CondenserCapacityData.CondenserCapacityGridData)));
    //var obj = gridData;
    //var condenserCapacityGridData = [];
    //for (i in obj) {
    //    var temp = [];
    //    temp.push(obj[i].RefregerantTypeName);
    //    temp.push(obj[i].CondCapacityID_);
    //    temp.push(obj[i].ModelID);
    //    temp.push(obj[i].RefrigerantTypeID);
    //    temp.push(obj[i].Capacity);
    //    condenserCapacityGridData.push(temp);
    //}

        NullValidator = function (value, callback) {
            setTimeout(function () {
                var twoDecimalPlaces = parseFloat(value);
                var isnumeric = $.isNumeric(value);
                var lengthBeforeDecimal = value.toString().split(".")[0];
                if ((value.length === 0 || value === null || parseFloat(value) != twoDecimalPlaces.toFixed(5)) || isnumeric === false || (isnumeric === true && value < 0)  || lengthBeforeDecimal.length > 13) {
                    $("#hdnCondenserCapacityGridValid").val(false);
                    $("#lblCondenserCapacityGridErrorMessage").text('Invalid Data in Grid');
                    callback(false);
                }
                else {
                    $("#hdnCondenserCapacityGridValid").val(true);
                    $("#lblCondenserCapacityGridErrorMessage").text("");
                    callback(true);
                }
            }, 100);
        };

    var objectData = gridData,
        configurations = document.getElementById('condenserCapacity'),
        NullValidator,
        hot;
    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
              //  var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = false;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


    config = {
        data: objectData,
        minSpareRows: 0,
        autoWrapRow: true,
        contextMenu: false,
        columnSorting: true,
        manualColumnResize: false, // prevent dragging to resize columns
        manualRowResize: false,
        sortIndicator: true,
        removeRowPlugin: allowPlugin,
        readOnly: readOnlyEnable,
        outsideClickDeselects: false,
        rowHeaders: true,
        colHeaders: true,
        colWidths: [0.1, screenWidth/2.2, screenWidth/2.2, 0.1, 0.1],
        width: screenWidth,
        colHeaders: ['1', 'Refrigerant Type','Condenser Capacity','4','5'],
        columns: [
            {
                data: "ModelID",
                readOnly: true
            },
            {
                data: 'RefregerantTypeName',
                type: 'text',
                readOnly: true
            },
            {
                data: 'Capacity',
                type: 'numeric',
                numericFormat: {
                    pattern: '0.00000',
                    culture: 'en-US' // this is the default culture, set up for USD
                },
                validator: NullValidator
            },
            {
                data: 'CondCapacityID_',
                readOnly: true
            },
            {
                data: 'RefrigerantTypeID',
                readOnly: true
            }],
        //readOnly: false,
        allowInvalid: false,
        fillHandle: {
            autoInsertRow: false,
        }

    };

    condenserCapacity = document.getElementById('condenserCapacity');
    hot = new Handsontable(condenserCapacity, config);

    $('#hdnButtonCondenserCapacity').on('click', function () {
        var array = hot.getData();
        var gridObjects = [];

        array.forEach(function (row, rowIndex) {
            gridObjects.push(new rowObject(row, rowIndex));
        });

        $("#hdnCondenserCapacityGridData").val(JSON.stringify(gridObjects));
    });

    $('#condenserCapacityTabPrevious,#condenserCapacityTabNext').on('click', function () {
        var id = this.id;
        if (id == 'condenserCapacityTabPrevious') {
            OpenDesiredCondenserTab('_CondenserType');// switch on Condenser Type tab

        }
        else if (id == 'condenserCapacityTabNext') {
            OpenDesiredCondenserTab('_Miscellaneous');// switch on Miscellaneous tab
        }

    });
    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }


    });
    hot.addHook('afterRemoveRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }

    });
    function rowObject(data) {
        var self = this;
        self.CondCapacityID_ = data[3];
        self.ModelID = data[0];
        self.RefrigerantTypeID = data[4];
        if (data[2] == '' || data[2] == "") {
            data[2] = 0;
        }
        self.Capacity = data[2];
        //self.RefregerantTypeName = data[1];


        //if (data[1] == '' || data[1] == "") {
        //    data[1] = null;
        //}
        //self.CoilAccsID = data[1];
        //self.CoilAccsPartNumber = data[2];
        //if (data[3] == '' || data[3] == "") {
        //    data[3] = null;
        //}
        //self.CoilVendorID = data[3];
        //if (data[4] == '' || data[4] == "") {
        //    data[4] = null;
        //}
        //self.CoilAccsMinBTU = data[4];
        //if (data[5] == '' || data[5] == "") {
        //    data[5] = null;
        //}
        //self.CoilAccsMaxBTU = data[5];
        //self.CoilAccsPartDescription = data[6];
        //self.CoilAccessoryPricingID = data[7];
        //self.CoilFamilyID = data[8];

    };



    });
</script>