﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel

<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-th-list"></i> Condenser Details
        </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Left Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5 ">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Model No. *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@

                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.TextBoxFor(addCondenser => addCondenser.CondenserDetailsData.ModelNumber, new { @class = "form-control", @readonly = "readonly" })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.ModelNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.ModelNumber)
                            }


                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7  p-l-0 p-r-0 control-label ui-sortable">Condenser Brand *</label>
                        <div class="col-md-8  p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.BrandID, new SelectList(Model.CondenserDetailsData.BrandDetails, "BrandID", "CondenserBrandName"), new { @class = "form-control dropdown-disable", @readonly = true })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.BrandID, new SelectList(Model.CondenserDetailsData.BrandDetails, "BrandID", "CondenserBrandName"), new { @class = "form-control" })
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Condenser Type *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<select class="form-control">
                                    <option>Select</option>
                                </select>*@
                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.CondenserTypeID, new SelectList(Model.CondenserDetailsData.CondenserTypes, "CondenserTypeID ", "CondenserType1"), new { @class = "form-control dropdown-disable", @readonly = true })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.CondenserTypeID, new SelectList(Model.CondenserDetailsData.CondenserTypes, "CondenserTypeID ", "CondenserType1"), new { @class = "form-control" })
                            }

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Unit Weight *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.UnitWeight, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.UnitWeight } })
                            @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.UnitWeight)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">R404 Summer Charge *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.R404SummerCharge, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.R404SummerCharge } })
                            @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.R404SummerCharge)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">R404 Winter Charge *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.R404WinterCharge, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.R404WinterCharge } })
                            @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.R404WinterCharge)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Geometry type *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<select class="form-control">
                                    <option>Select</option>
                                </select>*@
                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.GeometryID, new SelectList(Model.CondenserDetailsData.GeometryTypes, "GeometryID ", "GeometryType"), new { @class = "form-control dropdown-disable", @readonly = true })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.GeometryID, new SelectList(Model.CondenserDetailsData.GeometryTypes, "GeometryID ", "GeometryType"), new { @class = "form-control" })
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->

                <div class="clearfix"></div>
            </div>
            <!-- Left Section END HERE -->
            <!-- Right Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Model Family *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<select class="form-control">
                                    <option>Select</option>
                                </select>*@
                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.ModelFamilyID, new SelectList(Model.CondenserDetailsData.ModelFamily, "CondenserFamilyID ", "CondenserFamilyName"), new { @class = "form-control dropdown-disable", @readonly = true })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.ModelFamilyID, new SelectList(Model.CondenserDetailsData.ModelFamily, "CondenserFamilyID ", "CondenserFamilyName"), new { @class = "form-control" })
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Dimensions *</label>
                        <div class="col-md-5 p-l-0 p-r-0 ui-sortable">
                            @{
                                var SelectedDimensions = "";
                                SelectedDimensions = SelectedDimensions + " Length:" + Model.CondenserDetailsData.Length;
                                SelectedDimensions = SelectedDimensions + " Width:" + Model.CondenserDetailsData.Width;
                                SelectedDimensions = SelectedDimensions + " Height:" + Model.CondenserDetailsData.Height;
                            }
                            
                            <input id="dimensionDetails" type="text" class="form-control" readonly="readonly" disabled="disabled" value="@SelectedDimensions">
                            <span id="lblDimensionModel" class="custom-validation-message"  data-valmsg-replace="true"><span class="">Please enter numeric value greater than 0</span></span>
                        </div>
                        <div class="col-md-3 p-t-7 p-r-0">
                            <a data-backdrop="static" data-keyboard="false" id="insertDimension" href="#modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i> Add dimensions</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="modal-dialog">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_InsetDimensionsModal")
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        @*<label id="lblDimensionModel" class="custom-validation-message" style="position:center;">Dimensions *</label>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Sound Decibels 10 *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.SoundDecibals10, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.SoundDecibals10 } })
                            @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.SoundDecibals10)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Cubic Feet per Minute *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.CubicFeetPerMinute, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.CubicFeetPerMinute } })
                            @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.CubicFeetPerMinute)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Model Suffix *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<input type="text" class="form-control">*@
                            @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.ModelSuffixID, new SelectList(Model.CondenserDetailsData.ModelSuffixes, "ModelSuffixID ", "ModelSuffix1"), new { @class = "form-control dropdown-disable", @readonly = true })
                            }
                            else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddCondenser")
                            {
                                @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.ModelSuffixID, new SelectList(Model.CondenserDetailsData.ModelSuffixes, "ModelSuffixID ", "ModelSuffix1"), new { @class = "form-control" })
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Condenser Fan Motor *</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @*<select class="form-control">
                                    <option>Select</option>
                                </select>*@
                            @Html.DropDownListFor(addCondenser => addCondenser.CondenserDetailsData.CondFanMotorID, new SelectList(Model.CondenserDetailsData.FanMotors, "CondFanMotorID ", "CondenserFanMotorType"), new { @class = "form-control" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Title 24 Complaint *</label>
                        <div class="col-md-8 ui-sortable p-l-0 p-r-0 p-t-7">
                            @*<label class="radio-inline unbold">
                                    <input type="radio" name="optionsRadios" value="option1" checked="">Yes
                                </label>
                                <label class="radio-inline unbold">
                                    <input type="radio" name="optionsRadios" value="option2">No
                                </label>*@
                           
                            @Html.RadioButtonFor(addCondenser => addCondenser.CondenserDetailsData.Title24Compliant, "true", new { htmlAttributes = new { @type = "radio", @class = "form-control", @Value = Model.CondenserDetailsData.Title24Compliant }  }) Yes  
                            @Html.RadioButtonFor(addCondenser => addCondenser.CondenserDetailsData.Title24Compliant, "false", new { htmlAttributes = new { @type = "radio", @class = "form-control", @Value = !Model.CondenserDetailsData.Title24Compliant }, @style = "margin-left:10px;" }) No
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
            <!-- Right Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <label class="pull-left custom-validation-message">* Fields are mandatory.</label>
                <a href="#" id="nextDetails" onclick="OpenDesiredCondenserTab('_CondenserType')" class="btn btn-white btn-md pull-right next">Next →</a>
            </div>


        </div>
    </fieldset>
</div>

<script type="text/javascript" language="javascript">
    function validateNumbersOnly(e) {
        var unicode = e.charCode ? e.charCode : e.keyCode;
        if ((unicode == 8) || (unicode == 9) || (unicode > 47 && unicode < 58)) {
            return true;
        }
        else {
            return false;
        }
    }

    $("#AddDetailsBtn,#closeDimension").click(function () {
        $("#dimensionDetails").val('');

        $('#dimensionDetails').val('Lenghth:'+$('#LengthBox').val() + '  Width:' + $('#WidthBox').val() + '  Height:' + $('#HeightBox').val());

    });

    //var radioElement = document.getElementById('CondenserDetailsData_Title24Compliant');
    //radioElement.style.marginLeft = '8px';
    //radioElement.style.marginRight = '8px';

    //$("#insertDimension").click(function () {
    //    //var form = $("#condenser").closest("form");
    //    //form.removeData('validator');
    //    //form.removeData('unobtrusiveValidation');
    //    //$.validator.unobtrusive.parse(form);
    //});

</script>