﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Control Panel Pricing Details</h4>
    </div>
    <div class="modal-body">


        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            @Html.HiddenFor(m => m.CondenserPricingData.controlPanelPricing, new { @id = "hdnControlPanelPricingData" })
            <a href="#" id="hdnButtonControlPanelPricing" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
            <div class="form-group">
                <div class="col-md-12 ui-sortable p-0">
                    @*<input type="text" class="form-control" placeholder="">*@
                          
                          
                             
                      <div id="controlPanelPricing" style="height:500px;" class="">
                      </div>
                    <label id="lblGridErrorMessage" class="pull-left">*Please enter values between 0 and 99999999.<br />*Numbers with four decimal places are also allowed. </label>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        @*<div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">List Price</label>
                <div class="col-md-8 ui-sortable p-0">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>*@
        <!-- end col-6 -->
        



        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" id="ClearControlPanelTable">Clear</a>
        @*<a class="btn btn-sm btn-white" onclick="reloadControlModal()">Reload Grid</a>*@
        <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal" id="AddControlPanelTable" data-dismiss="modal">Add Details</a>
    </div>
</div>




