﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div class="col-md-6 p-l-5 p-r-5">
    <div class="col-md-12 p-0" >
        <label id="validationMessage" class="custom-validation-message text-danger"></label>
        <div class="form-group" id="OptionsList">
            @for (int a = 0; a < Model.ControlPanel.SelectedControlPanelOptions.Count; a++)
            {
                <div id="ControlPanalOption @a">
                    
                <label class="col-md-3 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Option @(a+1)</label>
                <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                    <div class="col-md-12 ui-sortable" id="@a">
                        @Html.TextBoxFor(addControlPanel => addControlPanel.ControlPanel.SelectedControlPanelOptions[a].ControlPanelOptions1, new { @class = "form-control", @readonly = true, @id= "ControlPanelOptions1" })
                        @*<input type="text" class="form-control">*@
                    </div>
                </div>
                <div class="col-md-3 p-t-7 p-r-0 p-l-0"><a data-backdrop="static" data-keyboard="false" href="#add-another-modal-dialog" data-toggle="modal" class="p-t-7 p-r-10" onclick="AddDetailsBtn(@a)"><i class="fa fa-plus"></i>&nbsp;Add Details</a>
                    @if (a != 0)
                    {
                    <span class="label btn btn-danger btn-icon btn-circle btn-sm m-t-5 btnClearModal" onclick="RemoveControlPanelOption(@a)"><i class="fa fa-trash"></i></span>
                    }
                    </div>
                <div class="col-md-8 m-t-10 p-r-0 col-md-offset-4">
                    @*<a href="#" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add more options</a>*@
                    <!-- Modal START HERE-->
                    <div class="modal fade" id="add-another-modal-dialog">
                        <div class="modal-dialog modal-md">
                            @Html.Partial("_AddAnotherModal")
                        </div>
                    </div>
                    <!-- Modal END HERE-->
                </div>

                <div class="clearfix"></div>
                    </div>
            }
        </div>
        <div class="col-md-6 m-t-0 p-t-0 p-t-0 col-md-offset-3 pull-left">
            <a data-backdrop="static" data-keyboard="false" href="#add-another-modal-dialog" data-toggle="modal" class="p-t-0 p-r-0 m-t-0 btnAddModal" onclick="AddAnotherOption()"><i class="fa fa-plus"></i>&nbsp;Add more options</a>
        </div>
        </div>
    @Html.HiddenFor(m=> m.ControlPanel.SelectedControlPanelOptionsList, new { @id = "SelectedControlPanelOptionList" })
</div>

<script>
    var ControlPanelOptionList = $.parseJSON(@Html.Raw(Json.Encode(Model.ControlPanel.ControlPanelOptionList)));
    var SelectedControlPanelOptionList = $.parseJSON(@Html.Raw(Json.Encode(Model.ControlPanel.SelectedControlPanelOptionsList)));
    var BlankControlOption = {
        ID: "",//-1
        ControlPanelOptions1: "",
        ListPriceAdder: "",
        BaaNFeature: "",
        BaaNOption: ""
    };
    var CurrentSelectedOption = null;

    //Set PopFeilds in Popup by selection of dropdown option list
    function SetDataOnPopup(Id)
    {
        if (Id != "") {
            $("#ListPriceAdder").val(ControlPanelOptionList[Id - 1].ListPriceAdder)
            $("#BaaNFeature").val(ControlPanelOptionList[Id - 1].BaaNFeature)
            $("#BaaNOption").val(ControlPanelOptionList[Id - 1].BaaNOption)
        }
        else {
            SetModalValues(BlankControlOption)
        }     
    }
    
    //Add Dynamically Another Option
    function AddAnotherOption()
    {
        var OptionNumber = SelectedControlPanelOptionList.length;
        //OptionNumber++;
        var AnotherOptionMarkUp = '<div id="ControlPanalOption ' + OptionNumber +'">\
            <label class="col-md-3 p-t-7 p-l-0 p-r-0 control-label ui-sortable" > Control Option ' + (OptionNumber + 1) +'</label >\
                <div class="col-md-6 p-l-0 p-r-0 ui-sortable">\
                    <div class="col-md-12 ui-sortable" id="'+ OptionNumber +'">\
                        <input type="text" class="form-control" id="ControlPanelOptions1" readonly=true>\
                    </div>\
                </div>\
                <div class="col-md-3 p-t-7 p-r-0 p-l-0"><a data-backdrop="static" data-keyboard="false" href="#add-another-modal-dialog" data-toggle="modal" class="p-t-7 p-r-10" onclick="AddDetailsBtn(' + OptionNumber + ')"><i class="fa fa-plus"></i>&nbsp;Add Details</a> <span class="label btn btn-danger btn-icon btn-circle btn-sm m-t-5" onclick="RemoveControlPanelOption(' + OptionNumber +')"><i class="fa fa-trash"></i></span></div>\
                <div class="col-md-8 m-t-10 p-r-0 col-md-offset-4">\
                    <!-- Modal START HERE-->\
                    <div class="modal fade" id="add-another-modal-dialog">\
                        <div class="modal-dialog modal-md"> </div>\
                    </div >\
                    <!--Modal END HERE-->\
                </div >\
            <div class="clearfix"></div>\
            </div>';
        $('#OptionsList').append(AnotherOptionMarkUp)
        
        SelectedControlPanelOptionList.push(BlankControlOption)
        AddDetailsBtn(OptionNumber)
    }
    
    function AddDetailsBtn(OptionId)
    {
        CurrentSelectedOption = OptionId;
        SetModalValues(SelectedControlPanelOptionList[CurrentSelectedOption]);
    }

    //Set selected Popup values
    function SetModalValues(Option)
    {
        $('#ControlPanel_SelectedControlPanelOptions_0__ID').val(Option.ID);
        $("#ListPriceAdder").val(Option.ListPriceAdder)
        $("#BaaNFeature").val(Option.BaaNFeature)
        $("#BaaNOption").val(Option.BaaNOption)
        //$("#ControlPanel_SelectedControlPanelOptions_0__ID").valid()
    }

    //Delete selected option
    function RemoveControlPanelOption(OptionId)
    {
        document.getElementById('ControlPanalOption ' + OptionId).remove();
        SelectedControlPanelOptionList[OptionId].ID = -1;
    }

    //Add valid option in list
    function SetOptionNameFeild(e)
    {
        if ($("#ControlPanel_SelectedControlPanelOptions_0__ID").valid())
        {
            var ControlPanelOptionId = $('#ControlPanel_SelectedControlPanelOptions_0__ID').val();
            var index = GetArrayIndex(ControlPanelOptionId)
            SelectedControlPanelOptionList[CurrentSelectedOption] = ControlPanelOptionList[index];
            $('#' + CurrentSelectedOption).find('#ControlPanelOptions1').val(SelectedControlPanelOptionList[CurrentSelectedOption].ControlPanelOptions1)
           // $('#AdddetailsBtn').attr("data-dismiss", "modal");
            $('#add-another-modal-dialog').modal('hide');
        }
        else
        {
            //$("#ControlPanel_SelectedControlPanelOptions_0__ID").valid()
            e.stopPropagation();
        }
    }

    //Get array index
    function GetArrayIndex(ActualID)
    {
        for (var a = 0; a < ControlPanelOptionList.length; a++)
        {
            if (ControlPanelOptionList[a].ID == ActualID)
            {
                return a;
            }
        }
    }

    //Initialize Option by default(Blank) value (Clear Btn)
    function SetModalToDefault()
    {
        SetModalValues(BlankControlOption);
    }

    //call when form is submit
    function SetValueInJson()
    {
        //var compare = SelectedControlPanelOptionList.Co
        var FinalselectedOptions = []
        var FinalselectedOptionsID = [];
        for (var a = 0; a < SelectedControlPanelOptionList.length; a++)
        {
            if (SelectedControlPanelOptionList[a].ID != -1 && SelectedControlPanelOptionList[a].ID != "")
            {
                FinalselectedOptions.push(SelectedControlPanelOptionList[a])
                FinalselectedOptionsID.push(SelectedControlPanelOptionList[a].ID);
            }
        }
        var hasDuplicateOptions = hasDuplicates(FinalselectedOptionsID);
        if (hasDuplicateOptions == true)
        {
            $('#validationMessage').text('*Duplicate items in Control Options.');
            return false;
        }
        else
        {
            var SelectedControlPanelOptionListJson = JSON.stringify(FinalselectedOptions);
            $('#SelectedControlPanelOptionList').val(SelectedControlPanelOptionListJson)
            $('#validationMessage').text('');
            return true;
        }
    }


    function hasDuplicates(array) {
        return (new Set(array)).size !== array.length;
    }
    </script>
