﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-archive"></i> Condenser Type  </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Left Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5 ">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Selected Condenser Type</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.TextBoxFor(addCondenser => addCondenser.CondenserTypeData.CondenserTypeName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Leg Availability</label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            @{
                                var SelectedLegs = "";
                                var legDetailsRow = 1;
                            }
                            @foreach (var data in Model.CondenserTypeData.LegDetails)
                            {
                                if (data.LegAvailable == true)
                                {
                                    SelectedLegs = SelectedLegs + " " + legDetailsRow;

                                }
                                legDetailsRow++;
                            }

                            <input id="legDetails" type="text" class="form-control" readonly="readonly" value="@SelectedLegs">
                        </div>
                            <div class="col-md-2 p-t-7 p-r-0">
                                <a href="#legs-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                                <!-- Modal START HERE-->
                                <div class="modal fade" id="legs-modal-dialog">
                                    <div class="modal-dialog modal-md">
                                        @Html.Partial("_InsertLegsDetailsModal")
                                    </div>
                                </div>
                                <!-- Modal END HERE-->
                            </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->

                <div class="clearfix"></div>
            </div>
            <!-- Left Section END HERE -->
            <!-- Right Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable"> Selected Geometry Type</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.TextBoxFor(addCondenser => addCondenser.CondenserTypeData.GeometryTypeName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Receiver Details</label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            @{
                                var SelectedReceiver = "";
                                var receiverRow = 1;
                            }
                            @foreach (var data in Model.CondenserTypeData.ReceiverDetails)
                            {
                                if (data.IsSelected == true)
                                {
                                    SelectedReceiver = SelectedReceiver + " " + receiverRow;

                                }
                                receiverRow++;
                            }
                            <input type="text" id="receiverDetails" class="form-control" value="@SelectedReceiver" readonly="readonly">
                        </div>
                            <div class="col-md-2 p-t-7 p-r-0">
                                <a href="#reciever-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                                <!-- Modal START HERE-->
                                <div class="modal fade" id="reciever-modal-dialog">
                                    <div class="modal-dialog modal-md">
                                        @Html.Partial("_InsertRecieverDetailsModal")
                                    </div>
                                </div>
                                <!-- Modal END HERE-->
                            </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->

                <div class="clearfix"></div>
            </div>
            <!-- end row -->
            <!-- Right Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <a href="#" id="condenserTypeTabPrevious" onclick="OpenDesiredCondenserTab('_CondenserDetails')" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                <a href="#" id="condenserTypeTabNext" onclick="OpenDesiredCondenserTab('_CondenserCapacity')" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
            </div>


        </div>
    </fieldset>
</div>

<script>
    $("#btnAddLegDetails").click(function () {
        $("#legDetails").val('');

        $('.chkLegDetails:checkbox:checked').each(function () {
            $('#legDetails').val($('#legDetails').val() + ' ' + $(this).data('legtype'));


        });
    });


    $("#btnAddReceierDetails").click(function () {
        $("#receiverDetails").val('');

        $('.chkReceiverDetails:checkbox:checked').each(function () {
            $('#receiverDetails').val($('#receiverDetails').val() + ' ' + $(this).data('receiver'));


        });
    });
</script>
