﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div class="modal-content">
    <div class="modal-header">
        <button id="btnCloseCondenserPricing" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Condenser Pricing Details</h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(m => m.CondenserPricingData.condenserPricing.ModelID)

        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Condenser Type:</label>
                <label class="col-md-8 p-t-7 control-label ui-sortable p-l-0 p-r-0 unbold">@Model.CondenserPricingData.condenserPricing.CondenserType</label>
                @Html.HiddenFor(m => m.CondenserPricingData.condenserPricing.CondenserType)
                @Html.HiddenFor(m => m.CondenserPricingData.condenserPricing.CondenserTypeID)
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Model Suffix:</label>
                <label class="col-md-8 p-t-7 control-label ui-sortable p-l-0 p-r-0 unbold">@Model.CondenserPricingData.condenserPricing.ModelSuffix</label>
                @Html.HiddenFor(m => m.CondenserPricingData.condenserPricing.ModelSuffix)
                @Html.HiddenFor(m => m.CondenserPricingData.condenserPricing.ModelSuffixID)
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Epoxy Electro Fin Coated Coil</label>
                <div class="col-md-8 ui-sortable p-0">
                   
                    @Html.TextBoxFor(m => m.CondenserPricingData.condenserPricing.EpoxyElectroFinCoatedCoil, new { @id = "txtEpoxyElectroFinCoatedCoil",@class= "form-control",@type = "number", @step = "0.01" })
                    @Html.ValidationMessageFor(m => m.CondenserPricingData.condenserPricing.EpoxyElectroFinCoatedCoil)

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Polyester Fin Coating</label>
                <div class="col-md-8 ui-sortable p-0">
                  
                    @Html.TextBoxFor(m => m.CondenserPricingData.condenserPricing.PolyesterFinCoating, new { @id = "txtPolyesterFinCoating", @class = "form-control", @type = "number", @step = "0.01" })
                    @Html.ValidationMessageFor(m => m.CondenserPricingData.condenserPricing.PolyesterFinCoating)

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Copper Fin</label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.TextBoxFor(m => m.CondenserPricingData.condenserPricing.CopperFin, new { @id = "txtCopperFin", @class = "form-control", @type = "number", @step = "0.01" })
                    @Html.ValidationMessageFor(m => m.CondenserPricingData.condenserPricing.CopperFin)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Base List Price </label>
                <div class="col-md-8 ui-sortable p-0">
                    @Html.TextBoxFor(m => m.CondenserPricingData.condenserPricing.BaseListPrice, new { @id = "txtBaseListPrice", @class = "form-control", @type = "number" ,@step = "0.01" })
                    @Html.ValidationMessageFor(m => m.CondenserPricingData.condenserPricing.BaseListPrice)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <label id="lblCondenserPriceErrorMessage" class="custom-validation-message text-danger pull-right"></label>


        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a id="btnClearCondenserPricingModel" class="btn btn-sm btn-white btnClearModal">Clear</a>
        <a id="btnAddDetailsCondenserPricing" href="javascript:;" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal">Add Details</a>
    </div>
</div>
<script>
    $("#btnClearCondenserPricingModel").click(function () {
        $("#txtBaseListPrice").val("");
        $("#txtCopperFin").val("");
        $("#txtPolyesterFinCoating").val("");
        $("#txtEpoxyElectroFinCoatedCoil").val("");

    });

    $("#txtBaseListPrice,#txtCopperFin,#txtPolyesterFinCoating,#txtEpoxyElectroFinCoatedCoil").keypress(function (event) {

        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            var code = event.keyCode || event.which;
            if (code == 9 || code == 8 || code == 13) {

            }
            else
            {
                $("#lblCondenserPriceErrorMessage").text("").show().fadeOut("slow");
                event.preventDefault();
            }
        }

    });

    $("#btnAddDetailsCondenserPricing,#btnCloseCondenserPricing").click(function (e) {
        var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
        if (allowEdit == false)
        {
            $('#btnCloseCondenserPricing').attr("data-dismiss", "modal");
            return;
        }
        if ($("input#txtEpoxyElectroFinCoatedCoil,input#txtPolyesterFinCoating,input#txtCopperFin,input#txtBaseListPrice").valid()) {
            //if ($("#txtEpoxyElectroFinCoatedCoil").val() >= 0 && $("#txtPolyesterFinCoating").val() >= 0 && $("#txtCopperFin").val() >= 0 && $("#txtBaseListPrice").val() >= 0)
            //{
            //    $('#lblDimensionModel').hide();
            //}
            //else {
            //    $('#lblDimensionModel').show();
            //}
            $('#AddDetailsBtn').attr("data-dismiss", "modal");
        }
        else {
            $("#txtEpoxyElectroFinCoatedCoil").valid()
            $("#txtPolyesterFinCoating").valid()
            $("#txtCopperFin").valid()
            $("#txtBaseListPrice").valid()
            e.stopPropagation();
        }


    });

</script>
