﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-cogs"></i> Control Panel  </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Left Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5 ">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group" style="margin-top:18px;">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Controls </label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlsID, new SelectList(Model.ControlPanel.Controls, "ID", "ControlType"), new { @class = "form-control"})
                            @*<select class="form-control">
                                <option>Select Controls</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7  p-l-0 p-r-0 control-label ui-sortable">Control Mfg</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlManufacturerID, new SelectList(Model.ControlPanel.ControlManufacturer, "ControlManufacturerID", "ControlManufacturer1"), new { @class = "form-control" })
                            @*<select class="form-control">
                                <option>Select Here</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Air Sensor </label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlPanelAirSensorID, new SelectList(Model.ControlPanel.ControlPanelAirSensor, "AirSensorID", "AirSensorOptions"), new { @class = "form-control" })
                            @*<select class="form-control">
                                <option>Select Here</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Fuses and Breakers </label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlFusesandBreakersID, new SelectList(Model.ControlPanel.ControlFusesandBreakers, "ControlFusesandBreakersID", "ControlFusesandBreakers1"), new { @class = "form-control" })
                             @*<select class="form-control">
                                <option>Select Here</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Type of Application </label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlTypeofApplicationID, new SelectList(Model.ControlPanel.ControlTypeofApplication, "ControlTypeofApplicationID", "ControlTypeofApplication1"), new { @class = "form-control" })
                            @*<select class="form-control">
                                <option>Select Here</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Voltage</label>
                        <div class="col-md-8 p-l-0 p-r-0 ui-sortable">
                            @Html.DropDownListFor(addCondenser => addCondenser.ControlPanel.ControlVoltageID, new SelectList(Model.ControlPanel.ControlVoltage, "ControlVoltageID", "ControlVoltage1"), new { @class = "form-control" })
                            @*<select class="form-control">
                                <option>Select Here</option>
                            </select>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->

                <div class="clearfix"></div>
            </div>
            <!-- Left Section END HERE -->
            <!-- Right Section START HERE -->
            


                <!-- begin col-12 -->
                <div id="AddControlPanelOptionsList">
                    @Html.Partial("_ControlPanelOptionsList")
                </div>
                <!-- end col-12 -->
           
            
            <!-- end row -->
            <!-- Right Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <a href="#" id="controlPanelTabPrevious" onclick="OpenDesiredCondenserTab('_Miscellaneous')" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                <a href="#" id="controlPanelTabNext" onclick="OpenDesiredCondenserTab('_ReceiverType')" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
            </div>


        </div>
    </fieldset>
</div>

<script>
    $('#ControlPanelTabPrevious,#ControlPanelTabNext').on('click', function () {
        var id = this.id;
        if (id == 'ControlPanelTabPrevious') {
            OpenDesiredCondenserTab('_ControlPanel');// switch on Control Panel tab

        }
        else if (id == 'ControlPanelTabNext') {
            OpenDesiredCondenserTab('_Pricing');// switch on Pricing tab
        }

    });

</script>