﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
@using Hussmann.Common.Helper
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Insert Receiver Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-12 -->
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr><th class="bg-primary">S.No</th>
                            <th class="bg-primary">Dimension</th>
                            <th class="bg-primary">Receiver Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var receiverDetailsRow = 1;
                        }
                        @for (var i = 0; i < Model.CondenserTypeData.ReceiverDetails.Count; i++)
                        {
                            <tr class="@WizardHelper.GetClassNameForAlternatingRow(i)">
                                <td class="text-left">@receiverDetailsRow</td>
                                <td class="text-left">@Html.DisplayName(Model.CondenserTypeData.ReceiverTypeList[i].ReceiverSize)</td>
                                <td class="text-left">
                                    @Html.CheckBox("CondenserTypeData.ReceiverDetails[" + i + "].IsSelected",
                                     Model.CondenserTypeData.ReceiverDetails[i].IsSelected != null && (bool)Model.CondenserTypeData.ReceiverDetails[i].IsSelected, new { @class = "chkReceiverDetails", @data_Receiver = receiverDetailsRow })
                                    @Html.HiddenFor(x => x.CondenserTypeData.ReceiverDetails[i].ReceiverID)

                                </td>
                            </tr>
                            receiverDetailsRow++;
                        }
                    </tbody>
                </table>
            </div>


        </div>
        <!-- end col-12 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" id="ClearBtnReceiver">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal" id="btnAddReceierDetails">Add Details</a>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ClearBtnReceiver").click(function () {
            var i;
            for (i = 0; i < 4; i++)
            {
                document.getElementById("CondenserTypeData_ReceiverDetails_" + i + "__IsSelected").checked = false;

            }

        });
    });


</script>
