﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel

<div class="modal-content">
    <fieldset>
        <div class="modal-header">
           
            <button id="closeDimension" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Insert Dimensions</h4>
        </div>
        <div class="modal-body">

            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Length</label>
                    <div class="col-md-8 ui-sortable p-0">
                        @*<input type="text" class="form-control" placeholder="">*@
                        @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.Length, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);",@type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.Length , @id= "LengthBox" } })
                        @*@Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.Length, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.Length } })*@
                        @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.Length)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Width</label>
                    <div class="col-md-8 ui-sortable p-0">
                        @*<input type="text" class="form-control" placeholder="">*@
                        @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.Width, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.Width, id = "WidthBox" } })
                        @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.Width)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Height</label>
                    <div class="col-md-8 ui-sortable p-0">
                        @*<input type="text" class="form-control" placeholder="">*@
                        @Html.EditorFor(addCondenser => addCondenser.CondenserDetailsData.Height, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.CondenserDetailsData.Height, id = "HeightBox" } })
                        @Html.ValidationMessageFor(addCondenser => addCondenser.CondenserDetailsData.Height)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->


            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" id="ClearBtn">Clear</a>
            <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal"  id="AddDetailsBtn">Add Details</a>
        </div>
        </fieldset>
</div>
<script>
    $(document).ready(function () {
        $("#AddDetailsBtn,#closeDimension").click(function (e) {
          if ($("input#LengthBox,input#WidthBox,input#HeightBox").valid()) {
              if ($("#LengthBox").val() != 0 && $("#WidthBox").val() != 0 && $("#HeightBox").val() != 0) {
                  $('#lblDimensionModel').hide();
              }
              else
              {
                  $('#lblDimensionModel').show();
              }
              $('#AddDetailsBtn').attr("data-dismiss", "modal");
              //$('#lblDimensionModel').hide();
            }
            else
            {
              $("#LengthBox").valid()
              $("#WidthBox").valid()
              $("#HeightBox").valid()
              e.stopPropagation();
          }


        });

        
    
        $("#ClearBtn").click(function () {
            $("input#LengthBox,input#WidthBox,input#HeightBox").val("");
        });
    });
</script>

