﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
@using Hussmann.Common.Helper
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Insert Legs Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-12 -->
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-primary">S.No</th>
                            <th class="bg-primary">Leg Type</th>
                            <th class="bg-primary">Leg Available</th>
                            <th class="bg-primary">Standard</th>

                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td class="text-left">NO LEG (DEDUCT)</td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                            
                        </tr>*@
                        @{
                            var legDetailsRow = 1;
                        }
                        @for (var i = 0; i < Model.CondenserTypeData.LegDetails.Count; i++)
                        {
                            <tr class="@WizardHelper.GetClassNameForAlternatingRow(i)">
   
                                <td class="text-left">@legDetailsRow</td> 
                                <td class="text-left">@Html.DisplayName(Model.CondenserTypeData.LegDetails[i].LegTypeName)</td>
                                <td class="text-left">
                                    @Html.CheckBox("CondenserTypeData.LegDetails["+i+"].LegAvailable",
                                     Model.CondenserTypeData.LegDetails[i].LegAvailable != null && (bool)Model.CondenserTypeData.LegDetails[i].LegAvailable, new { @class = "chkLegDetails" , @data_LegType = legDetailsRow })
                                    @Html.HiddenFor(x => x.CondenserTypeData.LegDetails[i].ID)
                                    
                                </td>
                                <td class="text-left">
                                    @Html.RadioButtonFor(addCondenser => addCondenser.CondenserTypeData.LegDetails[i].Standard, "true", new { htmlAttributes = new {@id="standardSelected", @type = "radio", @class = "form-control", @Value = Model.CondenserTypeData.LegDetails[i].Standard } }) Yes
                                    @Html.RadioButtonFor(addCondenser => addCondenser.CondenserTypeData.LegDetails[i].Standard, "false", new { htmlAttributes = new { @id = "standardNotSelected", @type = "radio", @class = "form-control", @Value = !Model.CondenserTypeData.LegDetails[i].Standard} }) No
                                </td>   
                            </tr>
                            legDetailsRow++;
                        }


                    </tbody>
                </table>
            </div>


        </div>
        <!-- end col-12 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" id="ClearBtn">Clear</a>
        <a href="javascript:;" id="btnAddLegDetails" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal">Add Details</a>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#ClearBtn").click(function () {
            var i;
            for (i = 0; i < 9; i++)
            {
                document.getElementById("CondenserTypeData_LegDetails_" + i + "__LegAvailable").checked = false;
                //document.getElementById("CondenserTypeData_LegDetails_" + i + "__Standard").checked = false;
                /*('[name="CondenserTypeData.LegDetails[' + i + '].Standard"]').val('false'); */
                //$('input[value="false"][name="CondenserTypeData.LegDetails[' + i + '].Standard"]').attr = "checked";

            }

        });
    });


</script>
