﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Leg Pricing</h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(m => m.CondenserPricingData.legPricing, new { @id = "hdnLegPricingData" })
        <a href="#" id="btnLegPricingData" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>

        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Geometry:</label>
                <label class="col-md-8 p-t-7 control-label ui-sortable p-l-0 p-r-0 unbold">@Model.CondenserPricingData.geometryType</label>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <div id="legPricingData" style="height:400px;" class="">
                </div>
                <label id="lblLPGridErrorMessage" class="pull-left">*Please enter values between 0 and 99999999.<br />*Numbers with four decimal places are also allowed. </label>
            </div>
        </div>
        <!-- end col-6 -->





        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" id="ClearLegPriceTable">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal" id="addLegPriceTable">Add Details</a>
    </div>
</div>




