﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
@using Hussmann.Common.Helper
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Select Miscellaneous Options</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-12 -->
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-primary">S.No</th>
                            <th class="bg-primary">Miscellaneous Options</th>
                            <th class="bg-primary">Available</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var miscellaneousOptionRow = 1;
                        }

                        @for (var i = 0; i < Model.MiscellaneousData.MiscellaneousOptionList.Count; i++)
                        {
                            <tr class="@WizardHelper.GetClassNameForAlternatingRow(i)">
                                <td class="text-left">@miscellaneousOptionRow</td>
                                <td class="text-left">@Html.DisplayName(Model.MiscellaneousData.MiscellaneousOptionList[i].MiscellenousOption)</td>
                                <td class="text-left">
                                    @Html.CheckBox("MiscellaneousData.MiscellaneousOptionList[" + i + "].IsSelected",
                                     Model.MiscellaneousData.MiscellaneousOptionList[i].IsSelected , new { @class = "chkMiscellaneousOption", @data_Miscellaneous = miscellaneousOptionRow })
                                    @Html.HiddenFor(x => x.MiscellaneousData.MiscellaneousOptionList[i].MiscellaneousPricingID)
                                    @Html.HiddenFor(x => x.MiscellaneousData.MiscellaneousOptionList[i].MiscellenousOptionsID)
                                    @Html.HiddenFor(x => x.MiscellaneousData.MiscellaneousOptionList[i].ModelID)

                                </td>
                               
                            </tr>
                            miscellaneousOptionRow++;
                        }

                    </tbody>
                </table>
            </div>


        </div>
        <!-- end col-12 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" id="ClearBtn" class="btn btn-sm btn-white btnClearModal" >Clear</a>
        <a href="javascript:;" id="btnAddDetailsMiscellaneous" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal">Add Details</a>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#ClearBtn").click(function () {
            var i;
            for (i = 0; i < 3; i++)
            {
                document.getElementById("MiscellaneousData_MiscellaneousOptionList_"+i+"__IsSelected").checked = false;
                
            }
            
        });
    });


</script>
    