﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<style>
    .removeRowBtn {
        display: block !important;
    }
</style>
<div>
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    @Html.HiddenFor(m => m.MiscellaneousData.CondenserPropertiesData , new { @id = "hdnCondenserPropertiesData"})
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-paperclip"></i> Miscellaneous  </legend>
        <!-- begin row -->
        <div class="row">

            <!-- From Section START HERE -->
            <div class="col-md-8 p-0">
                <div class="form-group">
                    <label class="col-md-3 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Miscellaneous Options</label>
                    <div class="col-md-4 p-l-0 p-r-0 ui-sortable">
                        @{
                            var SelectedMiscellaneous = "";
                            var miscellaneousRow = 1;
                        }
                        @foreach (var data in Model.MiscellaneousData.MiscellaneousOptionList)
                        {
                            if (data.IsSelected == true)
                            {
                                SelectedMiscellaneous = SelectedMiscellaneous + " " + miscellaneousRow;

                            }
                            miscellaneousRow++;
                        }
                        <input type="text" class="form-control" id="miscellaneousOption" readonly="readonly" value="@SelectedMiscellaneous">
                    </div>
                    <div class="col-md-3 p-t-7 p-r-0">
                        <a href="#legs-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Select Miscellaneous Options</a>
                        <!-- Modal START HERE-->
                        <div class="modal fade" id="legs-modal-dialog">
                            <div class="modal-dialog modal-md">
                                @Html.Partial("_MiscellaneousOptions")
                            </div>
                        </div>
                        <!-- Modal END HERE-->
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>


            <!-- From Section END HERE -->
            <!-- Grid Section START HERE -->
            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary p-b-10">
                <div class="panel-heading m-0">
                    <h4 class="panel-title">
                        <b>Condenser Properties</b>
                            <a id="addbottom" class="btn btn-green btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add </a>
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-12 m-0 p-0">
                <div id="miscellaneous" class="grid-container">
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Grid Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <a href="#" id="miscellaneousTabPrevious" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                <a href="#" id="miscellaneousTabNext" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
                <label id="lblMiscellaneousGridErrorMessage" class="custom-validation-message text-danger pull-right"></label>
                <a href="#" id="hdnButtonMiscellaneous" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
            </div>


        </div>
    </fieldset>
</div>


<!-- Excel Editable Table Grid START HERE-->
<script data-jsfiddle="miscellaneous">

    $(document).ready(function () {
        var screenWidth = screen.width - 155; //165

    var htRemoveRow = new removeRow();

    Handsontable.hooks.add('beforeInitWalkontable', function (walkontableConfig) {
        htRemoveRow.beforeInitWalkontable.call(this, walkontableConfig);
    });

    Handsontable.hooks.add('beforeInit', function () {
        htRemoveRow.init.call(this)
    });

    Handsontable.hooks.add('afterUpdateSettings', function () {
        htRemoveRow.init.call(this)
    });

    var condenserVoltageType = $.parseJSON(@Html.Raw(Json.Encode(Model.MiscellaneousData.VoltageTypeList)));
    var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.MiscellaneousData.CondenserPropertiesData)));
    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
           
    var readOnlyEnable;
    var allowPlugin;
    if (allowEdit == true || allowEdit == "true") {
        readOnlyEnable = false;
        allowPlugin = true;
    }
    else
    {
        $("#addbottom").hide();
          readOnlyEnable = true;
          allowPlugin = false;
    }


    var objectData = gridData,
        configurations = document.getElementById('miscellaneous'),
        NumericValidator,
        hot;




    NumericValidator = function (value, callback) {
        var isnumeric = $.isNumeric(value);
        setTimeout(function () {
            //var twoDecimalPlaces = parseFloat(value);
            //var isnumeric = $.isNumeric(value);
            //var lengthBeforeDecimal = value.toString().split(".")[0];
            if (value == null || value == "" || (isnumeric == true && value >= 0))
            {
                if (value != null || value != "") {
                    var lengthBeforeDecimal = value.toString().split(".")[0];
                    if (lengthBeforeDecimal.length < 14) {
                        $("#hdnMiscellaneousGridValid").val(true);
                        //$("#lblMiscellaneousGridErrorMessage").text("");
                        $('#addbottom').show();
                        callback(true);
                    }
                    else {
                        $("#hdnMiscellaneousGridValid").val(false);
                        //$("#lblMiscellaneousGridErrorMessage").text('Invalid Data in Grid');
                        $('#addbottom').hide();
                        callback(false);
                    }

                }
                else {
                    $("#hdnMiscellaneousGridValid").val(true);
                    //$("#lblMiscellaneousGridErrorMessage").text("");
                    $('#addbottom').show();
                    callback(true);
                }

            }
            else {
                $("#hdnMiscellaneousGridValid").val(false);
                //$("#lblMiscellaneousGridErrorMessage").text('Invalid Data in Grid');
                $('#addbottom').hide();

                callback(false);
            }
        }, 10);
    };

    config = {
        data: objectData,
        minSpareRows: 0,
        autoWrapRow: true,
        outsideClickDeselects: true,
        editor: false,
        //colHeaders: true,
        colHeaders: ["CondPropID","ModelId", 'Voltage Type', 'Condenser Amps', 'MCA', 'MOPD'],
        contextMenu: false,
        columnSorting: true,
        manualColumnResize: false,
        sortIndicator: true,
        columnSorting: true,
        rowHeaders: false,
        colWidths: 100,
        //width: screenWidth - 100,
        //stretchH: 'all',//ll
        removeRowPlugin: allowPlugin,
        readOnly: readOnlyEnable,
        colWidths: [0.1,0.1, screenWidth / 3.9, screenWidth / 3.9, screenWidth / 3.9, screenWidth/3.9],
        allowInvalid: false,
        fillHandle: {
            autoInsertRow: false,
        },
        columns: [
            {
                data: "CondPropID",
                readOnly: true

            },
            {
                data: "ModelId",
                readOnly:true

            },
            {
                data: 'VoltageTypeID',
                 renderer: customDropdownRenderer,
                 editor: "chosen",
                 //width: 150,
                 chosenOptions: {
                     data: condenserVoltageType
                 }
             },
            {
                //Condenser Amps
                data: 'CondenserAmps',
                type: 'numeric',
                numericFormat: {
                    pattern: '0.00000',
                    culture: 'en-US' // this is the default culture, set up for USD
                },
                validator: NumericValidator
            },
            {
                //Condenser MCA
                data: 'MCA',
                type: 'numeric',
                numericFormat: {
                    pattern: '0.00000',
                    culture: 'en-US' // this is the default culture, set up for USD
                },
                validator: NumericValidator
            }
            ,
            {
                //Condenser MOPD
                data: 'MOPD',
                type: 'numeric',
                numericFormat: {
                    pattern: '0.00000',
                    culture: 'en-US' // this is the default culture, set up for USD
                },
                validator: NumericValidator
            }
        ]
    };


    $('#addbottom').on('click', function () {
        hot.alter('insert_row',0);
    });

    $('#hdnButtonMiscellaneous').on('click', function () {
        var array = hot.getData();
        var gridObjects = [];
        var condenserAmpsVoltageType = [];

        array.forEach(function (row, rowIndex) {
            gridObjects.push(new rowObject(row, rowIndex));
            if (row[2] != null)
            {
                console.log(row[2]);
                condenserAmpsVoltageType.push(parseInt(row[2]));
            }
        });

        // validate duplicate voltage type in Condenser Amps Grid
        var hasDuplicateVoltageCondenserAmps = hasDuplicates(condenserAmpsVoltageType);
        if (hasDuplicateVoltageCondenserAmps == true) {
            $("#hdnMiscellaneousGridValid").val(false);
            $("#lblMiscellaneousGridErrorMessage").text('Duplicate Voltage Type');
        }
        else {
            $("#hdnMiscellaneousGridValid").val(true);
            $("#lblMiscellaneousGridErrorMessage").text("");

        }

        $("#hdnCondenserPropertiesData").val(JSON.stringify(gridObjects));
    });

    $('#miscellaneousTabPrevious,#miscellaneousTabNext').on('click', function () {
        var id = this.id;
        if (id == 'miscellaneousTabPrevious')
        {
            OpenDesiredCondenserTab('_CondenserCapacity');// switch on Details tab

        }
        else if (id == 'miscellaneousTabNext')
        {
            OpenDesiredCondenserTab('_ControlPanel');// switch on Configuration tab
        }

    });

    configurations = document.getElementById('miscellaneous');
    hot = new Handsontable(configurations, config);
        

    function rowObject(data) {
        var self = this;

        self.CondPropID = data[0];

        self.ModelID = data[1];

        if (data[2] == '' || data[2] == "") {
            data[2] = null;
        }
        self.VoltageTypeID = data[2];

        if (data[3] == '' || data[3] == "") {
            data[3] = null;
        }
        self.CondenserAmps = data[3];

        if (data[4] == '' || data[4] == "") {
            data[4] = null;
        }
        self.MCA = data[4];

        if (data[5] == '' || data[5] == "")
        {
            data[5] = null;
        }
        self.MOPD = data[5];


    };

    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
   

    });
    hot.addHook('afterRemoveRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
     
    });
    //hot.updateSettings({
    //    afterValidate: function (isValid, value, row, prop, source) {
    //        if (isValid == false) {
    //            hot.setDataAtCell(row, hot.propToCol(prop), null);
    //        }
    //    }
    //});

    hot.updateSettings({
        afterValidate: function (isValid, value, row, prop, source) {
            if (isValid == false) {

                    hot.setDataAtCell(row, hot.propToCol(prop), '');

            }
        }
    });

    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else
        {
            $('#hdnIsEditedAfterApprove').val(true);
        }
        $("#UnitCoolerAccessoriesData_IsModified").val(true);

    });
    hot.addHook('afterRemoveRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
        $("#UnitCoolerAccessoriesData_IsModified").val(true);
    });
    hot.addHook('afterCreateRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }

        $("#UnitCoolerAccessoriesData_IsModified").val(true);
    });



    });

    function hasDuplicates(array) {
        return (new Set(array)).size !== array.length;
    }

    function customDropdownRenderer(instance, td, row, col, prop, value, cellProperties) {
        var selectedId;
        var optionsList = cellProperties.chosenOptions.data;

        if (typeof optionsList === "undefined" || typeof optionsList.length === "undefined" || !optionsList.length) {
            Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
            return td;
        }

        var values = (value + "").split(",");
        value = [];
        for (var index = 0; index < optionsList.length; index++) {

            if (values.indexOf(optionsList[index].id + "") > -1) {
                selectedId = optionsList[index].id;
                value.push(optionsList[index].label);
            }
        }
        value = value.join(", ");

        Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
        return td;
    }

    $("#btnAddDetailsMiscellaneous").click(function () {
        $("#miscellaneousOption").val('');

        $('.chkMiscellaneousOption:checkbox:checked').each(function () {
            $('#miscellaneousOption').val($('#miscellaneousOption').val() + ' ' + $(this).data('miscellaneous'));


        });
    });
</script>
<!--  accessories Defrost Amps Excel Editable Table Grid START HERE-->
