﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<style>
    .removeRowBtn {
        display: block !important;
    }
</style>
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-money"></i> Pricing  </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Left Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5 ">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Condenser Pricing </label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            <input type="text" disabled="disabled" class="form-control">
                        </div>
                        <div class="col-md-2 p-t-7 p-r-0">
                            <a href="#condenser-pricing-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="condenser-pricing-modal-dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_CondenserPricingModal",Model)
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Control Panel Pricing </label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            <input type="text" disabled="disabled" class="form-control">
                        </div>
                        <div class="col-md-2 p-t-7 p-r-0">
                            <a href="#control-panel-pricing-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="control-panel-pricing-modal-dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_ControlPanelPricingModal",Model)
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col 12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Leg Pricing </label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            <input type="text" disabled="disabled" class="form-control">
                        </div>
                        <div class="col-md-2 p-t-7 p-r-0">
                            <a href="#leg-pricing-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="leg-pricing-modal-dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_LegPricingModal",Model)
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->


                <div class="clearfix"></div>
            </div>
            <!-- Left Section END HERE -->
            <!-- Right Section START HERE -->
            <div class="col-md-6 p-l-5 p-r-5">

                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Receiver Pricing </label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            <input type="text" disabled="disabled" class="form-control">
                        </div>
                        <div class="col-md-2 p-t-7 p-r-0">
                            <a href="#reciever-pricing-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="reciever-pricing-modal-dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_RecieverPricingModal",Model)
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->
                <!-- begin col-12 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 p-l-0 p-r-0 control-label ui-sortable">Miscellaneous Options Pricing</label>
                        <div class="col-md-6 p-l-0 p-r-0 ui-sortable">
                            <input type="text" disabled="disabled" class="form-control">
                        </div>
                        <div class="col-md-2 p-t-7 p-r-0">
                            <a href="#m-options-pricing-modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>Add Details</a>
                            <!-- Modal START HERE-->
                            <div class="modal fade" id="m-options-pricing-modal-dialog" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-md">
                                    @Html.Partial("_MOptionsPricingModal",Model)
                                </div>
                            </div>
                            <!-- Modal END HERE-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-12 -->

            </div>
            <!-- end row -->
            <!-- Right Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
              <a href="#" id="PricingTabPrevious" class="btn btn-white btn-md pull-left next">← Previous</a>
            </div>


        </div>
    </fieldset>
    <input type="hidden" id="receiverTimesOpen" value="0">
    <input type="hidden" id="controlPricingTimesOpen" value="0">
    <input type="hidden" id="miscellaneousPricingTimesOpen" value="0">
    <input type="hidden" id="legPricingTimesOpen" value="0">
</div>



<script>

    $(document).ready(function () {
         var htRemoveRow = new removeRow();

                Handsontable.hooks.add('beforeInitWalkontable', function (walkontableConfig) {
                    htRemoveRow.beforeInitWalkontable.call(this, walkontableConfig);
                });

                Handsontable.hooks.add('beforeInit', function () {
                    htRemoveRow.init.call(this)
                });

                Handsontable.hooks.add('afterUpdateSettings', function () {
                    htRemoveRow.init.call(this)
                });

           

    });
    $('#PricingTabPrevious').on('click', function () {
        var id = this.id;
        if (id == 'PricingTabPrevious') {
            OpenDesiredCondenserTab('_ReceiverType');// switch on Control Panel tab

        }
    

    });

    $('#reciever-pricing-modal-dialog').on('shown.bs.modal', function (e) {

        if ($("#receiverTimesOpen").val() == "0") {
            $("#receiverTimesOpen").val("1");



            var screenWidth = screen.width - 155; //165


            var receiverList = $.parseJSON(@Html.Raw(Json.Encode(Model.CondenserPricingData.receiverPricing)));

                var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
               // var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = false;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


                var objectData = receiverList,
                    configurations = document.getElementById('receiverPricingGrid'),
                    NumericValidator,
                    hot;

              

                NumericValidator = function (value, callback) {
                    var isnumeric = $.isNumeric(value);
                    setTimeout(function () {
                        if ((isnumeric == true && value >= 0) || value == null || value == "") {
                            if (value != null || value != "") {
                                var lengthBeforeDecimal = value.toString().split(".")[0];
                                if (lengthBeforeDecimal.length < 9) {
                                    $('.close').unbind('click', false);
                                    $('#addReceiverTable').unbind('click', false);
                                    callback(true);
                                }
                                else {
                                    $('.close').bind('click', false);
                                    $('#addReceiverTable').bind('click', false);
                                    callback(false);
                                }

                            }
                            else {
                                $('.close').unbind('click', false);
                                $('#addReceiverTable').unbind('click', false);
                                callback(true);
                            }
                        }
                        else {

                            $('.close').bind('click', false);
                            $('#addReceiverTable').bind('click', false);
                            callback(false);
                        }
                    }, 10);
                };

                config = {
                    data: objectData,
                    minSpareRows: 0,
                    autoWrapRow: true,
                    outsideClickDeselects: true,
                    editor: false,
                    //colHeaders: true,
                    colHeaders: ["", "", "", "Reciever Type", "Reciever Price", "Heat Tape Insul Price","Receiver Qty",""],
                    contextMenu: false,
                    columnSorting: true,
                    manualColumnResize: false,
                    sortIndicator: true,
                    columnSorting: true,
                    rowHeaders: true,
                    colWidths: 100,
                    hiddenColumns: {
                        columns: [0,3,4],
                        indicators: true
                    },
             
                    //width: screenWidth - 100,
                    //stretchH: 'all',//ll
                    removeRowPlugin: allowPlugin,
                    readOnly: readOnlyEnable,
                    colWidths: [1, 1, 1, (screenWidth / 10), (screenWidth / 10), (screenWidth / 9), (screenWidth / 10),1],
                    height: [(screenWidth / 4)],
                    allowInvalid: false,
                    //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
                    fillHandle: {
                        autoInsertRow: false,
                    },
                    columns: [
                        {
                            data: 'ReceiverID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'GeometryID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'ReceiverTypeID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'ReceiverType',
                            type: 'text',
                            readOnly: true



                        },
                        {
                            data: 'ReceiverPrice',
                            type: 'numeric',
                            validator: NumericValidator,
                            numericFormat: {
                                pattern: '0.0000',
                                culture: 'en-US' // this is the default culture, set up for USD
                            }


                        },
                        {

                            data: 'HeatTapeInsulPrice',
                            type: 'numeric',
                            validator: NumericValidator,
                            numericFormat: {
                                pattern: '0.0000',
                                culture: 'en-US' // this is the default culture, set up for USD
                            }
                        },
                        {

                            data: 'ReceiverQty',
                            type: 'numeric',
                            validator: NumericValidator
                        },
                        {

                            data: 'ModelID',
                            type: 'numeric',
                            readOnly: true
                        }
               
                    ]
                };

                configurations = document.getElementById('receiverPricingGrid');
                hot = new Handsontable(configurations, config);


                $('#addbottom').on('click', function () {
                    hot.alter('insert_row', 0);
                });

                $('#hdnButtonRecieverPricing').on('click', function () {
                    var array = hot.getData();
                    var gridObjects = [];

                    array.forEach(function (row, rowIndex) {
                        gridObjects.push(new rowObject(row, rowIndex));
                    });

                    $("#hdnReceiverPricing").val(JSON.stringify(gridObjects));
                });



                function rowObject(data) {
                  
                    var self = this;
                    self.ReceiverID = data[0];
                    self.GeometryID = data[1];
                    self.ReceiverTypeID = data[2];
                    self.ReceiverType = data[3];

                  

                    if (data[4] == '' || data[4] == "") {
                        data[4] = null;
                    }
                    self.ReceiverPrice = data[4];
                    if (data[5] == '' || data[5] == "") {
                        data[5] = null;
                    }
                    self.HeatTapeInsulPrice = data[5];
                    if (data[6] == '' || data[6] == "") {
                        data[6] = null;
                        self.ReceiverQty = data[6]; 
                    }
                    else
                    {
                        self.ReceiverQty = Math.ceil(data[6]);  
                    }

                   
                    self.ModelID = data[7];
                    self.IsSelected = true;
                    
                };


                hot.addHook('afterChange', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    // $("#UnitCoolerAccessoriesData_IsModified").val(true);

                });
                hot.addHook('afterRemoveRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                          $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //   $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.addHook('afterCreateRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                          $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //  $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.updateSettings({
                    afterValidate: function (isValid, value, row, prop, source) {
                        if (isValid == false) {
                            hot.setDataAtCell(row, hot.propToCol(prop), null);
                        }
                    }
                  
                });

                $("#ClearReceiverTable").click(function () {
                    var j = 0;

                    $("#receiverPricingGrid").children(".ht_master").children(".wtHolder").children('.wtHider').children('.wtSpreader').children('table').children('tbody').children('tr').each(function () {
                        var i = 0;
                        var row = $(this);
                        $(this).children('td').each(function () {
                            if (i == 4 || i == 5 || i == 6) {
                               
                                hot.setDataAtCell(j, i, "");
                            }
                            i++;
                        });
                        j++;
                    });
            

                });



            }

    });

      $('#control-panel-pricing-modal-dialog').on('shown.bs.modal', function (e) {

        if ($("#controlPricingTimesOpen").val() == "0") {
            $("#controlPricingTimesOpen").val("1");



            var screenWidth = screen.width - 155; //165


            var condenserGeometryList = $.parseJSON(@Html.Raw(Json.Encode(Model.CondenserPricingData.controlPanelPricing)));

                var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
               // var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = true;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


                var objectData = condenserGeometryList,
                    configurations = document.getElementById('controlPanelPricing'),
                    NumericValidator,
                    hot;

             
                NumericValidator = function (value, callback) {
                    var isnumeric = $.isNumeric(value);
                    setTimeout(function () {
                        if ((isnumeric == true && value >= 0) || value == null || value == "") {
                            if (value != null || value != "") {
                                var lengthBeforeDecimal = value.toString().split(".")[0];
                                if (lengthBeforeDecimal.length < 9) {
                                    //$("#lblGridErrorMessage").text("");
                                    $('.close').unbind('click', false);
                                    $('#AddControlPanelTable').unbind('click', false);
                                    callback(true);
                                }
                                else {
                                    //$("#lblGridErrorMessage").text("").show().fadeOut("slow");
                                    $('.close').bind('click', false);
                                    $('#AddControlPanelTable').bind('click', false);
                                    callback(false);
                                }

                            }
                            else {
                                //$("#lblGridErrorMessage").text("");
                                $('.close').unbind('click', false);
                                $('#AddControlPanelTable').unbind('click', false);
                                callback(true);
                            }
                        }
                        else {
                           // $("#lblGridErrorMessage").text("").show().fadeOut("slow");
                            $('.close').bind('click', false);
                            $('#AddControlPanelTable').bind('click', false);
                            
                            callback(false);
                        }
                    }, 10);
                };

                config = {
                    data: objectData,
                    minSpareRows: 0,
                    autoWrapRow: true,
                    outsideClickDeselects: true,
                    editor: false,
                    //colHeaders: true,
                    colHeaders: ["","Geometry Type", "List Price","",""],
                    contextMenu: false,
                    columnSorting: true,
                    manualColumnResize: false,
                    sortIndicator: true,
                    columnSorting: true,
                    rowHeaders: true,
                    colWidths: 100,
                    hiddenColumns: {
                        columns: [0,3,4],
                        indicators: true
                    },
                    //width: screenWidth - 100,
                    //stretchH: 'all',//ll
                    removeRowPlugin: false,
                    readOnly: readOnlyEnable,
                    colWidths: [1,(screenWidth / 7), (screenWidth / 3.9),1,1],
                    height: [(screenWidth / 3.5)],
                    allowInvalid: false,
                    //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
                    fillHandle: {
                        autoInsertRow: false,
                    },
                    columns: [
                        {
                            data: 'GeometryID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'GeometryType',
                            type: 'text',
                            readOnly: true


                        },
                        {

                            data: 'ListPrice',
                            type: 'numeric',
                            validator: NumericValidator,
                            numericFormat: {
                                pattern: '0.0000',
                                culture: 'en-US' // this is the default culture, set up for USD
                            },
                        },
                        {

                            data: 'PriceID',
                            type: 'numeric',
                            readOnly: true
                        },
                        {

                            data: 'ModelID',
                            type: 'numeric',
                            readOnly: true
                        },


                    ]
                };

                configurations = document.getElementById('controlPanelPricing');
                hot = new Handsontable(configurations, config);


                $('#addbottom').on('click', function () {
                    hot.alter('insert_row', 0);
                });

                $('#hdnButtonControlPanelPricing').on('click', function () {
                    var array = hot.getData();
                    var gridObjects = [];

                    array.forEach(function (row, rowIndex) {
                        gridObjects.push(new rowObject(row, rowIndex));
                    });

                    $("#hdnControlPanelPricingData").val(JSON.stringify(gridObjects));
                });
       



                function rowObject(data) {
                    var self = this;
                    self.GeometryID = data[0];

                    self.GeometryType = data[1];
                    
                    if (data[2] == '' || data[2] == "") {
                        data[2] = null;
                    }
                    self.ListPrice = data[2];
                    self.PriceID = data[3];
                    self.ModelID = data[4];
                };


                hot.addHook('afterChange', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    // $("#UnitCoolerAccessoriesData_IsModified").val(true);

                });
                hot.addHook('afterRemoveRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                       $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //   $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.addHook('afterCreateRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                       $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //  $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
          
                hot.updateSettings({
                    afterValidate: function (isValid, value, row, prop, source) {
                        if (isValid == false) {
                            hot.setDataAtCell(row, hot.propToCol(prop), null);
                        }
                    }
                });

                $("#ClearControlPanelTable").click(function () {
                    var j = 0;

                    $("#controlPanelPricing").children(".ht_master").children(".wtHolder").children('.wtHider').children('.wtSpreader').children('table').children('tbody').children('tr').each(function () {
                        var i = 0;
                        var row = $(this);
                        $(this).children('td').each(function () {
                            if (i == 2) {

                                hot.setDataAtCell(j, i, "");
                            }
                            i++;
                        });
                        j++;
                    });


                });



            }

    });



    $('#m-options-pricing-modal-dialog').on('shown.bs.modal', function (e) {

        if ($("#miscellaneousPricingTimesOpen").val() == "0") {
            $("#miscellaneousPricingTimesOpen").val("1");

            var screenWidth = screen.width - 155; //165



            var miscellaneousPricingList = $.parseJSON(@Html.Raw(Json.Encode(Model.CondenserPricingData.miscellaneousPricing)));

                var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
              //  var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = false;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


                var objectData = miscellaneousPricingList,
                    configurations = document.getElementById('mOPricing'),
                    NumericValidator,
                    hot;

          
                NumericValidator = function (value, callback) {
                    var isnumeric = $.isNumeric(value);
                    setTimeout(function () {
                        if ((isnumeric == true && value >= 0) || value == null || value == "") {

                            if (value != null || value != "") {
                                var lengthBeforeDecimal = value.toString().split(".")[0];
                                if (lengthBeforeDecimal.length < 9) {
                                    $('.close').unbind('click', false);
                                    $('#addMOptionsTable').unbind('click', false);
                                    callback(true);
                                }
                                else {
                                    $('.close').bind('click', false);
                                    $('#addMOptionsTable').bind('click', false);
                                    callback(false);
                                }

                            }
                            else {
                                $('.close').unbind('click', false);
                                $('#addMOptionsTable').unbind('click', false);
                                callback(true);
                            }

                        }
                        else {
                            $('.close').bind('click', false);
                            $('#addMOptionsTable').bind('click', false);
                            callback(false);
                        }
                    }, 10);
                };

                config = {
                    data: objectData,
                    minSpareRows: 0,
                    autoWrapRow: true,
                    outsideClickDeselects: true,
                    editor: false,
                    //colHeaders: true,
                    colHeaders: ["", "", "Option Name", "Price", "", ""],
                    contextMenu: false,
                    columnSorting: true,
                    manualColumnResize: false,
                    sortIndicator: true,
                    columnSorting: true,
                    rowHeaders: true,
                    colWidths: 100,
                    hiddenColumns: {
                        columns: [0,3,4],
                        indicators: true
                    },
                    //width: screenWidth - 100,
                    //stretchH: 'all',//ll
                    removeRowPlugin: allowPlugin,
                    readOnly: readOnlyEnable,
                    colWidths: [1,1,(screenWidth / 7), (screenWidth / 4),1,1],
                    height: [(screenWidth / 4)],
                    allowInvalid: false,
                    //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
                    fillHandle: {
                        autoInsertRow: false,
                    },
                    columns: [
                        {
                            data: 'MiscellaneousPricingID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'MiscellenousOptionsID',
                            type: 'numeric',
                            readOnly: true


                        },
                        {

                            data: 'MiscellenousOptionsName',
                            type: 'text',
                            readOnly: true
                        },
                        {

                            data: 'MiscellaneousPrice',
                            type: 'numeric',
                            validator: NumericValidator,
                            numericFormat: {
                                pattern: '0.0000',
                                culture: 'en-US' // this is the default culture, set up for USD
                            },
                        },
                        {

                            data: 'GeometryID',
                            type: 'numeric',
                            readOnly: true
                        },
                        {

                            data: 'ModelID',
                            type: 'numeric',
                            readOnly: true
                        },


                    ]
                };

                configurations = document.getElementById('mOPricing');
                hot = new Handsontable(configurations, config);


                $('#addbottom').on('click', function () {
                    hot.alter('insert_row', 0);
                });

                $('#btnMiscellaneousPricing').on('click', function () {
                    var array = hot.getData();
                    var gridObjects = [];

                    array.forEach(function (row, rowIndex) {
                        gridObjects.push(new rowObject(row, rowIndex));
                    });

                    $("#hdnMiscellaneousPricing").val(JSON.stringify(gridObjects));
                });
 




                function rowObject(data) {
                    var self = this;
                    self.MiscellaneousPricingID = data[0];


                    self.MiscellenousOptionsID = data[1];
                    self.MiscellenousOptionsName = data[2];
                    if (data[3] == '' || data[3] == "") {
                        data[3] = null;
                    }
            
                    self.MiscellaneousPrice = data[3];
                    
                    self.GeometryID = data[4];
                    self.ModelID = data[5];
                };


                hot.addHook('afterChange', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    // $("#UnitCoolerAccessoriesData_IsModified").val(true);

                });
                hot.addHook('afterRemoveRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //   $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.addHook('afterCreateRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //  $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.updateSettings({
                    afterValidate: function (isValid, value, row, prop, source) {
                        if (isValid == false) {
                            hot.setDataAtCell(row, hot.propToCol(prop), null);
                        }
                    }
                });
                $("#ClearMOptionsTable").click(function () {
                    var j = 0;

                    $("#mOPricing").children(".ht_master").children(".wtHolder").children('.wtHider').children('.wtSpreader').children('table').children('tbody').children('tr').each(function () {
                        var i = 0;
                        var row = $(this);
                        $(this).children('td').each(function () {
                            if (i == 3) {

                                hot.setDataAtCell(j, i, "");
                            }
                            i++;
                        });
                        j++;
                    });


                });


            }

        });


    $('#leg-pricing-modal-dialog').on('shown.bs.modal', function (e) {

        if ($("#legPricingTimesOpen").val() == "0") {
            $("#legPricingTimesOpen").val("1");

            var screenWidth = screen.width - 155; //165



            var legPricingList = $.parseJSON(@Html.Raw(Json.Encode(Model.CondenserPricingData.legPricing)));

                var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
               // var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = false;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


                var objectData = legPricingList,
                    configurations = document.getElementById('legPricingData'),
                    NumericValidator,
                    hot;

               
                NumericValidator = function (value, callback) {
                    var isnumeric = $.isNumeric(value);
                    setTimeout(function () {
                        if ((isnumeric == true && value >= 0) || value == null || value == "") {
                            if (value != null || value != "") {
                                var lengthBeforeDecimal = value.toString().split(".")[0];
                                if (lengthBeforeDecimal.length < 9) {
                                    $('.close').unbind('click', false);
                                    $('#addLegPriceTable').unbind('click', false);
                                    callback(true);
                                }
                                else {
                                    $('.close').bind('click', false);
                                    $('#addLegPriceTable').bind('click', false);
                                    callback(false);
                                }

                            }
                            else {
                                $('.close').unbind('click', false);
                                $('#addLegPriceTable').unbind('click', false);
                                callback(true);
                            }

                        }
                        else {

                            $('.close').bind('click', false);
                            $('#addLegPriceTable').bind('click', false);
                            callback(false);
                        }
                    }, 10);
                };

                config = {
                    data: objectData,
                    minSpareRows: 0,
                    autoWrapRow: true,
                    outsideClickDeselects: true,
                    editor: false,
                    //colHeaders: true,
                    colHeaders: ["", "", "Leg Type", "Price", "", ""],
                    contextMenu: false,
                    columnSorting: true,
                    manualColumnResize: false,
                    sortIndicator: true,
                    columnSorting: true,
                    rowHeaders: true,
                    colWidths: 100,
                    hiddenColumns: {
                        columns: [0,3,4],
                        indicators: true
                    },
                    //width: screenWidth - 100,
                    //stretchH: 'all',//ll
                    removeRowPlugin: allowPlugin,
                    readOnly: readOnlyEnable,
                    colWidths: [1,1,(screenWidth / 7), (screenWidth / 3.9),1,1],
                    height: [(screenWidth / 4)],
                    allowInvalid: false,
                    //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
                    fillHandle: {
                        autoInsertRow: false,
                    },
                    columns: [
                        {
                            data: 'LegPriceID',
                            type: 'numeric',
                            readOnly: true



                        },
                        {
                            data: 'LegTypeID',
                            type: 'numeric',
                            readOnly: true


                        },
                        {

                            data: 'LegType',
                            type: 'text',
                            readOnly: true
                        },
                        {

                            data: 'LegPrice',
                            type: 'numeric',
                            validator: NumericValidator,
                            numericFormat: {
                                pattern: '0.0000',
                                culture: 'en-US' // this is the default culture, set up for USD
                            }
                        },
                        {

                            data: 'GeometryID',
                            type: 'numeric',
                            readOnly: true
                        },
                        {

                            data: 'ModelID',
                            type: 'numeric',
                            readOnly: true
                        },


                    ]
                };

                configurations = document.getElementById('legPricingData');
                hot = new Handsontable(configurations, config);


                $('#addbottom').on('click', function () {
                    hot.alter('insert_row', 0);
                });

                $('#btnLegPricingData').on('click', function () {
                    var array = hot.getData();
                    var gridObjects = [];

                    array.forEach(function (row, rowIndex) {
                        gridObjects.push(new rowObject(row, rowIndex));
                    });

                    $("#hdnLegPricingData").val(JSON.stringify(gridObjects));
                });

                function rowObject(data) {
                    var self = this;
                    self.LegPriceID = data[0];

                    self.LegTypeID = data[1];
                    self.LegType = data[2];

                    if (data[3] == '' || data[3] == "") {
                        data[3] = null;
                    }

                    self.LegPrice = data[3];
                    self.GeometryID = data[4];
                    self.ModelID = data[5];
       
                };


                hot.addHook('afterChange', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                       $('#hdnIsEditedAfterApprove').val(true);
                    }
                    // $("#UnitCoolerAccessoriesData_IsModified").val(true);

                });
                hot.addHook('afterRemoveRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                       $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //   $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.addHook('afterCreateRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                       $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //  $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.updateSettings({
                    afterValidate: function (isValid, value, row, prop, source) {
                        if (isValid == false) {
                            hot.setDataAtCell(row, hot.propToCol(prop), null);
                        }
                    }
                });
                $("#ClearLegPriceTable").click(function () {
                    var j = 0;

                    $("#legPricingData").children(".ht_master").children(".wtHolder").children('.wtHider').children('.wtSpreader').children('table').children('tbody').children('tr').each(function () {
                        var i = 0;
                        var row = $(this);
                        $(this).children('td').each(function () {
                            if (i == 3) {

                                hot.setDataAtCell(j, i, "");
                            }
                            i++;
                        });
                        j++;
                    });


                });


            }

        });


</script>
