﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
<div>
    @Html.HiddenFor(m => m.CurrentTabName, new { Value = Model.CurrentTabName, @id = "hdnCondenserCurrentTabName" })
    @Html.HiddenFor(m => m.RequestedTabName, new { @id = "hdnCondenserRequestedTabName" })
    @Html.HiddenFor(m => m.CondenserReceiverTypeData.receiverType, new { @id = "hdnReceiverTypeGrid" })



    <a href="#" id="hdnButtonReceiverTypeGrid" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
    
    <fieldset>
        <legend class="pull-left width-full"> Receiver Type </legend>
        <!-- begin row -->
        <div class="row">

            <!-- Grid Section START HERE -->
            <div class="col-md-12 p-0">
                <div class="table-responsive">
                  <div id="receiverTypeGrid"></div>
                </div>
            </div>
            <!-- Grid Section END HERE -->
            <div class="col-md-12 p-l-5 p-r-5 ui-sortable">
                <a href="#" id="ReceiverTypeTabPrevious" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                <a href="#" id="ReceiverTypeTabNext" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
              
            </div>


        </div>
    </fieldset>
</div>

<script>
    
       
    //$(document).ready(function () {
    $(window).load(function () {


        var screenWidth = screen.width - 155; //165

        NumericValidator = function (value, callback) {

            // var lengthBeforeDecimal = value.toString().split(".")[0];
            //var leght = parseInt(value.length);
                var isnumeric = $.isNumeric(value);
                var fiveDecimalPlaces = parseFloat(value);

            setTimeout(function () {
                if (value == null || value == "" || (isnumeric == true && value >= 0)) {
                    if (value != null || value != "")
                    {
                        var lengthBeforeDecimal = value.toString().split(".")[0];
                        if (lengthBeforeDecimal.length < 14)
                        {
                            callback(true);
                        }
                        else
                        {
                            callback(false);
                        }

                    }
                    else
                    {
                        callback(true);
                    }
                }
                else {
                    callback(false);
                }
            }, 1);
        };


            var receiverList = @Html.Raw(Json.Encode(Model.CondenserReceiverTypeData.lstReceiverType.Where(a=>a.ReceiverTypeID== Model.CondenserReceiverTypeData.lstReceiverType.FirstOrDefault().ReceiverTypeID).ToList()));
            var lstReceiverType =  @Html.Raw(Json.Encode(Model.CondenserReceiverTypeData.lstReceiverType.Select(a=>a.ReceiverSize).OfType<String>().Distinct().ToList()));
            var lstGridData = @Html.Raw(Json.Encode(Model.CondenserReceiverTypeData.lstReceiverType));
            var modelID =  @Html.Raw(@Model.CurrentCondenserModelID);
            var cols = ["", "Refrigerant Type"];
            var widths = [1,(screenWidth / 4.7)];
            var colVals = [

                {

                    data: 'RefrigerantType_ID',
                    type: 'numeric',
                    readOnly: true

                },
                {

                data: 'RefrigerantType',
                type: 'text',
                readOnly: true

                }
            ];
            var i = 0;
            var j = 0;
            for (i = 0; i < lstReceiverType.length; i++) {
                cols.push(lstReceiverType[i]);
                widths.push((screenWidth / 4.7));
            }



            for (j = 0; j < receiverList.length; j++)
            {
                colVals.push(
                    {

                        type: 'numeric',
                        validator: NumericValidator,
                        numericFormat: {
                            pattern: '0.00000',
                            culture: 'en-US' // this is the default culture, set up for USD
                        }
                    }

                );

            }

                var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
              //  var allowEdit = true;
                var readOnlyEnable;
                var allowPlugin;
                if (allowEdit == true || allowEdit == "true") {
                    readOnlyEnable = false;
                    allowPlugin = false;
                }
                else {
                    readOnlyEnable = true;
                    allowPlugin = false;
                }


                var objectData = receiverList,
                    configurations = document.getElementById('receiverTypeGrid'),
                    NumericValidator,
                    hot;




                config = {
                    data: objectData,
                    minSpareRows: 0,
                    autoWrapRow: true,
                    outsideClickDeselects: true,
                    editor: false,
                    maxCols: cols.length,
                    maxRows: colVals.length,
                    //colHeaders: true,
                    colHeaders: cols,
                    contextMenu: false,
                    columnSorting: true,
                    manualColumnResize: false,
                    sortIndicator: true,
                    columnSorting: true,
                    rowHeaders: false,
                    colWidths: 100,
                    hiddenColumns: {
                        columns: [0,3,4],
                        indicators: true
                    },

                    //width: screenWidth - 100,
                    //stretchH: 'all',//ll
                    removeRowPlugin: allowPlugin,
                    readOnly: readOnlyEnable,
                    colWidths: widths,
                    height: [(screenWidth / 4)],
                    allowInvalid: false,
                    //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
                    fillHandle: {
                        autoInsertRow: false,
                    },
                    columns: colVals
                };

                configurations = document.getElementById('receiverTypeGrid');
                hot = new Handsontable(configurations, config);

                $('#hdnButtonReceiverTypeGrid').on('click', function () {
                    var array = hot.getData();
                    var gridObjects = [];

                    array.forEach(function (row, rowIndex) {
                        gridObjects.push(new rowObject(row, rowIndex));
                    });

                    $("#hdnReceiverTypeGrid").val(JSON.stringify(gridObjects));
                });
             

                function rowObject(data) {

                    var self = this;
                    var dict = [];
                    self.RefrigerantType_ID = data[0];
                    self.RefrigerantType = data[1];
                    var j = 2;
                    for (i = 0; i < lstReceiverType.length; i++)
                    {
                        if (data[j] == '' || data[j] == "") {
                            data[j] = null;
                        }

                        dict.push({
                            key: lstReceiverType[i],
                            value: data[j]
                        });
                        j++;

                    }
                    self.GridValues = dict;
                    self.ModelID = modelID;

                };
                $('#ReceiverTypeTabPrevious,#ReceiverTypeTabNext').on('click', function () {
                    var id = this.id;
                    if (id == 'ReceiverTypeTabPrevious') {
                        OpenDesiredCondenserTab('_ControlPanel');// switch on Miscellaneous tab

                    }
                    else if (id == 'ReceiverTypeTabNext') {
                        OpenDesiredCondenserTab('_Pricing');// switch on ReceiverType  tab
                    }

                });

                hot.addHook('afterChange', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    // $("#UnitCoolerAccessoriesData_IsModified").val(true);

                });
                hot.addHook('afterRemoveRow', function (changes) {
                    if (!changes) {
                        return;
                    }
                    else {
                        $('#hdnIsEditedAfterApprove').val(true);
                    }
                    //   $("#UnitCoolerAccessoriesData_IsModified").val(true);
                });
                hot.addHook('afterCreateRow', function (index, amount) {

                });
                hot.updateSettings({
                    afterValidate: function (isValid, value, row, prop, source) {
                        if (isValid == false) {

                            hot.setDataAtCell(row, hot.propToCol(prop), '');
                        }
                    }

                });

                for (k = 0; k < lstGridData.length; k++) {
                    var colno = 2;
                    for (l = 0; l < lstReceiverType.length; l++) {
                        var rowno = 0;
                        for (m = 0; m < receiverList.length; m++)
                        {
                            if (hot.getDataAtCell(m, 0) == lstGridData[k].RefrigerantType_ID && lstGridData[k].ReceiverSize == lstReceiverType[l])
                            {
                                hot.setDataAtCell(rowno, colno, lstGridData[k].ReceiverCapacity);
                            }
                            rowno++;
                        }
                        colno++;
                    }


                }
               
                 $(".htCore").addClass("table table-responsive");

    });

</script>