﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Insert Legs Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-12 -->
        <div class="col-md-12 p-0">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-primary">Control Type</th>
                            <th class="bg-primary">Levitor</th>
                            <th class="bg-primary">Microprocessor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">Disconnect Options</td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-left">VFD Power Distribution Block</td>
                            <td class="text-left"><input type="checkbox"></td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                        </tr>
                        <tr>
                            <td class="text-left">GFI Outlets</td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                            <td class="text-left"><input type="checkbox"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-left">Variable Speed Fans</td>
                            <td class="text-left"><input type="checkbox"></td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                        </tr>
                        <tr>
                            <td class="text-left">Control Circuit</td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                            <td class="text-left"><input type="checkbox"></td>
                        </tr>
                        <tr class="odd">
                            <td class="text-left">Drop Leg Transducer</td>
                            <td class="text-left"><input type="checkbox"></td>
                            <td class="text-left"><input type="checkbox" checked value=""></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <!-- end col-12 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white btnClearModal" data-dismiss="modal">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary btnAddModal" data-dismiss="modal">Add Details</a>
    </div>
</div>
