﻿@{
    ViewBag.Title = "Add Condenser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Add Condenser</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                    @*<form action="javascript:;" method="POST">*@
                    @using (Html.BeginForm("AddCondenser", "Condenser", FormMethod.Post, new { name = "Condenser", id = "condenser" }))
                    {
                        <div id="wizard">
                            <ol>
                                <li class="list-width active">
                                    <i class="fa fa-th-list"></i> Condenser Details
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-archive"></i> Condenser Type
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-clock-o"></i> Condenser Capacity
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-paperclip"></i> Miscellaneous
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-cogs"></i> Control Panel
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <span class="receiver-icon"></span> Receiver Type
                                </li>
                                <li style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-money"></i> Pricing
                                </li>
                            </ol>

                            <!-- Condenser Details step-1 -->
                            @Html.Partial("_CondenserDetails")
                            
                        </div>

                        <div class="col-md-12 p-l-20 p-r-20 m-t-20 p-0 ui-sortable">
                            <input id="btnSave" type="submit" value="Save" class="btn btn-primary btn-md m-l-5 pull-right" />
                            <a href="#" class="btn btn-white btn-md pull-right">Cancel</a>
                            <div class="clearfix"></div>
                        </div>
                    }


                    <!-- end panel -->
                    <!-- begin col 12 -->
                    
                    <!-- end col-12 -->
                </div>



            </div>
        </div>
        <!-- end col-8 -->

    </div>
    <!-- end row -->
</div>



<script type='text/javascript'>
    $('#nextDetails').css("display", "none");

    $(document).ready(function () {
        $('#lblDimensionModel').hide();
        $("#condenser").submit(function (event) {

            if ($("#LengthBox").val() != 0 && $("#WidthBox").val() != 0 && $("#HeightBox").val() != 0) {
                $('#lblDimensionModel').hide();
                return;
            }
            else
            {
                $('#lblDimensionModel').show();
            }
            event.preventDefault();

        });
    });

</script>

@*

    <script>
    var LastTab = '_CondenserDetails';
    function NextTab(PartialViewName)
    {
        $('#PartialView').load('@(Url.Action("AddCondenser", "Condenser",null, Request.Url.Scheme))?Name=' + PartialViewName);
        $('#'+LastTab).addClass('').removeClass('active');
        document.getElementById(PartialViewName).classList.add('active');
        LastTab = PartialViewName;
    }
    </script>
*@