﻿@model IEnumerable<Hussmann.Models.Condenser.RefrigerantType.RefrigerantTypeViewModel>
@{
    ViewBag.Title = "AddRefrigerantType";
}

<div  id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Add Refrigerant Type</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Available Types</b></h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Refrigerant Type</th>
                                <th>Description</th>
                                <th>Active</th>
                                <th>Obsolete</th>
                                <th width="40px">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var RefrigrentType in Model)
                            {
                                <tr>
                                    <td>@RefrigrentType.RefrigerantType1</td>
                                    <td>@RefrigrentType.RefrigerantDescr</td>
                                    @if (RefrigrentType.Active == true)
                                    {<td><input type="checkbox" checked  disabled="disabled" /></td> 
                                    }
                                    else
                                    {
                                    <td><input type="checkbox"  disabled="disabled"/></td>
                                    }
                                    @if (RefrigrentType.Obsolete == true)
                                    {
                                    <td><input type="checkbox" checked disabled="disabled" /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" disabled="disabled"/></td>
                                    }
                                    <td class="text-center"><a onclick="EditRefregerantType(@RefrigrentType.RefrigerantType_ID)" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                </tr>
                            }

                        @*<tr class="odd gradeX">
                                <td>S</td>
                                <td>R404A</td>
                                <td><input type="checkbox" checked /></td>
                                <td><input type="checkbox" /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            <tr>
                                <td>P</td>
                                <td>R507A</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" checked /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>T</td>
                                <td>R448A</td>
                                <td><input type="checkbox" checked /></td>
                                <td><input type="checkbox" checked /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            <tr>
                                <td>R</td>
                                <td>R449A</td>
                                <td><input type="checkbox" checked /></td>
                                <td><input type="checkbox" checked /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Q</td>
                                <td>R407A</td>
                                <td><input type="checkbox" /></td>
                                <td><input type="checkbox" checked /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>
                            <tr>
                                <td>F</td>
                                <td>R407F</td>
                                <td><input type="checkbox" checked /></td>
                                <td><input type="checkbox" /></td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                            </tr>*@

                        </tbody>
                    </table>
                    <!--From START HERE-->
                    <div id="EditRefregerantTypePartialView">
                        @Html.Partial("EditRefrigerantType", new Hussmann.Models.Condenser.RefrigerantType.RefrigerantTypeViewModel())
                    </div>

                </div>


            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end row -->
</div>  



<script>
     function EditRefregerantType(ModelID)
     {
         $('#EditRefregerantTypePartialView').load('@(Url.Action("AddRefrigerantType", "Condenser",null, Request.Url.Scheme))?ModelID=' + ModelID);

         $("html, body").animate({
             scrollTop: $(document).height() - $(window).height()
         });
     }
    $(document).ready(function () {
        $('#btnSaveRefrigerant').val("Add");
        $('#data-table').DataTable();
        });

    </script>

