﻿@model Hussmann.Models.Condenser.Add.AddCondenserViewModel
@using Hussmann.Common.Enumeration;
@{
    ViewBag.Title = "EditCondenser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Edit Condenser</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                    @*<form action="javascript:;" method="POST">*@
                    @using (Html.BeginForm("EditCondenser", "Condenser", FormMethod.Post,new { name = "Condenser", id = "condenser" }))
                    {
                        <div id="wizard">
                            <ol>
                                <li class="list-width width-tab remove"  onclick="OpenDesiredCondenserTab('_CondenserDetails')" id="_CondenserDetails">
                                    <i class="fa fa-th-list"></i> Condenser Details
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_CondenserType')" id="_CondenserType">
                                    <i class="fa fa-archive"></i> Condenser Type
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_CondenserCapacity')" id="_CondenserCapacity">
                                    <i class="fa fa-clock-o"></i> Condenser Capacity
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_Miscellaneous')" id="_Miscellaneous">
                                    <i class="fa fa-paperclip"></i> Miscellaneous
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_ControlPanel')" id="_ControlPanel">
                                    <i class="fa fa-cogs"></i> Control Panel
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_ReceiverType')" id="_ReceiverType">
                                    <span class="receiver-icon"></span> Receiver Type
                                </li>
                                <li class="list-width width-tab" onclick="OpenDesiredCondenserTab('_Pricing')" id="_Pricing">
                                    <i class="fa fa-money"></i> Pricing
                                </li>
                            </ol>
                            <span style="display:block; margin:14px 20px; float:right; position:absolute; right:0px;">
                                <label class="m-t-5 m-r-5" style="text-align:left">State : @Model.CurrentCoilState , Version : @Model.CurrentCoilVersion</label>
                                @Html.ActionLink("Approve Record", "ChangeCondenserState", new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Approved) }, new { @style = (Model.CanApproveRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Move to Draft", "ChangeCondenserState", new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Draft) }, new { @style = (Model.CanMoveToDraft ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Submit Record", "ChangeCondenserState", new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Submitted) }, new { @style = (Model.CanSubmitRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Reject Record", "ChangeCondenserState", new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Rejected) }, new { @style = (Model.CanRejectRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @if (@Model.CanDeleteRecord == true)
                                {
                                    <a class="btn btn-green btn-sm m-l-5 pull-right" data-href=@Url.Action("ChangeCondenserState", "Condenser", new RouteValueDictionary(new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Deleted) })) data-status="Inactivate" data-toggle="modal" data-target="#confirm-status">Delete</a>
                                }

                            </span>

                            <div class="clear"></div>
                        </div>
                        <div id="PartialView">
                            @Html.Partial(Model.CurrentTabName)
                        </div>
                        @*<input type="hidden" value="" id="Message" name="RequestedTab" />*@
                        @*</form>*@
                        @Html.HiddenFor(m => m.CurrentCondenserModelID, new { Value = Model.CurrentCondenserModelID, @id = "hdnCondenserModelID" })
                        @Html.HiddenFor(m => m.IsCondenserCapacityGridValid, new { @id = "hdnCondenserCapacityGridValid" })
                        @Html.HiddenFor(m => m.IsMiscellaneousGridValid , new { @id = "hdnMiscellaneousGridValid" })
                        @Html.HiddenFor(m => m.IsEditedAfterApprove, new { @id = "hdnIsEditedAfterApprove" })
                        @Html.HiddenFor(m => m.AllowEdit, new { @id = "hdnAllowEdit" })
                        @Html.HiddenFor(m => m.RedirectTo, new { @id = "hdnRedirectTo" })
                        @Html.HiddenFor(m => m.SearchQuery, new { @id = "hdnSearchQuery" })

                    }
                   
                    
                    <!-- end panel -->
                    <!-- begin col 12 -->
                    <div class="col-md-12 p-l-20 p-r-0 m-t-20 p-0 ui-sortable">
                        <a href="#" type="submit" value="Save" id="btnSaveCondenser" class="btn btn-primary btn-md m-l-5 pull-right">Save</a><a id="btnCancelCondenser" href="#" class="btn btn-white btn-md pull-right">Cancel</a>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end col-12 -->
                </div>



            </div>
        </div>
        <!-- end col-8 -->

    </div>
    <!-- end row -->
</div>
<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Alert!
            </div>
            <div class="modal-body">
                Are you sure you want to Delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="btnpost" class="btn btn-danger btn-ok" href="@Url.Action("ChangeCondenserState", "Condenser", new RouteValueDictionary(new { modelId = Model.CurrentCondenserModelID, state = Convert.ToInt32(enState.Deleted) }))">Yes</a>
            </div>
        </div>
    </div>
</div>

<style>
    .remove {
        transition: none;
        color: #f0f3f4 !important;
    }
</style>

<script>

    $(window).load(function () {
        var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
        if (allowEdit == false)
        {
            $("#btnSaveCondenser").hide();
            $(".btnAddModal,.btnClearModal").hide();

            $('input,select').attr('readonly', true);
            $('input,select').css("pointer-events", "none");
           // $('input,select').attr("disabled", true);
            document.getElementById("btnSave").disabled = true;

       
        }
      
    });

    $('input,select').on('change', function () {
        $('#hdnIsEditedAfterApprove').val(true);
    });


    $(document).ready(function () {
        $('#_CondenserDetails').addClass('').removeClass('active');
        $('#lblDimensionModel').hide();
        setTimeout(function () {

            activeTab = @Html.Raw(Json.Encode(Model.CurrentTabName));
                    //var activeTab = $("#hdnCondenserCurrentTabName").val();
            if (activeTab != '_CondenserDetails')
            {
                $('#_CondenserDetails').addClass('').removeClass('active');
                document.getElementById(activeTab).classList.add('active');
            }


        }, 1);
    });

    $("#btnSaveCondenser").click(function (event) {

        var Tab = {
            CondenserDetails: '_CondenserDetails',
            CondenserType: '_CondenserType',
            CondenserCapacity: '_CondenserCapacity',
            Miscellaneous: '_Miscellaneous',
            ControlPanle: '_ControlPanel',
            ReceiverType: '_ReceiverType',
            Pricing: '_Pricing'
        };

        var activeTab = @Html.Raw(Json.Encode(Model.CurrentTabName));

        if (activeTab === Tab.CondenserType)
        {
            event.preventDefault();
            $("#condenser").submit();
        }
        else if (activeTab == Tab.CondenserCapacity) {
            event.preventDefault();
            var btnHiddenCondenserCapacity = $("#hdnButtonCondenserCapacity");
            btnHiddenCondenserCapacity.click();

            var IsCondenserCapacityValid = $("#hdnCondenserCapacityGridValid").val();
            if (IsCondenserCapacityValid === false || IsCondenserCapacityValid === "False" || IsCondenserCapacityValid === "false") {
                $("#hdnCondenserRequestedTabName").val(currentTab);
                setTimeout(function () {
                    $('#_CondenserDetails').addClass('').removeClass('active');
                    document.getElementById(currentTab).classList.add('active');
                }, 10);
            }
            else {
                $("#condenser").submit();
            }
        }
        else if (activeTab == Tab.Miscellaneous) {
            event.preventDefault();
            var btnHiddenMiscellaneous = $("#hdnButtonMiscellaneous");
            btnHiddenMiscellaneous.click();

            var IsMiscellaneousValid = $("#hdnMiscellaneousGridValid").val();
            if (IsMiscellaneousValid === false || IsMiscellaneousValid === "False" || IsMiscellaneousValid === "false") {
                $("#hdnCondenserRequestedTabName").val(currentTab);
                setTimeout(function () {
                    $('#_CondenserDetails').addClass('').removeClass('active');
                    document.getElementById(currentTab).classList.add('active');
                }, 10);
            }
            else {
                $("#condenser").submit();
            }
        }
        else if (activeTab == Tab.ControlPanle) {
            event.preventDefault();
            var controlPanelValid = SetValueInJson();
            if (controlPanelValid == true) {
                $("#condenser").submit();
            }
            

        }
        else if (activeTab == Tab.ReceiverType) {
            event.preventDefault();
            var btnReceiver = $('#hdnButtonReceiverTypeGrid');
            btnReceiver.click();
            $("#condenser").submit();

        }
        else if (activeTab == Tab.Pricing) {
            event.preventDefault();
            var btnPricing1 = $("#hdnButtonControlPanelPricing");
            btnPricing1.click();
            var btnPricing2 = $('#hdnButtonRecieverPricing');
            btnPricing2.click();
            var btnPricing3 = $('#btnMiscellaneousPricing');
            btnPricing3.click();
            var btnPricing4 = $('#btnLegPricingData');
            btnPricing4.click();

            $("#condenser").submit();

        }
        //else
        //{
        //    $("#condenser").submit();
        //}

    });

    $('#btnCancelCondenser').click(function (event) {
        var redirectTo = $('#hdnRedirectTo').val();
        var queryString =  @Html.Raw(Json.Encode(Model.SearchQuery));
        if (redirectTo === "SearchCondenser")
        {

            // changing logic
            if (queryString != "" || queryString != null)
            {
                queryString = "&" + queryString;
                var modelNumber = getParameterByName('modelNumber', queryString);
                var condenserBrandId = getParameterByName("condenserBrandId", queryString);
                var condenserFamilyId = getParameterByName("condenserFamilyId", queryString);
                var statusId = getParameterByName("statusId", queryString);
                var pinned = getParameterByName("pinned", queryString);
                var url = '@Url.Action("../Condenser/SearchCondenser")' + '?modelNumber=' + modelNumber
                    + '&' + 'condenserBrandId=' + condenserBrandId
                    + '&' + 'condenserFamilyId=' + condenserFamilyId
                    + '&' + 'statusId=' + statusId
                    + '&' + 'pinned=' + pinned;
                location.href = url;
            }
            else
            {
                location.href = '@Url.Content("~/"+ enCondenserController.Condenser+"/"+ enCondenserAction.SearchCondenser )';
            }

        }
        else if (redirectTo === "Index")
        {
            location.href = '@Url.Content("~/"+enController.Home+"/"+enAction.Index+"")';
        }

    });

    function getParameterByName(name, url) {

        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $("#condenser").submit(function (event) {

        if ($("#LengthBox").val() != 0 && $("#WidthBox").val() != 0 && $("#HeightBox").val() != 0) {
            $('#lblDimensionModel').hide();
            return;
        }
        else {
            $('#lblDimensionModel').show();
        }
        event.preventDefault();

    });

</script>
