﻿@model Hussmann.Models.Condenser.RefrigerantType.RefrigerantTypeViewModel
<div class="bwizard-activated">
    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-plus"></i> 
            @if (Model.RefrigerantType_ID != 0)
            { <span>Edit Refrigerant Type</span> }
            else
            { <span>Add Refrigerant Type</span> }
        </legend>
        <!-- begin row -->
        <div class="row">
            @using (Html.BeginForm("SaveRefrigerantType", "Condenser", FormMethod.Post ,new { id= "main_div" }))
            {
            <div class="col-md-12 p-0 ui-sortable  p-t-7">
                <!-- Buld Type START HERE -->
                <div class="col-md-6 ui-sortable">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Refrigerant Type</label>
                        <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                            @Html.TextBoxFor(m => m.RefrigerantType1, null, new { placeholder = "Refrigerant Type" , Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RefrigerantType1)
                            @*<input class="form-control" placeholder="Refrigerant Type">*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group ">
                        <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Status</label>
                        <div class="col-md-8 ui-sortable p-l-0 p-r-0 p-t-7">
                            <label class="radio-inline unbold">
                                @Html.RadioButtonFor(x => x.Active, "true") Active
                                @*<input type="radio" name="optionsRadios" value="option1" checked="">Active*@
                            </label>
                            <label class="radio-inline unbold">
                                @Html.RadioButtonFor(x => x.Active, "false") Obsolete
                                @*<input type="radio" name="optionsRadios" value="option2">Obsolete*@
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Buld Type END HERE -->
                <!-- Buld Type START HERE -->
                <div class="col-md-6 ui-sortable">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Refrigerant Description</label>
                        <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                            @Html.TextBoxFor(m => m.RefrigerantDescr, null, new { placeHolder = "Refrigerant Description", Class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RefrigerantDescr)
                            @*<input class="form-control" placeholder="Refrigerant Description">*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Buld Type END HERE -->
                <div class="clearfix"></div>

            </div>
            @Html.HiddenFor(m=> m.RefrigerantType_ID)
            <div class="col-md-12 p-0 ui-sortable  p-t-7">
                <hr />
                <a href="/Home/Index" class="btn btn-white btn-md m-l-5 pull-right">Cancel</a><input id="btnSaveRefrigerant" type="submit" value="Update" class="btn btn-primary btn-md pull-right">
                <div class="clearfix"></div>
            </div>
            }
            <!-- end row -->
        </div>
    </fieldset>

</div>
<script>
    $(document).ready(function () {

        var form = $("#main_div").closest("form");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
    });
</script>
 