﻿
@{
    ViewBag.Title = "SearchCondenser";
}

<div id="nav" class="p-t-0 sidebar">
    @Html.Partial("_LeftTraySearchCondenser")
</div>

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Search Condenser</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Search Results</b></h4>
                </div>
                <div class="panel-body p-t-0">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Model</th>
                                    <th>Brand</th>
                                    <th>Type</th>
                                    <th>Model Suffix</th>

                                    <th>Status</th>
                                    <th>Version</th>
                                    <th>Modified On</th>
                                    <th>Modified By</th>
                                    <th>Active\ Inactive</th>

                                    <th>@ViewBag.EditOrView</th>
                                    <th>Export</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->
    </div>
    <!-- end row -->
</div>
<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Alert!
            </div>
            <div class="modal-body">
                Are you sure you want to <span id="model-status"> </span> this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="btnpost" class="btn btn-danger btn-ok">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {


        var val = $('#hdnCondenserPinnedTab').val();
        if (val === "True" || val === "true" || val === true) {

            setTimeout(function () {
                $('#nav').stop().animate({ 'margin-left': '0px' }, 1000);
                $(".nav-btn").html('<img src="/Content/img/slide-out.png" alt="open" />')
                $(".nav-hide").html('<img src="/Content/img/auto_hide_open_icon.png" alt="open" />')
                $(".content").css({ 'margin-left': '320px' });

            }, 1);
        }

        var queryString = $('#hdnQueryString').val();
        var url = window.location.href;
        var splitedUrl = url.split('?');

        var parameters = splitedUrl[1];
        $('#hdnQueryString').val(parameters);


        var model = @Html.Raw(Json.Encode(ViewBag.ModelNumberParm));
        var BrandId = @Html.Raw(Json.Encode(ViewBag.BrandID));
        var FamilyId = @Html.Raw(Json.Encode(ViewBag.FamilyId));
        var StatusId = @Html.Raw(Json.Encode(ViewBag.StatusId));
        var userType = @Html.Raw(Json.Encode(ViewBag.userType));
        var iconImage = @Html.Raw(Json.Encode(ViewBag.IconImage));
        var ViewOrEdit = @Html.Raw(Json.Encode(ViewBag.EditOrView));
        var pagenum = $("#hdnPagenum").val();
        //var pagenum;
        var table = $('#data-table').DataTable({
            "sDom": "<'row'<'col-md-6 col-sm-6'l><'col-md-6 col-sm-6'f>r>t<'row'<'col-md-6 col-sm-6'i><'col-md-6 col-sm-6'p>>",
            // "sPaginationType": "bootstrap",
            "bFilter": true,
            "aaSorting": [[6, 'desc']],
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page"
            },
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "responsive": true,
            "iDisplayStart": pagenum,
            "ajax":
            {

                "data": function (d, settings) {
                    var api = new $.fn.dataTable.Api(settings);
                    d.modelNumber = model;
                    d.condenserBrandId = BrandId;
                    d.condenserFamilyId = FamilyId;
                    d.StatusId = StatusId;
                    d.Page = Math.min(
                        Math.max(0, Math.round(d.start / api.page.len())),
                        api.page.info().pages);
                        pagenum = d.Page;

                },
                "url": '/Condenser/GetCondenserData',
                "type": "POST",
                "dataType": "JSON"
            },

            "columns": [
                {
                    "data": "ModelNumber"
                },
                {
                    "data": "CondenserBrandName"
                },
                {
                    "data": "CondenserFamilyName"
                },
                {
                    "data": "ModelSuffixID"
                },
                {
                    "data": "StateDescription"
                },
                {
                    "data": "Version"
                },
                {
                    "data": "LastModifiedOn"
                },
                {
                    "data": "ActionBy"
                },
                {

                }
                ,
                {

                }
                ,
                {

                }
            ]
            ,
            "columnDefs": [{
                "targets": 8,
                "bSortable": false,
                "data": function (row, type, val, meta) {
                    {

                        if (userType == 'Reader')
                        {
                            if (row.StateDescription == "Deleted")
                            {

                                return 'Inactive';
                        }
                        else
                            {
                                return 'Active';
                        }
                    }
                    else
                    {
                            if (row.StateDescription == "Deleted")
                            {
                                var model = row.ModelID;
                                var href = '@Url.Action("ChangeCondenserStateWithSearchState", "Condenser")?modelId=' + row.ModelID + '&state=' + null;
                                return '<a style="cursor:pointer;" data-href=' + href + ' data-status="Activate" data-toggle="modal" data-modelid="' + row.ModelID + '" data-target="#confirm-status" > Inactive</a >'
                        }
                        else
                            {
                                var model = row.ModelID;
                                var href = '@Url.Action("ChangeCondenserStateWithSearchState", "Condenser")?modelId=' + row.ModelID + '&state=' + null;
                                return '<a style="cursor:pointer;" data-href=' + href + ' data-status="Inactivate" data-toggle="modal" data-modelid=' + row.ModelID + ' data-target="#confirm-status" > Activate</a >'
                        }
                    }
                    }
                }
            }
                ,
            {
                "targets": 9,
                "bSortable": false,
                "data": function (row, type, val, meta) {
                    {
                        var modelid = row.ModelID;
                        if (ViewOrEdit == 'Edit')
                        {
                            return '<a id="btnViewModel" onclick="RedirectWithQueryString(' + modelid + ');" class="btn btn btn-primary btn-icon btn-circle btn-sm " data-modelid=' + modelid + '><i class="fa fa-pencil"></i></a>'
                        }
                        else if (ViewOrEdit == 'View')
                        {
                            return '<a id="btnViewModel" onclick="RedirectWithQueryString(' + modelid + ');" class="btn btn btn-primary btn-icon btn-circle btn-sm " data-modelid=' + modelid + '><i class="fa fa-eye"></i></a>'
                        }
                    }
                }
                }
                ,
            {
                "targets": 10,
                "bSortable": false,
                "data": function (row, type, val, meta) {
                    {
                        var modelid = row.ModelID;
                        var href = '@Url.Action("DownloadCondenserExcelFile", "Condenser")?modelId=' + row.ModelID;
                        return '<a href=' + href + '><img src="@Url.Content("~/Content/img/download.png")" class="p-t-0 p-b-5 img-responsive" style="height:30px;width:30px;background-color:inherit" alt="Download" title="Download" /></a>'
                    }
                }
            }
            ]
        });



        function processInfo(info) {
            pagenum = info.page;
            alert(pagenum);
        }
        $('#data-table').on('click', 'thead th', function () {

            $("#hdnPagenum").val(pagenum * 10);
            var page = $("#hdnPagenum").val();
            var mytable = $('#data-table').DataTable();
            mytable.iDisplayStart = parseInt(page);
            mytable.draw(pagenum, true);

            //alert($("#hdnPagenum").val());
        });

    });

    $('#confirm-status').on('show.bs.modal', function (e) {
        $("#model-status").html($(e.relatedTarget).data('status'));
        var modelId = $(e.relatedTarget).data('modelid');
        $(this).find('.btn-ok').bind("click", function (event) {

            $.ajax({
                url: '@Url.Action("ChangeCondenserStateWithSearchState", "Condenser")',
                data: { modelId: modelId, state: null },
                type: 'GET',
                success: function (data) {

                    $('#searchCondenser').submit();

                }
            });
        });
    });

        function RedirectWithQueryString(modelID)
    {
        var queryString = $('#hdnQueryString').val();
        var url = window.location.href;
        var splitedUrl = url.split('?');


        var queryStringParameters = splitedUrl[1];
        if (queryStringParameters != null || queryStringParameters != undefined)
        {
            queryStringParameters = queryStringParameters.replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '_');
        }
        else if (queryStringParameters == null || queryStringParameters == undefined)
        {
            queryStringParameters = "";
        }

        var RedirectTo = "SearchCondenser";

        var val = $('#hdnCondenserPinnedTab').val();

        location.href = '@Url.Action("EditCondenser", "Condenser")?ModelID=' + modelID + '&RedirectTo=' + RedirectTo + '&queryStringParameters=' + queryStringParameters;



    }
</script>

