﻿@using Hussmann.Common.Helper

<div class="height-xs" data-scrollbar="true">
    <div class="stats-icon stats-icon-md"></div>
    <div class="stats-number"><i class="fa fa-ban"></i> Recently Rejected Records</div>
    @foreach (var item in Model.CombinedRejectedRecords)
    {
        <hr class="brack-line">
        <div class="stats-title underline text-white">
            <img src="@DashboardHelper.GetImageForChillerItem(@item.ChillerType)" alt="" class="rounded-corner pull-left save-recored-img" />
            <span class="stats-desc pull-right text-right" style="padding-right:7px;">@item.LastModifiedOn</span>
            <h5>
            @DashboardHelper.GetNameForChillerItem(@item.ChillerType)
            </h5>
            <p>Model <b>@item.ModelNumber</b> rejected by <b>@item.ActionBy</b>.</p>
        </div>
    }
</div>
