﻿@using Hussmann.Common.Helper
@using Hussmann.Common.Enumeration
<div class="height-xs" data-scrollbar="true">
    <div class="stats-icon stats-icon-md"></div>
    <div class="stats-number"><i class="fa fa-check"></i> Recently Saved Records</div>
    @foreach (var item in Model.CombinedSavedRecords)
    {
        <hr class="brack-line">
        <div class="stats-title underline text-white">
            <img src="@DashboardHelper.GetImageForChillerItem(@item.ChillerType)" alt="" class="rounded-corner pull-left save-recored-img" />
            @if (@item.ChillerType == enChillerType.UnitCooler.ToString())
            {
                <span class="stats-desc pull-right text-right"><a href="@Url.Action("EditUnitCooler", "UnitCooler", new { ModelID = @item.ModelID })" class="btn btn-white btn-sm pull-right" style="margin-right: 8px;">View</a></span>
            }
            else if (@item.ChillerType == enChillerType.Condenser.ToString())
            {
                <span class="stats-desc pull-right text-right"><a href="@Url.Action("EditCondenser", "Condenser",new {ModelID = @item.ModelID })" class="btn btn-white btn-sm pull-right" style="margin-right: 8px;">View</a></span>
            }
            else if (@item.ChillerType == enChillerType.Compressor.ToString())
            {
                <span class="stats-desc pull-right text-right"><a href="@Url.Action("EditCompressor", "Compressor", new {ModelID = @item.ModelID })" class="btn btn-white btn-sm pull-right" style="margin-right: 8px;">View</a></span>
            }
            <span class="stats-desc pull-right text-right" style="padding-right:5px;">@item.LastModifiedOn</span>

            <h5>
                @DashboardHelper.GetNameForChillerItem(@item.ChillerType)
            </h5>
            <p>Model <b>@item.ModelNumber</b> saved by <b>@item.CreatedBy</b>  </p>

        </div>
    }
</div>
