﻿@using Hussmann.Common.Helper
@using Hussmann.Common.Enumeration
@{
    ViewBag.Title = "Dashboard";

}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Dashboard</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-8">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>News Feed</b></h4>
                </div>


                <div  class="panel-body">
                    <div class="height-md" data-scrollbar="true">
                        <ul class="media-list media-list-with-divider media-messaging">

                            @foreach (var item in Model.CombinedNewsFeed)
                            {
                                //if (@item.StateID == 5 || @item.StateID == 4 || @item.StateID == 1)
                                //{
                                    <li class="media media-sm">
                                        <img src="@DashboardHelper.GetImageForChillerItem(@item.ChillerType)" alt="" class="media-object rounded-corner pull-left dropdown-toggle f-s-14" />
                                        <a href="javascript:;" class="pull-left dropdown-toggle f-s-14 relative-icon">
                                            <span class="@DashboardHelper.GetIconSpanClass(@item.StateID)"><i class="@DashboardHelper.GetIconImageClass(@item.StateID)"></i></span>
                                        </a>
                                        <div class="media-body">
                                            <p class="pull-right m-b-0">
                                                <span class="small block text-right m-b-10">@item.LastModifiedOn</span>
                                                @if (@item.StateID != 5)
                                                {
                                                    if (@item.ChillerType == enChillerType.UnitCooler.ToString())
                                                    {
                                                        <a href="@Url.Action("EditUnitCooler", "UnitCooler",new {ModelID = @item.ModelID, RedirectTo = Convert.ToString(enAction.Index), queryStringParameters = "" })" class="btn btn-primary btn-sm m-l-5 pull-right m-b-5">View</a>
                                                    }
                                                    else if (@item.ChillerType == enChillerType.Condenser.ToString())
                                                    {
                                                        <a href="@Url.Action("EditCondenser", "Condenser",new {ModelID = @item.ModelID, RedirectTo = Convert.ToString(enAction.Index), queryStringParameters = "" })" class="btn btn-primary btn-sm m-l-5 pull-right m-b-5">View</a>
                                                    }
                                                    else if (@item.ChillerType == enChillerType.Compressor.ToString())
                                                    {
                                                        <a href="@Url.Action("EditCompressor", "Compressor",new {ModelID = @item.ModelID, RedirectTo = Convert.ToString(enAction.Index), queryStringParameters = "" })" class="btn btn-primary btn-sm m-l-5 pull-right m-b-5">View</a>
                                                    }

                                                }
                                            </p>
                                            <h5 class="media-heading">@DashboardHelper.GetNewsFeedChillerHeading(@item.StateID, @item.ChillerType)</h5>
                                            <p>@DashboardHelper.GetNameForChillerItem(@item.ChillerType) model <b>@item.ModelNumber</b> has been @DashboardHelper.GetStateActionForDisplayText(@item.StateID) by @item.ActionBy </p>
                                        </div>
                                    </li>
                                //}
                            }


                        </ul>
                    </div>


                </div>


            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->

        <div class="col-md-4">

            <!-- Saved Records START HERE -->
            <div  class="widget widget-stats bg-green">
                
                @Html.Partial("~/Views/Home/_IndexSavedRecords.cshtml")

                
            </div>
            <!-- Saved Records END HERE -->
            <!-- Submited Records START HERE -->
            <div class="widget widget-stats bg-primary">
                @Html.Partial("~/Views/Home/_IndexSubmittedRecords.cshtml")

            </div>
            <!-- Submited Records END HERE -->
            <!-- Rejected Records START HERE -->
            <div class="widget widget-stats bg-danger">
                @Html.Partial("~/Views/Home/_IndexRejectedRecords.cshtml")

            </div>
            <!-- Rejected Records END HERE -->

        </div>


    </div>
    <!-- end row -->
</div>
<script type="text/javascript">
    //setInterval("$('#page-container').load('Home/Index')", 10000);
    //$("#page-loader").removeClass("fade in top bottom left right");
    //$("#page-loader").fadeOut();

    function OpenRequestedModel(ModelID)
{
    var url = '@Url.Action("EditUnitCooler", "UnitCooler")';
    // do something with the url client side variable, for example redirect
    window.location.href = url;

}

</script>


@*<script type='text/javascript'>
        $("#nav").hide();
    </script>*@
