﻿<div>
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-archive"></i> Accessories</legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Motor ID</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Accessory Name</label>
                    <div class="col-md-6 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#modal-dialog" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i> Add Details</a>
                        <!-- Modal START HERE-->
                        <div class="modal fade" id="modal-dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Accessory Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- begin col-6 -->
                                        <div class="col-md-6 p-0">
                                            <div class="form-group">
                                                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Accessory Type</label>
                                                <div class="col-md-8 ui-sortable">
                                                    <select class="form-control">
                                                        <option>Please Select</option>
                                                    </select>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- end col-6 -->
                                        <!-- begin col-6 -->
                                        <div class="col-md-6 p-0">
                                            <div class="form-group">
                                                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Port Number</label>
                                                <div class="col-md-8 ui-sortable">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- end col-6 -->
                                        <!-- begin col-6 -->
                                        <div class="col-md-6 p-0">
                                            <div class="form-group">
                                                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Minimum BTU</label>
                                                <div class="col-md-8 ui-sortable">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- end col-6 -->
                                        <!-- begin col-6 -->
                                        <div class="col-md-6 p-0">
                                            <div class="form-group">
                                                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Maximum BTU</label>
                                                <div class="col-md-8 ui-sortable">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- end col-6 -->
                                        <!-- begin col-6 -->
                                        <div class="col-md-12 p-0">
                                            <div class="form-group">
                                                <label class="col-md-2 p-t-7 control-label ui-sortable p-l-0 p-r-0">Description</label>
                                                <div class="col-md-10 ui-sortable">
                                                    <textarea class="form-control" rows="5" ></textarea>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <!-- end col-6 -->

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Clear</a>
                                        <a href="javascript:;" class="btn btn-sm btn-primary">Add Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal END HERE-->

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Motor Type</label>
                    <div class="col-md-8 ui-sortable">
                        <select class="form-control">
                            <option>Please Select</option>
                            <option>Type 1</option>
                            <option>Type 2</option>
                            <option>Type 3</option>
                            <option>Type 4</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <div class="col-md-8 ui-sortable col-md-offset-4 m-t-5">
                        <a href="javascript:;" class="p-t-7 p-l-0 p-r-0"><i class="fa fa-plus"></i>&nbsp; Add another</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end col-4 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Vendor</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-4 -->
            

            <!-- begin col 12 -->
            <div class="col-md-12 p-0 m-0">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#">← Previous</a></li><li class="next" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <div class="clearfix"></div>
            </div>
            <!-- end col-12 -->

        </div>
        <!-- end row -->
    </fieldset>
</div>









