﻿
<div>
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-cogs"></i> Configurations</legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Motor Amps</label>
                    <div class="col-md-6 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#add-motor-amps" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Amps</a>
                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- Modal Add Motor Amps START HERE-->
            <div class="modal fade" id="add-motor-amps">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Add Motor Amps Details</h4>
                        </div>
                        <div class="modal-body">
                            <!-- begin col-8 -->
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary">Voltage</th>
                                                <th class="bg-primary">A</th>
                                                <th class="bg-primary">B</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                            <tr>
                                                <td>B - 115/1/60</td>
                                                <td>2.40000</td>
                                                <td>0.80000</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>B - 208/1/60</td>
                                                <td>3.00000</td>
                                                <td>0.50000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                               
                            </div>
                            <!-- end col-8 -->
                            <!-- begin col-4 -->
                            <div class="col-md-4">

                                <a href="javascript:;" class="btn btn-green btn-block m-b-10">Add Motor Model Type</a>

                                <div class="form-group">
                                    <div class="col-md-12 ui-sortable p-l-0 p-r-0">
                                        <select class="form-control">
                                            <option>Please Select</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="note note-success">
                                    <h4>Some header text here!</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Maecenas id gravida libero. Etiam semper id sem a ultricies. Donec id consequat magna.
                                        Suspendisse tincidunt blandit metus, eu pretium nibh tincidunt eget.
                                    </p>
                                </div>

                            </div>
                            <!-- end col-4 -->

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Clear</a>
                            <a href="javascript:;" class="btn btn-sm btn-primary">Add Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Add Motor Amps END HERE-->


            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Drain Heater</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Defrost Config</label>
                    <div class="col-md-6 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#defrost-config" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Select Details</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->


            <!-- Modal Add Motor Amps START HERE-->
            <div class="modal fade" id="defrost-config">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Defrost Config Details</h4>
                        </div>
                        <div class="modal-body">
                            <!-- begin col-12 -->
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="bg-primary" width="4%"></th>
                                                <th class="bg-primary">Defrost Config Code</th>
                                                <th class="bg-primary">Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" checked value=""></td>
                                                <td>A</td>
                                                <td>A = Air Defrost</td>
                                            </tr>
                                            <tr class="odd">
                                                <td><input type="checkbox" checked value=""></td>
                                                <td>B</td>
                                                <td>B = Brine</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" value=""></td>
                                                <td>C</td>
                                                <td>C = Brine W/Heaters in Coil only</td>
                                            </tr>
                                            <tr class="odd">
                                                <td><input type="checkbox" value=""></td>
                                                <td>C</td>
                                                <td>C = Electric Defrost W/ No Pan Heat</td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" checked value=""></td>
                                                <td>E</td>
                                                <td>E = Electric Defrost W/ Electric Pan Heat</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                            <!-- end col-12 -->

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                            <a href="javascript:;" class="btn btn-sm btn-primary">Save</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Add Motor Amps END HERE-->

            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Drain Heater Amps</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Heat Exchanger</label>
                    <div class="col-md-6 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#heat-exchanger" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Select Details</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- Modal Heat Exchanger START HERE-->
            <div class="modal fade" id="heat-exchanger">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Heat Exchanger Details</h4>
                        </div>
                        <div class="modal-body">

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Conductor Unit HP</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Freezer BTU</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Freezer BTU</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Cooler BTU</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">SuctConnSize</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">LiqConnSize</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Clear</a>
                            <a href="javascript:;" class="btn btn-sm btn-primary">Add Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Heat Exchanger END HERE-->


            <!-- Modal Heat Exchanger START HERE-->
            <div class="modal fade" id="add-amps">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Add Defrost Amps</h4>
                        </div>
                        <div class="modal-body">

                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Voltage Type</label>
                                    <div class="col-md-8 ui-sortable">
                                        <select class="form-control">
                                            <option>Please Select</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->
                            
                            <!-- begin col-6 -->
                            <div class="col-md-6 p-0">
                                <div class="form-group">
                                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Defrost Amps</label>
                                    <div class="col-md-8 ui-sortable">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- end col-6 -->

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                            <a href="javascript:;" class="btn btn-sm btn-primary">Add</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Heat Exchanger END HERE-->


            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary">
            <div class="panel-heading m-0">
                <h4 class="panel-title"><b>Defrost Amps</b> <a href="#add-amps" data-toggle="modal" class="btn btn-white btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add Amps</a></h4>
            </div>
            </div>


            <!-- begin col 12 -->
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Voltage</th>
                        <th>Amp</th>
                        <th width="4%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>H - 460/1/60</td>
                        <td>8.7000</td>
                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    <tr class="odd">
                        <td>L - 380/3/60</td>
                        <td>2.2000</td>
                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    <tr>
                        <td>H - 460/1/60</td>
                        <td>8.7000</td>
                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    <tr class="odd">
                        <td>L - 380/3/60</td>
                        <td>2.2000</td>
                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                </tbody>
            </table>
            </div>
            <!-- begin col 12 -->

            <!-- begin col 12 -->
            <div class="col-md-12 p-0 m-0">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#">← Previous</a></li><li class="next" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <div class="clearfix"></div>
            </div>
            <!-- end col-12 -->

        </div>
        <!-- end row -->
    </fieldset>
</div>









