﻿

<div>
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-money"></i> Pricing</legend>
        <!-- begin row -->
        <div class="row">
            <!-- Left col-6 START HERE -->
            <div class="col-md-6 p-0">
            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Coil Price</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Motor Price</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Heat Exchanger Price</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- begin col-6 -->
            <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Accessories Price</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" placeholder="Default input">
                    </div>
                    <div class="col-md-12 ui-sortable"><a href="#" class="p-t-7 p-r-0 pull-right"><i class="fa fa-table"></i> Details</a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
        </div>
            <!-- Left col-6 END HERE -->

            <!-- Left col-6 START HERE -->
            <div class="col-md-6 p-0 note note-default">
                <label class="col-md-12 p-t-7 control-label"><h4>Accessories Price Details</h4></label>

                    <!-- begin col-6 -->
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">Accessories 1 Price</label>
                            <div class="col-md-8 ui-sortable">
                                <input type="text" class="form-control" placeholder="Default input">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end col-6 -->

                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Accessories 2 Price</label>
                        <div class="col-md-8 ui-sortable">
                            <input type="text" class="form-control" placeholder="Default input">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-6 -->

                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Accessories 3 Price</label>
                        <div class="col-md-8 ui-sortable">
                            <input type="text" class="form-control" placeholder="Default input">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-6 -->
                <div class="clearfix"></div>
            </div>
            <!-- Left col-6 END HERE -->




            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary">
                <div class="panel-heading m-0">
                    <h4 class="panel-title"><b>Options Pricing</b></h4>
                </div>
            </div>

            <!-- begin col-6 -->
            <div class="col-md-12 p-0 p-t-10 p-b-10 bg-default">
                <div class="form-group m-b-0">
                    <label class="col-md-2 p-t-7 control-label ui-sortable">Select Number of Fans</label>
                    <div class="col-md-10 ui-sortable p-t-2">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadios" value="option1">1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadios" value="option2" checked="">2
                            </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" value="option3">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" value="option4">4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" value="option5">5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" value="option6">6
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->

            <!-- begin col 12 -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Options Pricing</th>
                            <th>1</th>
                            <th>2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>PSCMotorDeduct</td>
                            <td>-280.00/td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="odd">
                            <td>PaintCost</td>
                            <td>470.00</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>InsulDrainPanCost</td>
                            <td>0.00/td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="odd">
                            <td>SSNonInsuDrainPanCost</td>
                            <td>0.00/td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- begin col 12 -->
            <!-- begin col 12 -->
            <div class="col-md-12 p-0 m-0">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous" role="button" aria-disabled="true"><a href="#">← Previous</a></li><li class="next" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <div class="clearfix"></div>
            </div>
            <!-- end col-12 -->

        </div>
        <!-- end row -->
    </fieldset>
</div>









