﻿<div>
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-th-list"></i> Unit Cooler Details</legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Model No.</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control" >
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Brand</label>
                    <div class="col-md-8 ui-sortable">
                        <select class="form-control">
                            <option>Please Select</option>
                            <option>Type 1</option>
                            <option>Type 2</option>
                            <option>Type 3</option>
                            <option>Type 4</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Year</label>
                    <div class="col-md-8 ui-sortable">
                        <select class="form-control">
                            <option>Please Select</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Vendor</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Make</label>
                    <div class="col-md-8 ui-sortable">
                        <select class="form-control">
                            <option>Please Select</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Capacity Per Degree TDNeg20</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Family</label>
                    <div class="col-md-8 ui-sortable">
                        <select class="form-control">
                            <option>Please Select</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Capacity Per Degree TDPos25</label>
                    <div class="col-md-8 ui-sortable">
                        <input type="text" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 12 -->
            <div class="col-md-12 p-0 m-0">
                <hr class="m-b-15">
                <ul class="pager m-0"><li class="previous disabled" role="button" aria-disabled="true"><a href="#">← Previous</a></li><li class="next" role="button" aria-disabled="false"><a href="#">Next →</a></li></ul>
                <div class="clearfix"></div>
            </div>
            <!-- end col-12 -->

        </div>
        <!-- end row -->
    </fieldset>
</div>











