﻿

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Search Unit Cooler</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title"><b>Search Results</b></h4>
                </div>
                <div class="panel-body">
                    <table id="data-table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Unit Cooler Model</th>
                                <th>Unit Cooler brand</th>
                                <th>Unit Cooler Type</th>
                                <th>Fan Count</th>
                                <th width="40px">Edit</th>
                                <th>Active/Inactive/th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 09/07/2017</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 09/07/2017</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Inactive</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 09/07/2017</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Inactive</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Inactive</a> since 09/07/2017</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 09/07/2017</td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>KR2569</td>
                                <td>Hussmann</td>
                                <td>KR</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Inactive</a> since 15/04/2017</td>
                            </tr>
                            <tr>
                                <td>KR2548</td>
                                <td>Hussmann</td>
                                <td>GL</td>
                                <td>2</td>
                                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-icon btn-circle btn-sm "><i class="fa fa-pencil"></i></a></td>
                                <td><a href="javascript:;">Active</a> since 09/07/2017</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-8 -->




    </div>
    <!-- end row -->
</div>