﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Accessory Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Accessory Type</label>
                <div class="col-md-8 ui-sortable">
                    @Html.DropDownList("accessory-Type", new SelectList(Model.UnitCoolerAccessoriesData.CoilAccessory, "CoilAccsID", "CoilAccessoryName"), "", new { @class = "form-control" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Part Number</label>
                <div class="col-md-8 ui-sortable">
                    <input id="partNumber" type="text" class="form-control" placeholder="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Minimum BTU</label>
                <div class="col-md-8 ui-sortable">
                    <input id="minimum-BTU" type="text" class="form-control" placeholder="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Maximum BTU</label>
                <div class="col-md-8 ui-sortable">
                    <input id="maximum-BTU" type="text" class="form-control" placeholder="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Vendor</label>
                <div class="col-md-8 ui-sortable">
                    @Html.DropDownList("vendor", new SelectList(Model.UnitCoolerAccessoriesData.CoilVendor, "CoilVendorID", "CoilVendorName"), "", new { @class = "form-control" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-12 p-0">
            <div class="form-group">
                <label class="col-md-2 p-t-7 control-label ui-sortable p-l-0 p-r-0">Description</label>
                <div class="col-md-10 ui-sortable">
                    <textarea id="description" class="form-control" rows="5"></textarea>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">Add Details</a>
    </div>
</div>
