﻿
@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel

<style>
    .removeRowBtn {
        display: block !important;
    }
</style>
<div>
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">*@
    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-archive"></i> Accessories
        </legend>
        <!-- begin row -->
        <div class="col-md-12 m-0 p-0">
            <div class="row">


                <div class="col-md-12 m-0 p-0">
                    @Html.HiddenFor(m => m.CurrentTab, new { Value = Model.CurrentTab, @id = "hdnCurrentTab" })
                    @Html.HiddenFor(m => m.RequestedTab, new { @id = "hdnRequestedTab" })
                    @Html.HiddenFor(m => m.UnitCoolerAccessoriesData.CoilAccessoryData, new { @id = "hdnCoilAccessoryData" })
                    @Html.HiddenFor(m => m.UnitCoolerAccessoriesData.IsModified)



                    @*<input type="hidden" id="UnitCoolerAccessoriesData.Modifedvalues" name="UnitCoolerAccessoriesData.Modifedvalues" value='@Model.UnitCoolerAccessoriesData.Modifedvalues' />*@

                    <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary p-b-10">
                        <div class="panel-heading m-0">
                            <h4 class="panel-title">
                                <b>Accessory Details</b>
                                @if (Model.AllowEdit == true)
                                {
                                    <a id="addbottom" class="btn btn-green btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add Accessory</a>

                                }
                            </h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 m-0 p-0">
                            <div id="accessories" class="grid-container">
                            </div>
                        <div class="clearfix"></div>
                    </div>

                    
                    <div class="col-md-12 m-0 p-0">
                        <div class="col-md-12 m-0 p-0">
                            <a href="#" id="accessoryTabPrevious" class="btn btn-white btn-md pull-left" style="padding-top:3px;">← Previous</a>
                            <a href="#" id="accessoryTabNext" class="btn btn-white btn-md pull-right" style="padding-top:3px;">Next →</a>
                            <label id="lblGridErrorMessage" class="custom-validation-message text-danger pull-right"></label>
                            <a href="#" id="hdnButtonAccessory" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- end row -->
    </fieldset>



</div>



<!-- Excel Editable Table Grid START HERE-->
<script data-jsfiddle="accessories">

    $(document).ready(function () {
        var screenWidth = screen.width - 155; //165

    var htRemoveRow = new removeRow();

    Handsontable.hooks.add('beforeInitWalkontable', function (walkontableConfig) {
        htRemoveRow.beforeInitWalkontable.call(this, walkontableConfig);
    });

    Handsontable.hooks.add('beforeInit', function () {
        htRemoveRow.init.call(this)
    });

    Handsontable.hooks.add('afterUpdateSettings', function () {
        htRemoveRow.init.call(this)
    });

    var coilAccessoryList = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerAccessoriesData.CoilAccessory)));
    var coilVendorList = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerAccessoriesData.CoilVendor)));
    var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerAccessoriesData.CoilAccessoryData)));
    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
    var readOnlyEnable;
    var allowPlugin;
    if (allowEdit == true || allowEdit == "true") {
        readOnlyEnable = false;
        allowPlugin = true;
    }
    else {
        readOnlyEnable = true;
        allowPlugin = false;
    }


    var objectData = gridData,
        configurations = document.getElementById('accessories'),
        PartNumberValidator,
        PartDescriptionValidator,
        NumericValidator,
        hot;


    PartNumberValidator = function (value, callback) {
        setTimeout(function () {
            if ((value.length > 20)) {
                $("#hdnAccessoryGridValid").val(false);
                $("#lblGridErrorMessage").text('Part number length should not be greaten than 20');
            callback(false);
      }
            else {
                $("#lblGridErrorMessage").text("");
                $("#hdnAccessoryGridValid").val(true);
                callback(true);
      }
    }, 10);
    };

    PartDescriptionValidator = function (value, callback) {
        setTimeout(function () {
            if ((value.length > 50)) {
                $("#hdnAccessoryGridValid").val(false);
                $("#lblGridErrorMessage").text('Description length should not be greaten than 50');
                callback(false);
            }
            else {
                $("#lblGridErrorMessage").text("");
                $("#hdnAccessoryGridValid").val(true);
                callback(true);
            }
        }, 10);
    };

    NumericValidator = function (value, callback) {
        var isnumeric = $.isNumeric(value);
        setTimeout(function () {
            if (isnumeric == true || value == null || value == "") {
                $("#hdnAccessoryGridValid").val(true);
                $("#lblGridErrorMessage").text("");
                callback(true);
            }
            else {
                $("#hdnAccessoryGridValid").val(false);
                $("#lblGridErrorMessage").text('Invalid Data in Grid');
                callback(false);
            }
        }, 10);
    };

    config = {
        data: objectData,
        minSpareRows: 0,
        autoWrapRow: true,
        outsideClickDeselects: true,
        editor: false,
        //colHeaders: true,
        colHeaders: ["ModelId", 'Accessory', 'Part Number', 'Vendor', 'Min BTU', 'Max BTU', 'Description', "CoilAccessoryPricingID","CoilFamilyID"],
        contextMenu: false,
        columnSorting: true,
        manualColumnResize: false,
        sortIndicator: true,
        columnSorting: true,
        rowHeaders: false,
        colWidths: 100,
        //width: screenWidth - 100,
        //stretchH: 'all',//ll
        removeRowPlugin: allowPlugin,
        readOnly: readOnlyEnable,
        colWidths: [0.1, (screenWidth / 5), (screenWidth / 7), (screenWidth / 7), (screenWidth / 8), (screenWidth / 8), (screenWidth / 4), 0.1, 0.1],
        allowInvalid: false,
        //colWidths: [0.1, 300, 130, 200, 110, 110, 350, 0.1, 0.1],
        fillHandle: {
            autoInsertRow: false,
        },
        columns: [
            {
                data: "ModelId",
                readOnly:true

            },
            {
                data: 'CoilAccsID',
                 renderer: customDropdownRenderer,
                 editor: "chosen",
                 //width: 150,
                 chosenOptions: {
                     data: coilAccessoryList
                 }
             },
            {
                //Part Number
                data: 'CoilAccsPartNumber',
                type: 'text',
                validator: PartNumberValidator
            },
            {
                //vendor
                data: 'CoilVendorID',
                renderer: customDropdownRenderer,
                editor: "chosen",
                //width: 150,
                chosenOptions: {
                    data: coilVendorList
                }
            },
            {
                //Min BTU
                data: 'CoilAccsMinBTU',
                type: 'numeric',
                validator: NumericValidator
            },
            {
                //Max BTU
                data: 'CoilAccsMaxBTU',
                type: 'numeric',
                validator: NumericValidator
            },
            {
                //Description
                data: 'CoilAccsPartDescription',
                type: 'text',
                validator: PartDescriptionValidator
            },
            {
                data: "CoilAccessoryPricingID",
                readOnly: true

            },
            {
                data: "CoilFamilyID",
                readOnly: true
            }

        ]
    };


    $('#addbottom').on('click', function () {
        hot.alter('insert_row',0);
    });

    $('#hdnButtonAccessory').on('click', function () {
        var array = hot.getData();
        var gridObjects = [];

        array.forEach(function (row, rowIndex) {
            gridObjects.push(new rowObject(row, rowIndex));
        });

        $("#hdnCoilAccessoryData").val(JSON.stringify(gridObjects));
    });

    $('#accessoryTabPrevious,#accessoryTabNext').on('click', function () {
        var id = this.id;
        if (id == 'accessoryTabPrevious')
        {
            OpenDesiredTab(1);// switch on Details tab

        }
        else if (id == 'accessoryTabNext')
        {
            OpenDesiredTab(3);// switch on Configuration tab
        }

    });

    configurations = document.getElementById('accessories');
    hot = new Handsontable(configurations, config);


    function rowObject(data) {
        var self = this;
        self.ModelID = data[0];
        if (data[1] == '' || data[1] == "") {
            data[1] = null;
        }
        self.CoilAccsID = data[1];
        self.CoilAccsPartNumber = data[2];
        if (data[3] == '' || data[3] == "") {
            data[3] = null;
        }
        self.CoilVendorID = data[3];
        if (data[4] == '' || data[4] == "")
        {
            data[4] = null;
        }
        self.CoilAccsMinBTU = data[4];
        if (data[5] == '' || data[5] == "" ) {
            data[5] = null;
        }
        self.CoilAccsMaxBTU = data[5];
        self.CoilAccsPartDescription = data[6];
        self.CoilAccessoryPricingID = data[7];
        self.CoilFamilyID = data[8];

    };


    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else
        {
            $('#hdnIsEditedAfterApprove').val(true);
        }
        $("#UnitCoolerAccessoriesData_IsModified").val(true);

    });
    hot.addHook('afterRemoveRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
        $("#UnitCoolerAccessoriesData_IsModified").val(true);
    });
    hot.addHook('afterCreateRow', function (changes) {
        if (!changes) {
            return;
        }
        else {
            $('#hdnIsEditedAfterApprove').val(true);
        }
        $("#UnitCoolerAccessoriesData_IsModified").val(true);
    });




    });



    function customDropdownRenderer(instance, td, row, col, prop, value, cellProperties) {
        var selectedId;
        var optionsList = cellProperties.chosenOptions.data;

        if (typeof optionsList === "undefined" || typeof optionsList.length === "undefined" || !optionsList.length) {
            Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
            return td;
        }

        var values = (value + "").split(",");
        value = [];
        for (var index = 0; index < optionsList.length; index++) {

            if (values.indexOf(optionsList[index].id + "") > -1) {
                selectedId = optionsList[index].id;
                value.push(optionsList[index].label);
            }
        }
        value = value.join(", ");

        Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
        //$(td).addClass("htAutocomplete");
        //$(td).append($('<div class="htAutocompleteArrow">▼</div>'));
        return td;
    }
</script>
<!--  accessories Defrost Amps Excel Editable Table Grid START HERE-->
