﻿
@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel

<div class="modal-content">
    <div class="modal-header">
        <button id="btnMotorAmpsDetailsClose" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Motor Amps Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-8 -->
        <div class="col-md-8 p-l-5 p-r-5 ">

            <div class="clearfix"></div>
            <div class="excel-popup-container m-b-10">
                <div id="motorAmps"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-md-4 p-l-5 p-r-5">
            @if (Model.AllowEdit == true)
            {
                <a href="javascript:;" id="addMotorType" class="btn btn-green btn-block m-b-10">Add Motor Model Type</a>
            }

            @*<a id="add_column">
                    ADD COLUMN
                </a>*@

            <div class="form-group">
                <div class="col-md-12 ui-sortable p-l-0 p-r-0">

                    @Html.DropDownListFor(model => model.UnitCoolerConfigurationData.MotorType, new SelectList(Model.UnitCoolerConfigurationData.MotorType, "Type_ID", "CoilMotorTypeName"), new { @class = "form-control" })


                </div>
                <div class="clearfix"></div>
            </div>

            <div class="note note-success">
                <h4>Tip!</h4>
                <p>When the "Add Motor Model Type" button is clicked a new column will be added with a dropdown to select a model types that were not added previously in the grid, initially no column of the Motor Model Type will be shown.</p>
            </div>

        </div>
        <!-- end col-4 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <label id="lblMotorAmpsErrorMessage" class="custom-validation-message text-danger pull-left"></label>
        <a href="javascript:;" class="btn btn-sm btn-white" id="btnmotorAmpsClose" data-dismiss="modal">Close</a>
        <a href="javascript:;" class="btn btn-sm btn-primary" id="motorAmpsDetails" data-dismiss="modal">Add Details</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#motorAmps thead th:nth-child(1) div span").text("Voltage Type");
    });
</script>
