﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel

<style>
    .removeRowBtn {
        display: block !important;
    }
</style>

<div>
    <link href="~/Content/css/chosen.css" rel="stylesheet" />
    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-cogs"></i> Configurations

        </legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Motor Amps</label>
                    <div class="col-md-6 ui-sortable">

                        <input type="text" id="motorType" class="form-control" placeholder="" readonly="readonly">
                        @Html.HiddenFor(m => m.CurrentTab, new { Value = Model.CurrentTab, @id = "hdnCurrentTab" })
                        @Html.HiddenFor(m => m.RequestedTab, new { @id = "hdnRequestedTab" })


                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.CoilDrainHeaterAmpsData, new { @id = "hdnDrainHeaterAmpsData" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.CoilDefrostAmpsData, new { @id = "hdnCoilDefrostAmpsData" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.CoilMotorAmpsData, new { @id = "hdnCoilMotorAmpsData" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.ColumnHeaderCoilMotorAmps, new { @id = "hdnColumnHeaderCoilMotorAmps" })

                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.IsDrainHeaterDrainAmpsValid, new { @id = "hdnIsDrainHeaterDrainAmpsValid" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.IsDrainHeaterVoltageTypeValid, new { @id = "hdnIsDrainHeaterVoltageTypeValid" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.IsDefrostAmpsDrainAmpsValid, new { @id = "hdnIsDefrostAmpsDrainAmpsValid" })
                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.IsDefrostAmpsVoltageTypeValid, new { @id = "hdnIsDefrostAmpsVoltageTypeValid" })

                        @Html.HiddenFor(m => m.UnitCoolerConfigurationData.IsMotorAmpsGridValid, new { @id = "hdnIsMotorAmpsGridValid" })

                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#add-motor-amps" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Add Amps</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- Modal Add Motor Amps START HERE-->
            <div class="modal fade" id="add-motor-amps">
                <div class="modal-dialog modal-lg">
                    @Html.Partial("_AddMotorAmpsDetailsModal")
                </div>
            </div>
            <!-- Modal Add Motor Amps END HERE-->
            <!-- begin col-6 -->
            <div class="col-md-6 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable">Defrost Config</label>
                    <div class="col-md-6 ui-sortable">
                        @{
                            var SelectedDefrostConfig = "";
                        }
                        @foreach (var data in Model.UnitCoolerConfigurationData.DefrostConfig)
                        {
                            if (data.IsChecked == true)
                            {
                                SelectedDefrostConfig = SelectedDefrostConfig + " " + data.DefrostConfigCode;
                            }
                        }


                        <input type="text" class="form-control" id="SelectedDefrostConfig" placeholder="" readonly="readonly" value="@SelectedDefrostConfig">
                    </div>
                    <div class="col-md-2 p-t-7 p-r-0">
                        <a href="#defrost-config" data-toggle="modal" class="p-t-7 p-r-0"><i class="fa fa-plus"></i>&nbsp;Select Details</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- Modal Add Motor Amps START HERE-->
            <div class="modal fade" id="defrost-config">
                <div class="modal-dialog modal-lg">
                    @Html.Partial("_DefrostConfigDetailsModal")
                </div>
            </div>
            <!-- Modal Add Motor Amps END HERE-->

            <div class="col-md-12 m-0 p-0">

                <div class="col-md-6 m-0 p-l-5 p-r-5">
            <label id="lbldrainHeaterAmpsErrorMessage" class="custom-validation-message text-danger pull-right"></label>
            <label id="lbldrainHeaterVoltageTypeErrorMessage" class="custom-validation-message text-danger pull-left"></label>
            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary p-b-10" id="divDrainHeaterAmps">
                <div class="panel-heading m-0">
                    <h4 class="panel-title">
                        <b>Drain Heater Amps</b>
                        @if (Model.AllowEdit == true)
                        {
                            <a id="addDrainHeaterAmps" class="btn btn-green btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add Drain Heater Amps</a>
                        }
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>


            <!-- begin col 12 -->
            <!-- Excel Editable Table Grid START HERE-->
            <!-- Excel Editable Table Grid START HERE-->
            <div class="col-md-12 m-0 p-0">


                <div class="m-b-10">
                    <div id="drainHeaterAmps" class="grid-container"></div>
                    <div class="clearfix"></div>
                </div>

            </div>
                    <div class="clearfix"></div>
                </div>

<div class="col-md-6 m-0 p-l-5 p-r-5">
            <label id="lbladdDefrostAmpsErrorMessage" class="custom-validation-message text-danger pull-right"></label>
             <label id="lbladdDefrostAmpsVoltageTypeErrorMessage" class="custom-validation-message text-danger pull-left"></label>
            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary p-b-10" id="divDefrostAmps">
                <div class="panel-heading m-0">
                    <h4 class="panel-title"><b>Defrost Amps</b>
                    @if (Model.AllowEdit == true)
                    {
                    <a id="addDefrostAmps" class="btn btn-green btn-sm m-l-5 pull-right"><i class="fa fa-plus"></i> Add Defrost Amps</a>
                    }
                    </h4>
                </div>
                <div class="clearfix"></div>

            </div>


            <!-- begin col 12 -->
            <!-- Excel Editable Table Grid START HERE-->
            <!-- Excel Editable Table Grid START HERE-->
            <div class="col-md-12 m-0 p-0">
                <div class="grid-container m-b-10">
                    <div id="defrostAmps"></div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <!-- begin col 12 -->

        <div class="clearfix"></div>
    </div>
        </div>

            <a href="#" id="previousAccessory" class="btn btn-white btn-md pull-left">← Previous</a>
            <a href="#" id="nextPricing" class="btn btn-white btn-md pull-right">Next →</a>
            <a href="#" id="hdnButtonConfiguration" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;"></a>
        </div>
        <!-- end row -->
    </fieldset>

</div>

<!-- Configurations Defrost Amps Excel Editable Table Grid START HERE-->
<script>
    $(document).ready(function () {
        var screenWidth = screen.width;

        //Common functionality to remove the rows from handsontable
        var htRemoveRow = new removeRow();

        Handsontable.hooks.add('beforeInitWalkontable', function (walkontableConfig) {
            htRemoveRow.beforeInitWalkontable.call(this, walkontableConfig);
        });

        Handsontable.hooks.add('beforeInit', function () {
            htRemoveRow.init.call(this)
        });

        Handsontable.hooks.add('afterUpdateSettings', function () {
            htRemoveRow.init.call(this)
        });
        //Common functionality to remove the rows from handsontable


        ////////////////////// Start MOTOR AMPS///////////////////////////

        // custom validation for Motor Amps
        NullValidatorForMotorAmps = function (value, callback) {
            setTimeout(function () {
                var twoDecimalPlaces = parseFloat(value);
                var isnumeric = $.isNumeric(value);
                var lengthBeforeDecimal = value.toString().split(".")[0];
                if ((parseFloat(value) != twoDecimalPlaces.toFixed(2)) || isnumeric === false || lengthBeforeDecimal.length > 12) {
                    if (value === null || value.length === 0) {
                        $("#hdnIsMotorAmpsGridValid").val(true);
                        $("#lblMotorAmpsErrorMessage").text("");
                        $('#btnMotorAmpsDetailsClose').attr("disabled", false);
                        $('#motorAmpsDetails').attr("disabled", false);
                        $('#btnmotorAmpsClose').attr("disabled", false);
                        $('#addMotorType').attr("disabled", false);
                        callback(true);
                    }
                    else {
                        $("#hdnIsMotorAmpsGridValid").val(false);
                        $('#btnMotorAmpsDetailsClose').attr("disabled", true);
                        $('#motorAmpsDetails').attr("disabled", true);
                        $('#btnmotorAmpsClose').attr("disabled", true);
                        $('#addMotorType').attr("disabled", true);
                        $("#lblMotorAmpsErrorMessage").text("Invalid data in Drain Heater Amps Grid");

                        callback(false);

                    }

                }
                else {
                    $("#hdnIsMotorAmpsGridValid").val(true);
                    $("#lblMotorAmpsErrorMessage").text("");
                    $('#btnMotorAmpsDetailsClose').attr("disabled", false);
                    $('#motorAmpsDetails').attr("disabled", false);
                    $('#btnmotorAmpsClose').attr("disabled", false);
                    $('#addMotorType').attr("disabled", false);
                    callback(true);
                }
            }, 100);
        };


        var motorAmpsVoltageTypeList = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.CoilMotorAmpsData)));
        var voltagerow =  $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.VoltageTypeList)));
        var ColumnHeader = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.ColumnHeaderCoilMotorAmps)));
        var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
        var dynamicRow = [];
        var dynamicColumns = [];
        var columnsWidths = [];
        var dynamicColumnHeader = [];
        var readOnlyEnable;
        var allowPlugin;
        // Check for reader mode
        if (allowEdit == true || allowEdit == "true") {
            readOnlyEnable = false;
            allowPlugin = true;
        }
        else {
            readOnlyEnable = true;
            allowPlugin = false;
        }


        //Array for Row header
        voltagerow.forEach(function (elem) {
            dynamicRow.push(elem.label);
        });


        var col = new Object();
        col.data = "VoltageTypeID";
        col.title = "VoltageTypeID";
        col.readOnly = true;
        dynamicColumns.push(col);
        columnsWidths.push(0.1);
        dynamicColumnHeader.push("VoltageTypeID");


        //Array for Column header,width and column vales
        if (ColumnHeader != null) {
            ColumnHeader.forEach(function (elem) {
                var col = new Object();

                $('#motorType').val($('#motorType').val() + ' ' + elem.CoilMotorTypeName);


                $('#UnitCoolerConfigurationData_MotorType > option[value=' + elem.Type_ID + ']').remove();

                col.data = '' + elem.Type_ID;
                col.title = elem.CoilMotorTypeName
                col.type = "numeric";

                col.numericFormat = {
                    pattern: '0.00',
                    culture: 'en-US' // this is the default culture, set up for USD
                };
                col.validator = NullValidatorForMotorAmps;
                dynamicColumns.push(col);
                columnsWidths.push(50);
                dynamicColumnHeader.push(elem.CoilMotorTypeName);

            });
        }



        if ($("#UnitCoolerConfigurationData_MotorType option").length == 0) {
            $("#UnitCoolerConfigurationData_MotorType").prop("disabled", true);
            $("#addMotorType").attr("disabled", "disabled");
        }

        //Start drainHeaterAmps grid script
        var motorAmpsConfigurations = document.getElementById('motorAmps'),
            motorAmpsAmpsHook;

        motorAmpsConfig = {
            data: motorAmpsVoltageTypeList,
            //type: 'numeric', dateFormat: 'DD/MM/YYYY', allowEmpty: true, allowInvalid: false, strict: false, trimDropdown: false,
            minSpareRows: 0,
            autoWrapRow: true,
            colHeaders: true,

            colHeaders: dynamicColumnHeader,
            contextMenu: false,
            columnSorting: false,
            manualColumnResize: true,
            sortIndicator: false,
            columnSorting: false,
            stretchH: 'all',
            outsideClickDeselects: true,
            readOnly: readOnlyEnable,
            colWidths: columnsWidths,
            rowHeaders: true,
            rowHeaders: dynamicRow,
            columns: dynamicColumns,
            allowInvalid: false,
            fillHandle: {
                autoInsertRow: false,
            },

        };


        motorAmpsConfigurations = document.getElementById('motorAmps');
        motorAmpsAmpsHook = new Handsontable(motorAmpsConfigurations, motorAmpsConfig);

        motorAmpsAmpsHook.addHook('afterChange', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $("#motorAmps thead th:nth-child(1) div span").text("Voltage Type");
                $('#hdnIsEditedAfterApprove').val(true);
            }
           

        });
        motorAmpsAmpsHook.addHook('afterRemoveRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $("#motorAmps thead th:nth-child(1) div span").text("Voltage Type");
                $('#hdnIsEditedAfterApprove').val(true);
            }
      
        });
        motorAmpsAmpsHook.addHook('afterCreateRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $("#motorAmps thead th:nth-child(1) div span").text("Voltage Type");
                $('#hdnIsEditedAfterApprove').val(true);
            }
      
        });

        ////////////////////// END MOTOR AMPS///////////////////////////

        // custom validation for Drain Heater Amps
        NullValidatorForDrainHeaterAmps = function (value, callback) {
            setTimeout(function () {
                var twoDecimalPlaces = parseFloat(value);
                var isnumeric = $.isNumeric(value);
                var lengthBeforeDecimal = value.toString().split(".")[0];
                if ((parseFloat(value) != twoDecimalPlaces.toFixed(2)) || isnumeric === false || lengthBeforeDecimal.length > 12) {
                    if (value === null || value.length === 0) {
                        $("#hdnIsDrainHeaterDrainAmpsValid").val(true);
                        $("#lbldrainHeaterAmpsErrorMessage").text("");
                        callback(true);
                    }
                    else {
                        $("#hdnIsDrainHeaterDrainAmpsValid").val(false);
                        $("#lbldrainHeaterAmpsErrorMessage").text("Invalid data in Drain Heater Amps Grid");

                        callback(false);

                    }

                }
                else {
                    $("#hdnIsDrainHeaterDrainAmpsValid").val(true);
                    $("#lbldrainHeaterAmpsErrorMessage").text("");
                    callback(true);
                }
            }, 10);
        };


        // custom validation for defrost Amps
        NullValidatorForDefrostAmps = function (value, callback) {
            setTimeout(function () {
                var twoDecimalPlaces = parseFloat(value);
                var isnumeric = $.isNumeric(value);
                var lengthBeforeDecimal = value.toString().split(".")[0];
                if ((parseFloat(value) != twoDecimalPlaces.toFixed(2)) || isnumeric === false || lengthBeforeDecimal.length > 12) {
                    if (value === null || value.length === 0) {
                        $("#hdnIsDefrostAmpsDrainAmpsValid").val(true);
                        $("#lbladdDefrostAmpsErrorMessage").text("");
                        callback(true);
                    }
                    else {
                        $("#hdnIsDefrostAmpsDrainAmpsValid").val(false);
                        $("#lbladdDefrostAmpsErrorMessage").text("Invalid data in Defrost Amps Grid");
                        callback(false);

                    }

                }
                else {
                    $("#hdnIsDefrostAmpsDrainAmpsValid").val(true);
                    $("#lbladdDefrostAmpsErrorMessage").text("");
                    callback(true);
                }
            }, 10);
        };

        // DropDown validation
        DropDownValidator = function (value, callback) {
            hot.updateSettings(columns[2].renderer.customDropdownRenderer)
            //alert('called');
            
        };




        ////////////////////// Start Deforst Amps///////////////////////////

        var deforstVoltageTypeList = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.VoltageTypeList)));
        var deforstGridData =  $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.CoilDefrostAmpsData)));

        var defrostAmpsWidth = $('#divDrainHeaterAmps').parent().width();

        if (screenWidth == 1280) {
            defrostAmpsWidth = defrostAmpsWidth - 20;
        }
        else if (screenWidth == 1152) {
            defrostAmpsWidth = defrostAmpsWidth - 54;
        }
        else if (screenWidth == 1024)
        {
            defrostAmpsWidth = defrostAmpsWidth - 86;
        }

        var defrostAmpsDrainAmpsWidth = (defrostAmpsWidth ) * (2/3);
        var defrostAmpsVoltageTypeWidth = (defrostAmpsWidth) * (1/3);

        //Start defrostAmps grid script
        var configurations = document.getElementById('defrostAmps'),
            NullValidatorForDefrostAmps,
            deforstHook;

        config = {
            data: deforstGridData,
            //type: 'numeric', dateFormat: 'DD/MM/YYYY', allowEmpty: true, allowInvalid: false, strict: false, trimDropdown: false,
            minSpareRows: 0,
            autoWrapRow: true,
            //colHeaders: true,
            colHeaders: ["Type_ID", 'ModelID', 'Voltage Type', 'Drain Amps'],
            contextMenu: false,
            columnSorting: false,
            manualColumnResize: false,
            sortIndicator: true,
            columnSorting: true,
            rowHeaders: false,
            colWidths: 100,
            //stretchH: 'all',
            outsideClickDeselects: true,
            removeRowPlugin: allowPlugin,
            readOnly: readOnlyEnable,
            colWidths: [0.1, 0.1, defrostAmpsVoltageTypeWidth, defrostAmpsDrainAmpsWidth],
            //stretchH: 'last',
            fillHandle: {
                autoInsertRow: false,
            },
            columns: [
                {
                    data: "Type_ID",
                    readOnly: true
                    //x.Type_ID, x.ModelID, x.VoltageTypeID, x.DefrostAmps
                },
                  {
                      data: "ModelID",
                      readOnly: true

                  },
                {
                    data: 'VoltageTypeID',
                    renderer: customDropdownRenderer,
                    editor: "chosen",
                    width: 150,
                    chosenOptions: {
                        data: deforstVoltageTypeList
                    }
                },
                {
                    data: 'DefrostAmps',
                    type: 'numeric',
                    numericFormat: {
                        pattern: '0.00',
                        culture: 'en-US' // this is the default culture, set up for USD
                    },
                    validator: NullValidatorForDefrostAmps
                }
            ]
        };


        configurations = document.getElementById('defrostAmps');
        deforstHook = new Handsontable(configurations, config);

        $('#addDefrostAmps').on('click', function () {
            deforstHook.alter('insert_row',0);
        });


        deforstHook.addHook('afterChange', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
            //$("#UnitCoolerAccessoriesData_IsModified").val(true);

        });
        deforstHook.addHook('afterRemoveRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
            //$("#UnitCoolerAccessoriesData_IsModified").val(true);
        });
        deforstHook.addHook('afterCreateRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
            //$("#UnitCoolerAccessoriesData_IsModified").val(true);
        });

        ////////////////////// END deforst Amps///////////////////////////


        ////////////////////// Startdrain Heater///////////////////////////

        var drainHeaterVoltageTypeList = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.VoltageTypeList)));
        var drainHeaterGridData =  $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerConfigurationData.CoilDrainHeaterAmpsData)));

        var drainHeaterAmpsWidth = $('#divDrainHeaterAmps').parent().width();

        if (screenWidth == 1280) {
            drainHeaterAmpsWidth = drainHeaterAmpsWidth - 20;
        }
        else if (screenWidth == 1152) {
            drainHeaterAmpsWidth = drainHeaterAmpsWidth - 54;
        }
        else if (screenWidth == 1024) {
            drainHeaterAmpsWidth = drainHeaterAmpsWidth - 86;
        }

        var drainHeaterDrainAmpsWidth = (drainHeaterAmpsWidth ) * (2/3) ;
        var drainHeaterVoltageTypeWidth = (drainHeaterAmpsWidth) * (1/3);

        //Start drainHeaterAmps grid script
        var configurations1 = document.getElementById('drainHeaterAmps'),
            NullValidatorForDrainHeaterAmps,
            drainHeaterAmpsHook;

        config1 = {
            data: drainHeaterGridData,
            //type: 'numeric', dateFormat: 'DD/MM/YYYY', allowEmpty: true, allowInvalid: false, strict: false, trimDropdown: false,
            minSpareRows: 0,
            autoWrapRow: true,
            //colHeaders: true,
            colHeaders: ["Type_ID", 'ModelID', 'Voltage Type', 'Drain Amps'],
            contextMenu: false,
            columnSorting: false,
            manualColumnResize: false,
            sortIndicator: true,
            columnSorting: true,
            rowHeaders: false,
            colWidths: 100,
            //stretchH: 'all',
            outsideClickDeselects: true,
            removeRowPlugin: allowPlugin,
            readOnly: readOnlyEnable,
            colWidths: [0.1, 0.1, drainHeaterVoltageTypeWidth, drainHeaterDrainAmpsWidth], // 80,432
            //stretchH: 'last',
            fillHandle: {
                autoInsertRow: false,
            },
            columns: [
                {
                    data: "Type_ID",
                    readOnly: true
                    //x.Type_ID,x.ModelID,x.VoltageTypeID,x.DrainHtrAmps
                },
                  {
                      data: "ModelID",
                      readOnly: true

                  },
                {
                    data: 'VoltageTypeID',
                    renderer: customDropdownRenderer,
                    editor: "chosen",
                    width: 150,
                    chosenOptions: {
                        data: drainHeaterVoltageTypeList
                    }
                },
                {
                    data: 'DrainHtrAmps',
                    type : 'numeric',
                    numericFormat: {
                        pattern: '0.00',
                        culture: 'en-US' // this is the default culture, set up for USD
                    },
                    validator: NullValidatorForDrainHeaterAmps
                }
            ]
        };


        configurations1 = document.getElementById('drainHeaterAmps');
        drainHeaterAmpsHook = new Handsontable(configurations1, config1);

        $('#addDrainHeaterAmps').on('click', function () {
            drainHeaterAmpsHook.alter('insert_row',0);
        });


        drainHeaterAmpsHook.addHook('afterChange', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
           

        });
        drainHeaterAmpsHook.addHook('afterRemoveRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
            
        });
        drainHeaterAmpsHook.addHook('afterCreateRow', function (changes) {
            if (!changes) {
                return;
            }
            else {
                $('#hdnIsEditedAfterApprove').val(true);
            }
          
        });

        ////////////////////// END drain Heater///////////////////////////


        $('#previousAccessory,#nextPricing').on('click', function () {
            var id = this.id;
            if (id == 'previousAccessory') {
                OpenDesiredTab(2);// switch on Accessory tab

            }
            else if (id == 'nextPricing') {
                OpenDesiredTab(4);// switch on pricing tab
            }

        });

        $('#hdnButtonConfiguration').on('click', function () {
            var drainHeaterAmps = drainHeaterAmpsHook.getData();
            var defrostAmps = deforstHook.getData();
            var motorAmps = motorAmpsAmpsHook.getData();

            var drainHeaterVoltageType = [];
            var defrostAmpsVoltageType = [];
            var drainHeaterAmpsObjects = [];
            var defrostAmpsObjects = [];

            drainHeaterAmps.forEach(function (row, rowIndex) {
                drainHeaterAmpsObjects.push(new drainRowObject(row));
                drainHeaterVoltageType.push(parseInt(row[2]));
            });

            defrostAmps.forEach(function (row, rowIndex) {
                defrostAmpsObjects.push(new defrostRowObject(row));
                defrostAmpsVoltageType.push(parseInt(row[2]));
            });

            // validate duplicate voltage type in Drain Heater Amps Grid
            var hasDuplicateVoltageDrainHeater = hasDuplicates(drainHeaterVoltageType);
            if (hasDuplicateVoltageDrainHeater == true)
            {
                $("#hdnIsDrainHeaterVoltageTypeValid").val(false);
                $("#lbldrainHeaterVoltageTypeErrorMessage").text("Duplicate Voltage Type");
            }
            else
            {
                $("#hdnIsDrainHeaterVoltageTypeValid").val(true);
                $("#lbldrainHeaterVoltageTypeErrorMessage").text("");

            }

            // validate duplicate voltage type in Defrost Amps Grid
            var hasDuplicateVoltageDefrostAmps = hasDuplicates(defrostAmpsVoltageType);
            if (hasDuplicateVoltageDefrostAmps == true)
            {
                $("#lbladdDefrostAmpsVoltageTypeErrorMessage").text("Duplicate Voltage Type");
                $("#hdnIsDefrostAmpsVoltageTypeValid").val(false);
            }
            else {
                $("#hdnIsDefrostAmpsVoltageTypeValid").val(true);
                $("#lbladdDefrostAmpsVoltageTypeErrorMessage").text("");
            }

            var isAllDataValid = checkAllConfigurationGridsValidation();
            if (isAllDataValid == true)
            {
                $("#hdnConfigurationGridDataValid").val(true);
            }
            else
            {
                $("#hdnConfigurationGridDataValid").val(false);
            }


            $("#hdnColumnHeaderCoilMotorAmps").val(JSON.stringify(motorAmpsAmpsHook.getSettings().columns));
            $("#hdnCoilMotorAmpsData").val(JSON.stringify(motorAmps));
            $("#hdnDrainHeaterAmpsData").val(JSON.stringify(drainHeaterAmpsObjects));
            $("#hdnCoilDefrostAmpsData").val(JSON.stringify(defrostAmpsObjects));



        });

        function hasDuplicates(array) {
            return (new Set(array)).size !== array.length;
        }

        $("#addMotorType").click(function() {

            if ($("#UnitCoolerConfigurationData_MotorType option").length == 1) {
                $("#UnitCoolerConfigurationData_MotorType").prop("disabled", true);
                $("#addMotorType").attr("disabled", "disabled");
            }

            var defrostAmpssettings = deforstHook.getSettings();
            var settings = motorAmpsAmpsHook.getSettings();
            var drainHeaterAmpsHooksettings = drainHeaterAmpsHook.getSettings();

            var item = {};
            var numericFormat = [];
            numericFormat.pattern = '0.00';
            numericFormat.culture = 'en-US';
            item["data"] = $("#UnitCoolerConfigurationData_MotorType option:selected").val();
            item["title"] = $("#UnitCoolerConfigurationData_MotorType option:selected").text();
            item["type"] = 'numeric';
            item["numericFormat"] = numericFormat;
            item["validator"] = NullValidatorForMotorAmps;


            var columnsArray = motorAmpsAmpsHook.getSettings().columns;
            columnsArray.push(item);

            settings["columns"] = columnsArray;

            var colHeadersArray = motorAmpsAmpsHook.getSettings().colHeaders;
            colHeadersArray.push($("#UnitCoolerConfigurationData_MotorType option:selected").text());

            settings["colHeaders"] = colHeadersArray;

            $('#UnitCoolerConfigurationData_MotorType option:selected').remove();

            motorAmpsAmpsHook.updateSettings(settings);

            deforstHook.updateSettings(defrostAmpssettings);
            drainHeaterAmpsHook.updateSettings(drainHeaterAmpsHooksettings);
            $("#motorAmps thead th:nth-child(1) div span").text("Voltage Type");
        });

        $("#defrostConfigDetail").click(function() {
            $("#SelectedDefrostConfig").val('');

            $('.defrostConfigChk:checkbox:checked').each(function()
            {
                $('#SelectedDefrostConfig').val($('#SelectedDefrostConfig').val() + ' ' + $(this).data('defrostconfigcode'));

            });
        });

        $("#motorAmpsDetails").click(function() {
            //motorAmpsAmpsHook.getSettings().columns

            $("#motorType").val('');

            $(motorAmpsAmpsHook.getSettings().columns).each(function()
            {
                if ($(this)[0].title.toLowerCase() != "voltagetypeid") {
                    $('#motorType').val($('#motorType').val() + ' ' +  $(this)[0].title);
                }



            });
        });




    });

    function defrostRowObject(data) {
        var self = this;
        self.Type_ID = data[0];
        self.ModelID = data[1];
        if (data[2] == '' || data[2] == "") {
            data[2] = null;
        }
        self.VoltageTypeID = data[2];
        if (data[3] == '' || data[3] == "") {
            data[3] = null;
        }
        self.DefrostAmps = data[3];
    };

    function drainRowObject(data) {
        var self = this;
        self.Type_ID = data[0];
        self.ModelID = data[1];
        if (data[2] == '' || data[2] == "") {
            data[2] = null;
        }
        self.VoltageTypeID = data[2];
        if (data[3] == '' || data[3] == "") {
            data[3] = null;
        }
        self.DrainHtrAmps = data[3];


    };



    function customDropdownRenderer(instance, td, row, col, prop, value, cellProperties) {
        var selectedId;
        var optionsList = cellProperties.chosenOptions.data;

        if (typeof optionsList === "undefined" || typeof optionsList.length === "undefined" || !optionsList.length) {
            Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
            return td;
        }

        var values = (value + "").split(",");
        value = [];
        for (var index = 0; index < optionsList.length; index++) {

            if (values.indexOf(optionsList[index].id + "") > -1) {
                selectedId = optionsList[index].id;
                value.push(optionsList[index].label);
            }
        }
        value = value.join(", ");

        Handsontable.cellTypes.text.renderer(instance, td, row, col, prop, value, cellProperties);
        return td;
    }
    function checkAllConfigurationGridsValidation()
    {
        var issDrainHeaterVoltageTypeValid = $("#hdnIsDrainHeaterVoltageTypeValid").val();
        var isDefrostAmpsVoltageTypeValid = $("#hdnIsDefrostAmpsVoltageTypeValid").val();

        var isDrainHeaterDrainAmpsValid = $("#hdnIsDrainHeaterDrainAmpsValid").val();
        var isDefrostAmpsDrainAmpsValid = $("#hdnIsDefrostAmpsDrainAmpsValid").val();

        var isMotorAmpsGridValid = $("#hdnIsMotorAmpsGridValid").val();

        if ((issDrainHeaterVoltageTypeValid == true || issDrainHeaterVoltageTypeValid == "true" || issDrainHeaterVoltageTypeValid == "True")
            && (isDefrostAmpsVoltageTypeValid == true || isDefrostAmpsVoltageTypeValid == "true" || isDefrostAmpsVoltageTypeValid == "True")
            && (isDrainHeaterDrainAmpsValid == true || isDrainHeaterDrainAmpsValid == "true" || isDrainHeaterDrainAmpsValid == "True")
            && (isDefrostAmpsDrainAmpsValid == true || isDefrostAmpsDrainAmpsValid == "true" || isDefrostAmpsDrainAmpsValid == "True")
            && (isMotorAmpsGridValid == true || isMotorAmpsGridValid == "true" || isMotorAmpsGridValid == "True"))
        {
            return true;
        }
        else
        {
            return false
        }
    }


</script>
<!--  Configurations Defrost Amps Excel Editable Table Grid START HERE-->




<script type="text/javascript">
    $(document).ready(function () {

        var disabled = @Html.Raw(Json.Encode(ViewData["disablecontrols"]));
        if (disabled) {
            $('input,select').attr('readonly', true);
        }
    });
</script>










