﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel
@using Hussmann.Common.Helper
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Defrost Config Details</h4>
    </div>
    <div class="modal-body">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-primary" width="4%"></th>
                            <th class="bg-primary"width="20%">Defrost Config Code</th>
                            <th class="bg-primary">Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i=0; i < Model.UnitCoolerConfigurationData.DefrostConfig.Count; i++)
                        {
                            <tr class="@WizardHelper.GetClassNameForAlternatingRow(i)">
                                @if (Model.UnitCoolerConfigurationData.DefrostConfig[i].IsChecked == true)
                                {
                                    <td>
                                        @*@Html.CheckBox("["+i+"]DefrostConfig", new { value = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigCode, id = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigID, @checked = "checked" })*@
                                        
                                        @Html.CheckBoxFor(x => x.UnitCoolerConfigurationData.DefrostConfig[i].IsChecked
                                        , new {@checked = "checked", @class = "defrostConfigChk", @data_defrostConfigCode = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigCode })
                                        @Html.HiddenFor(x => x.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigID)
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @*@Html.CheckBox("[" + i + "]DefrostConfig", new { value = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigCode, id = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigID })*@
                                        @Html.CheckBoxFor(x => x.UnitCoolerConfigurationData.DefrostConfig[i].IsChecked, new {  @class = "defrostConfigChk", @data_defrostConfigCode = Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigCode })
                                        @Html.HiddenFor(x => x.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigID)
                                    </td>

                                }
                                
                                <td> @Html.DisplayName(Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigCode)
                                    </td>
                                <td> @Html.DisplayName(Model.UnitCoolerConfigurationData.DefrostConfig[i].DefrostConfigName)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
        <!-- end col-12 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
        <a href="javascript:;" class="btn btn-sm btn-primary" id="defrostConfigDetail" data-dismiss="modal">OK</a>
    </div>
</div>
