﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Heat Exchanger Details</h4>
    </div>
    <div class="modal-body">

        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Conductor Unit HP</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.CondUnitHP, new { htmlAttributes = new { @class = "form-control"  } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.CondUnitHP)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Part Number</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.PartNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.PartNumber)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Freezer BTU</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.FreezerBTU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.FreezerBTU)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Cooler BTU</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.CoolerBTU, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.CoolerBTU)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">SuctConnSize</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.SuctConnSize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.SuctConnSize)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 p-0">
            <div class="form-group">
                <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">LiqConnSize</label>
                <div class="col-md-8 ui-sortable">
                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.LiqConnSize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerConfigurationData.HeatExchanger.LiqConnSize)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end col-6 -->

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Clear</a>
        <a href="javascript:;" class="btn btn-sm btn-primary" data-dismiss="modal">Add Details</a>
    </div>
</div>
