﻿<div class="nav-btn"><img src="@Url.Content("~/Content/img/slide-open.png")" class="p-t-0 p-b-5 img-responsive" alt="menu" title="menu" /></div>
<div data-scrollbar="true" data-height="100%">
    <h2>Search Unit Coolers <span><a href="javascript:;" class="pull-right m-r-15 nav-hide"><img src="@Url.Content("~/Content/img/auto_hide_close_icon.png")" alt="close" /></a></span></h2>
    <div class="panel-body">
        @using (Html.BeginForm("Search", "UnitCooler", FormMethod.Get, new { @class = "form-horizontal", id = "search" }))
        {

            @*<form class="form-horizontal">*@
            <div class="form-group">
                <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Model</label>
                <div class="col-md-9 ui-sortable">
                    @Html.TextBox("modelNumber", ViewBag.ModelNumberParm as string, new { @class = "form-control datepicker-default" })
                </div>
            </div>
                <div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Brand</label>
                    <div class="col-md-9 ui-sortable">
                        @Html.DropDownList("brandId", ViewBag.BrandList as SelectList, "All", new { @class = "form-control selectmenu" })
                        @*@Html.TextBox("brandName", ViewBag.BrandList as string, new { @class = "form-control datepicker-default" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Type</label>
                    <div class="col-md-9 ui-sortable">
                        @Html.DropDownList("familyId", ViewBag.FamilyList as SelectList, "All", new { @class = "form-control selectmenu" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label ui-sortable p-r-0 text-left">Status</label>
                    <div class="col-md-9 ui-sortable">
                        @Html.DropDownList("statusId", ViewBag.StatusList as SelectList, "All", new { @class = "form-control selectmenu" })
                    </div>
                </div>
                @Html.Hidden("pinned", (bool)ViewBag.PinnedTab, new { @id = "hdnPinnedTab" })

                @*</form>*@
                <hr>
                <button type="button" id="btnClearSearchPanelData" class="btn btn-md btn-default pull-right m-l-5">Clear</button>
                <button type="submit" class="btn btn-md btn-primary pull-right">Search</button>
        }
    </div>


        </div>
        @Html.Hidden("queryString", "", new { @id = "hdnQueryString" })

        <script>
            $("#btnClearSearchPanelData").click(function (event) {
                $("#modelNumber").val("");
                $("#brandId").val("");
                $("#familyId").val("");
                $("#statusId").val("");
            });
        </script>



<script>
     $(document).ready(function () {
         $(".selectmenu").selectmenu();
     });
</script>



