﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel

<style>
    .handsontable col.rowHeader {
        width: 250px;
    }
</style>

<div>
    <fieldset>
        <legend class="pull-left width-full"><i class="fa fa-money"></i> Pricing
        
        </legend>
        <!-- begin row -->
        <div class="row">
            <!-- Left col-6 START HERE -->
            <div class="col-md-6 p-0">
                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Coil Price</label>
                        <div class="col-md-8 ui-sortable">
                            <input type="text" class="form-control" placeholder="" disabled="disabled">
                            @Html.HiddenFor(m => m.CurrentTab, new { Value = Model.CurrentTab, @id = "hdnCurrentTab" })
                            @Html.HiddenFor(m => m.RequestedTab, new { @id = "hdnRequestedTab" })
                            @Html.HiddenFor(m => m.UnitCoolerPricingData.CoilOptionPricing, new { @id = "hdnCoilOptionPricing" })
                            @Html.HiddenFor(m => m.UnitCoolerPricingData.FamilyID, new { @id = "hdnFamilyID" })
                            @Html.HiddenFor(m => m.UnitCoolerPricingData.SelectedFan, new { @id = "hdnSelectedFan" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Motor Price</label>
                        <div class="col-md-8 ui-sortable">
                            <input type="text" class="form-control" placeholder="" disabled="disabled">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-6 -->
                <!-- begin col-6 -->

                <!-- end col-6 -->
                <!-- begin col-6 -->
                <div class="col-md-12 p-0">
                    <div class="form-group">
                        <label class="col-md-4 p-t-7 control-label ui-sortable">Accessories Price</label>
                        <div class="col-md-8 ui-sortable">
                            <input type="text" class="form-control" placeholder="" readonly="readonly" value="@Model.UnitCoolerPricingData.AccessoryPrice">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- end col-6 -->
            </div>
            <!-- Left col-6 END HERE -->
            <!-- Left col-6 START HERE -->
            <div class="col-md-6 p-0 note note-default" style="overflow:auto; height:200px;">
                <label class="col-md-12 p-t-7 control-label"><h4>Accessories Price Details</h4></label>

                <!-- begin col-6 -->
                @if (Model.UnitCoolerPricingData.CoilAccessoryList.Count() == 0)
                {
                    <div class="col-md-12 p-0">
                        <div class="form-group">
                            <label class="col-md-4 p-t-7 control-label ui-sortable">No Data Found</label>
                            <div class="col-md-8 ui-sortable">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
                else
                {
                    for (int i = 0; i < Model.UnitCoolerPricingData.CoilAccessoryList.Count(); i++)
                    {
                        var sequence = i + 1;
                        <div class="col-md-12 p-0">
                            <div class="form-group">
                                <label class="col-md-4 p-t-7 control-label ui-sortable" >@Model.UnitCoolerPricingData.CoilAccessoryList[i].CoilAccsPartDescription</label>
                                <div class="col-md-8 ui-sortable">
                                    @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerPricingData.CoilAccessoryList[i].CoilAccsListPrice, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerPricingData.CoilAccessoryList[i].CoilAccsListPrice)
                                    @Html.HiddenFor(m => m.UnitCoolerPricingData.CoilAccessoryList[i].CoilAccessoryPricingID)
                                    @Html.HiddenFor(m => m.UnitCoolerPricingData.CoilAccessoryList[i].CoilFamilyID)
                                    @Html.HiddenFor(m => m.UnitCoolerPricingData.CoilAccessoryList[i].ModelID)
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                }



                <!-- end col-6 -->
                <div class="clearfix"></div>
            </div>
            <!-- Left col-6 END HERE -->




            <div class="col-md-12 m-0 p-0 p-t-4 panel panel-inverse  bg-primary">
                <div class="panel-heading m-0">
                    <h4 class="panel-title"><b>Options Pricing</b></h4>
                </div>
            </div>

            <!-- begin col-6 -->
            <div class="col-md-12 p-0 p-t-10 p-b-10 bg-default">
                <div class="form-group m-b-0">
                    <label class="col-md-2 p-t-7 control-label ui-sortable">Select Number of Fans</label>
                    <div class="col-md-10 ui-sortable p-t-2">
                        @for (int i = 1; i <= Model.UnitCoolerPricingData.NumberOfFans; i++)
                        {
                            var id = "numberOfFan_";
                            id = id + i;
                            if (i == Model.UnitCoolerPricingData.SelectedFan)
                            {
                                <label class="radio-inline">
                                    <input type="radio" id="@id" name="optionsRadios" value="option1" checked="">@i
                                </label>
                            }
                            else
                            {
                                <label class="radio-inline">
                                    <input type="radio" id="@id" name="optionsRadios" value="option1">@i
                                </label>
                            }

                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end col-6 -->
            <!-- begin col 12 -->

            <div class="col-md-12 m-0 p-0">


                <div class="configurations-grid-container m-b-10" style="overflow-x:hidden; height:330px;">
                    <div id="configurations"></div>
                    <div class="clearfix"></div>
                </div>

            </div>

            <!-- begin col 12 -->
            <!-- begin col 12 -->

            <!-- end col-12 -->
            <a href="#" id="previousPrice" class="btn btn-white btn-md pull-left">← Previous</a>
            <a href="#" id="hdnButtonPreviousPrice" class="btn btn-white btn-md pull-left" hidden="hidden" style="display:none;">← Previous</a>
            <label id="lblGridErrorMessage" class="custom-validation-message text-danger pull-right"></label>
        </div>
        <!-- end row -->
    </fieldset>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".handsontable thead th:nth-child(1) div span").text("Option Pricing Type");
        var disabled = @Html.Raw(Json.Encode(ViewData["disablecontrols"]));
        if (disabled) {
            $('input,select').attr('readonly', true);
        }

    });
</script>

<script type="text/javascript">

</script>

<script data-jsfiddle="configurations">
    var screenWidth = screen.width - 350;
    var dataExsist = @Html.Raw(Json.Encode(Model.UnitCoolerPricingData.PricingDataExsist));
    var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
    var readOnlyEnable;
    if (allowEdit == true || allowEdit == "true")
    {
        readOnlyEnable = false;
    }
    else
    {
        readOnlyEnable = true;
    }

    NullValidator = function (value, callback) {
        setTimeout(function () {
            var twoDecimalPlaces = parseFloat(value);
            var isnumeric = $.isNumeric(value);
            var lengthBeforeDecimal = value.toString().split(".")[0];
            if ((value.length === 0 || value === null || parseFloat(value) != twoDecimalPlaces.toFixed(2)) || isnumeric === false || lengthBeforeDecimal.length > 12) {
                $("#hdnPricingGridValid").val(false);
                callback(false);
            }
            else {
                $("#hdnPricingGridValid").val(true);
                callback(true);
            }
        }, 100);
    };

    if (dataExsist == true)
    {
        var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerPricingData.CoilOptionPricing)));
        var SelectedFan = @Html.Raw(Json.Encode(Model.UnitCoolerPricingData.SelectedFan));
        var i;
        var optionPricingData = [];
        var dynamicColumns = [];
        var columnsWidths = [];
        var obj = gridData;
        var hiddenColumns = [];
        var temp =1;
        for (i in obj) {
            var temp = [];
            temp.push(obj[i].PSCMotorDeduct);
            temp.push(obj[i].PaintCost);
            temp.push(obj[i].InsulDrainPanCost);
            temp.push(obj[i].SSNonInsulDrainPanCost);
            temp.push(obj[i].SSInsulDrainPanCost);
            temp.push(obj[i].SSHousingNonInsulDrainPanCost);
            temp.push(obj[i].SSHousingInsulDrainPanCost);
            temp.push(obj[i].ElectroFinCost);
            temp.push(obj[i].CopperFinCost);
            temp.push(obj[i].ReverseAirFlowCost);
            temp.push(obj[i].StdLongThrowAdaptersCost);
            temp.push(obj[i].SSLongThrowAdaptersCost);
            temp.push(obj[i].AirFilterBonnetCost);
            optionPricingData.push(temp);

            var col = new Object();
            var format = new Object();
            col.title = parseInt(i) + 1;
            col.type = "numeric";

            col.numericFormat = {
                pattern : '0.00',
                culture : 'en-US' // this is the default culture, set up for USD
            };
            col.validator = NullValidator
            dynamicColumns.push(col);

            if (parseInt(i) < SelectedFan )
            {
                columnsWidths.push(screenWidth / SelectedFan);
            }
            else
            {
                columnsWidths.push(0.1);
            }


            hiddenColumns.push(temp);
            temp++;
        }
        var j = i;
    }
    else if (dataExsist == false)
    {
         var gridData = $.parseJSON(@Html.Raw(Json.Encode(Model.UnitCoolerPricingData.CoilOptionPricing)));
    }


    var objectData = optionPricingData,
        configurations = document.getElementById('configurations'),
        NullValidator,
        hot;

    config = {
        data: Handsontable.helper.translateRowsToColumns(objectData),
        minSpareRows: 0,
        autoWrapRow: true,
        contextMenu: false,
        columnSorting: false,
        manualColumnResize: false, // prevent dragging to resize columns
        manualRowResize: false,
        sortIndicator: false,
        removeRowPlugin: true,
        outsideClickDeselects: false,
        rowHeaders: true,
        colHeaders : true,
        rowHeaders: ['PSCMotorDeduct', 'PaintCost', 'InsulDrainPanCost', 'SSNonInsulDrainPanCost', 'SSInsulDrainPanCost', 'SSHousingNonInsulDrainPanCost', 'SSHousingInsulDrainPanCost', 'ElectroFinCost', 'CopperFinCost', 'ReverseAirFlowCost', 'StdLongThrowAdaptersCost', 'SSLongThrowAdaptersCost','AirFilterBonnetCost'],
        colWidths: columnsWidths,
        //stretchH: 'all',
        //width: 1060,
        columns: dynamicColumns,
        readOnly: readOnlyEnable,
        allowInvalid: false,
        fillHandle: {
            autoInsertRow: false,
        },
        afterValidate: function (isValid, value, row, prop, source) {
            if (!isValid) {
                $("#lblGridErrorMessage").text('Invalid Data in Grid');
            }
            else
            {
                $("#lblGridErrorMessage").text("");
            }
        }

    };


    $('#hdnButtonPreviousPrice').on('click', function () {

        var array = hot.getData();
        var transpose = Handsontable.helper.translateRowsToColumns(array);
        var gridObjects = [];
        var ModelID = @Html.Raw(Json.Encode(Model.CurrentCoilModelID));
        var FamilyID = @Html.Raw(Json.Encode(Model.UnitCoolerPricingData.FamilyID));

        transpose.forEach(function (row, rowIndex) {
            gridObjects.push(new rowObject(row, rowIndex, ModelID, FamilyID));
        });


        var status = $("#hdnPricingGridValid").val();

        //$("#details").submit();
        $("#hdnCoilOptionPricing").val(JSON.stringify(gridObjects));


    });

    $('#previousPrice').on('click', function () {

        OpenDesiredTab(3);
    });

    function rowObject(data, rowIndex, ModelID, FamilyID) {
        var self = this;
        self.CoilFamilyID = FamilyID;
        self.NumberFans = rowIndex + 1;
        self.PSCMotorDeduct = data[0];
        self.PaintCost = data[1];
        self.InsulDrainPanCost = data[2];
        self.SSNonInsulDrainPanCost = data[3];
        self.SSInsulDrainPanCost = data[4]
        self.SSHousingNonInsulDrainPanCost = data[5];
        self.SSHousingInsulDrainPanCost = data[6];
        self.ElectroFinCost = data[7];
        self.CopperFinCost = data[8];
        self.ReverseAirFlowCost = data[9];
        self.StdLongThrowAdaptersCost = data[10];
        self.SSLongThrowAdaptersCost = data[11];
        self.AirFilterBonnetCost = data[12];
        self.ModelID = ModelID;

    };


    $hooksList = $('#hooksList');
    hooks = Handsontable.hooks.getRegistered();



    configurations = document.getElementById('configurations');
    hot = new Handsontable(configurations, config);
    $("#numberOfFan_1,#numberOfFan_2,#numberOfFan_3,#numberOfFan_4,#numberOfFan_5,#numberOfFan_6,#numberOfFan_7,#numberOfFan_8,#numberOfFan_9,#numberOfFan_10").click(function (e) {

        var id = this.id;
        var tabId = id.split("_").pop();
        tabId = parseInt(tabId);
        if ($("#hdnPricingGridValid").val() == "True" || $("#hdnPricingGridValid").val() == "true")
        {
            var result = $('#numberOfFan_' + tabId).val();

        var fans =  @Html.Raw(Json.Encode(Model.UnitCoolerPricingData.NumberOfFans));
        $('#hdnSelectedFan').val(tabId);
        fans = parseInt(fans);

        var columnWidths = [];
        for (var i = 0; i < parseInt(fans); i++)
        {
            if (i < tabId)
            {
                columnWidths.push(screenWidth / parseInt(tabId));
            }
            else
            {
                columnWidths.push(0.1);
            }

        }
        hot.updateSettings({ colWidths: columnWidths });
        $(".handsontable thead th:nth-child(1) div span").text("Option Pricing Type");
        }
        else
        {
            document.getElementById('numberOfFan_' + tabId).checked = false;
            var currentFan = $('#hdnSelectedFan').val();
            document.getElementById('numberOfFan_' + currentFan).checked = true;
            
        }

    });

    hot.addHook('afterChange', function (changes) {
        if (!changes) {
            return;
        }
        else
        {
            $(".handsontable thead th:nth-child(1) div span").text("Option Pricing Type");
            $('#hdnIsEditedAfterApprove').val(true);
        }

    });

    function validateNumbersOnly(e) {
        var unicode = e.charCode ? e.charCode : e.keyCode;
        if ((unicode == 8) || (unicode == 9) || (unicode == 46) || (unicode > 47 && unicode < 58)) {
            return true;
        }
        else {
            return false;
        }
    }



</script>

