﻿@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel


<div>
    @*@using (Html.BeginForm("EditUnitCoolerDetails", "UnitCooler", FormMethod.Post, new { name = "formDetails", id = "details" }))
        {*@

    @Html.HiddenFor(m => m.CurrentTab, new { Value = Model.CurrentTab, @id = "hdnCurrentTab" })
    @Html.HiddenFor(m => m.RequestedTab, new { @id = "hdnRequestedTab" })
    <fieldset>
        <legend class="pull-left width-full">
            <i class="fa fa-th-list"></i> Unit Cooler Details

        </legend>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-6 -->
            <div class="col-md-6">
                
                <!-- Model No START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Model No. *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">

                        @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditUnitCooler")
                        {

                            @Html.TextBoxFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.ModelNumber, new { @class = "form-control", @readonly = "readonly" })
                        }
                        else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddUnitCooler")
                        {
                            @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.ModelNumber, new { htmlAttributes = new { @class = "form-control"@*, @Value = Model.UnitCoolerDetailsData.ModelNumber*@ } })
                            @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.ModelNumber)
                        }


                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Model No END HERE -->

                <!-- Number Of Fans START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Number Of Fans *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                        @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditUnitCooler")
                        {
                            @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.NumberOfFans, new { htmlAttributes = new { @class = "form-control", @Value = Model.UnitCoolerDetailsData.NumberOfFans, @type = "text", @readonly = "readonly" } })
                        }
                        else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddUnitCooler")
                        {
                            @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.NumberOfFans, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.UnitCoolerDetailsData.NumberOfFans } })
                            @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.NumberOfFans)
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Number Of Fans END HERE -->

                <!-- Capacity Per Degree TDNeg20 START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Capacity Per Degree TDNeg20</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                        @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.CapacityPerDegreeTDNeg20, new { htmlAttributes = new  { @onkeypress = "return validateNumbersOnly(event);", @type = "text", @class = "form-control", @Value = Model.UnitCoolerDetailsData.CapacityPerDegreeTDNeg20 } })
                        @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.CapacityPerDegreeTDNeg20)
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Capacity Per Degree TDNeg20 END HERE -->

                <!-- Capacity Per Degree TDPos25 START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Capacity Per Degree TDPos25</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                        @Html.EditorFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.CapacityPerDegreeTDPos25, new { htmlAttributes = new { @onkeypress = "return validateNumbersOnly(event);", @type = "text",  @class = "form-control", @Value = Model.UnitCoolerDetailsData.CapacityPerDegreeTDPos25 } })
                        @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.CapacityPerDegreeTDPos25)
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Capacity Per Degree TDPos25 END HERE -->



            </div>
            <!-- end col-6 -->

            <!-- begin col-6 -->
            <div class="col-md-6">
                <!-- Brand START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Brand *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                        @Html.DropDownListFor(model => model.UnitCoolerDetailsData.BrandID, new SelectList(Model.UnitCoolerDetailsData.BrandDetails, "BrandID ", "CoilBrandName"), new { @class = "form-control" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Brand END HERE -->

                <!-- Year START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Year *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">
                        @Html.DropDownListFor(model => model.UnitCoolerDetailsData.YearID, new SelectList(Model.UnitCoolerDetailsData.YearDetails, "YearID", "Year"), new { @class = "form-control" })

                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Year END HERE -->

                <!-- Make START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Make *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">

                        @Html.DropDownListFor(model => model.UnitCoolerDetailsData.MakeID, new SelectList(Model.UnitCoolerDetailsData.MakeDetails, "YearID", "Year"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(addUnitCooler => addUnitCooler.UnitCoolerDetailsData.MakeID)
                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Make END HERE -->

                <!-- Family START HERE -->
                <div class="col-md-12 p-0">
                <div class="form-group">
                    <label class="col-md-4 p-t-7 control-label ui-sortable p-l-0 p-r-0">Family *</label>
                    <div class="col-md-8 ui-sortable p-l-0 p-r-0">

                        @if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "EditUnitCooler")
                        {
                            @Html.DropDownListFor(model => model.UnitCoolerDetailsData.FamilyID, new SelectList(Model.UnitCoolerDetailsData.FamilyDetails, "CoilFamilyID", "CoilFamilyName"), new { @class = "form-control dropdown-disable", @readonly = true })
                        }
                        else if (Convert.ToString(@ViewContext.Controller.ValueProvider.GetValue("action").RawValue) == "AddUnitCooler")
                        {
                            @Html.DropDownListFor(model => model.UnitCoolerDetailsData.FamilyID, new SelectList(Model.UnitCoolerDetailsData.FamilyDetails, "CoilFamilyID", "CoilFamilyName"), new { @class = "form-control" })
                        }
                       

                    </div>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- Family END HERE -->


            </div>
            <!-- end col-6 -->



            <!-- begin col 12 -->

            <!-- end col-12 -->
            <div class="col-md-12">
            <label class="pull-left custom-validation-message">* Fields are mandatory</label>
            <a href="#" id="nextDetails" onclick="OpenDesiredTab(2)" class="btn btn-white btn-md pull-right next">Next →</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- end row -->
    </fieldset>
    @*}*@
</div>

<script type="text/javascript" language="javascript">
    function validateNumbersOnly(e) {
        var unicode = e.charCode ? e.charCode : e.keyCode;
        if ((unicode == 8) || (unicode == 9) || (unicode > 47 && unicode < 58)) {
            return true;
        }
        else {
            return false;
        }
    }

</script>


