﻿@{

    ViewBag.Title = "Add Unit Cooler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Add Unit Cooler</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">
                    @*<form  action="/UnitCooler/AddUnitCooler" method="POST" >*@
                    @using (Html.BeginForm("AddUnitCooler", "UnitCooler", FormMethod.Post))
                    {
                        <div id="wizard">
                            <ol>
                                <li>
                                    <i class="fa fa-th-list"></i> Unit Cooler Details
                                </li>
                                <li  style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-archive" aria-hidden="true"></i> Accessories
                                </li>
                                <li  style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-cogs"></i> Configurations
                                </li>
                                <li  style="pointer-events:none; opacity:0.6;">
                                    <i class="fa fa-money"></i> Pricing
                                </li>
                            </ol>
                            <!-- Unit Cooler Details step-1 -->
                            @Html.Partial("_UnitCoolerDetails")
                            <!-- Unit Cooler Details step-1 -->
                            <!-- Accessories step-2 -->
                            @*@Html.Partial("_Accessories")*@
                            <!-- Accessories step-2 -->
                            <!-- Configurations step-3 -->
                            @*@Html.Partial("_Configurations")*@
                            <!-- Configurations step-3 -->
                            <!-- Pricing step-4 -->
                            @*@Html.Partial("_Pricing")*@
                            <!-- Pricing step-4 -->
                        </div>


                        <!-- end panel -->
                        <!-- begin col 12 -->
                        <div class="col-md-12 p-l-20 p-r-20 m-t-20 p-0">
                            <input type="submit" value="Save" class="btn btn-primary btn-md m-l-5 pull-right" /><a href="/Home/Index" class="btn btn-white btn-md pull-right">Cancel</a>
                            <div class="clearfix"></div>
                        </div>
                        <!-- end col-12 -->
                        @*</form>*@}
                    </div>



                </div>
            </div>
        <!-- end col-8 -->

        </div>
    <!-- end row -->
    </div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type='text/javascript'>
        $('#nextDetails').css("display", "none");
        </script>


