﻿@using Hussmann.Common.Enumeration;
@model Hussmann.Models.UnitCooler.AddUnitCoolerViewModel
@{
    ViewBag.Title = "Edit Unit Cooler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin page-header -->
    <h1 class="page-header">Edit Unit Cooler</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12">
            <!-- begin panel -->

            <div class="panel panel-inverse">
                <div class="panel-body">


                    @using (Html.BeginForm("EditUnitCooler", "UnitCooler", FormMethod.Post, new { name = "formDetails", id = "details" }))
                    {
                        @*<form action="javascript:;" method="POST">*@
                        <div id="wizard">
                            <ol>
                                <li onclick="OpenDesiredTab(1)" id="Details">
                                    <i class="fa fa-th-list"></i> Unit Cooler Details
                                </li>
                                <li onclick="OpenDesiredTab(2)" id="Accessories">
                                    <i class="fa fa-archive" aria-hidden="true"></i> Accessories
                                </li>
                                <li onclick="OpenDesiredTab(3)" id="Configurations">
                                    <i class="fa fa-cogs"></i> Configurations
                                </li>
                                <li onclick="OpenDesiredTab(4)" id="Pricing">
                                    <i class="fa fa-money"></i> Pricing
                                </li>
                            </ol>


                            @*<a href="#" class="btn btn-green btn-sm m-l-5 pull-right">Submit Records</a>*@
                            <span style="display:block; margin:14px 20px; float:right; position:absolute; right:0px;">
                                <label class="m-t-5 m-r-5" style="text-align:center">State : @Model.CurrentCoilState , Version : @Model.CurrentCoilVersion</label>
                                @Html.ActionLink("Approve Record", "ChangeSampleStatus", new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Approved) }, new { @style = (Model.CanApproveRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Move to Draft", "ChangeSampleStatus", new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Draft) }, new { @style = (Model.CanMoveToDraft ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Submit Record", "ChangeSampleStatus", new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Submitted) }, new { @style = (Model.CanSubmitRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @Html.ActionLink("Reject Record", "ChangeSampleStatus", new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Rejected) }, new { @style = (Model.CanRejectRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" })
                                @*@Html.ActionLink("Delete Record", "ChangeSampleStatus", new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Deleted) }, new { @style = (Model.CanDeleteRecord ? "display: inline-block;" : "display:none;"), @class = "btn btn-green btn-sm m-l-5 pull-right" , onclick = "return ShowPopup();" })*@
                                @if (@Model.CanDeleteRecord == true)
                                {
                                    <a class="btn btn-green btn-sm m-l-5 pull-right" data-href=@Url.Action("ChangeSampleStatus", "UnitCooler", new RouteValueDictionary(new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Deleted) })) data-status="Inactivate"  data-toggle="modal" data-target="#confirm-status">Delete</a>
                                }

                            </span>


                            <!-- Unit Cooler Details step-1 -->
                            @{
                                if (Model.CurrentTab == 1)
                                {
                                    @Html.Partial("_UnitCoolerDetails")
                                    @*<div></div>
                                        <div></div>
                                        <div></div>*@
                                }
                                else if (Model.CurrentTab == 2)
                                {
                                    <div></div>
                                    @Html.Partial("_Accessories")
                                    <div></div>
                                    <div></div>

                                }
                                else if (Model.CurrentTab == 3)
                                {
                                    <div></div>
                                    <div></div>
                                    @Html.Partial("_Configurations")
                                    <div></div>
                                }
                                else if (Model.CurrentTab == 4)
                                {
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    @Html.Partial("_Pricing")
                                }

                            }
                            @Html.HiddenFor(m => m.CurrentCoilModelID, new { Value = Model.CurrentCoilModelID, @id = "hdnCoilModelID" })
                            @Html.HiddenFor(m => m.AllowEdit, new { @id = "hdnAllowEdit" })
                            @Html.HiddenFor(m => m.IsPricingGridValid, new { @id = "hdnPricingGridValid" })
                            @Html.HiddenFor(m => m.IsEditedAfterApprove, new { @id = "hdnIsEditedAfterApprove" })
                            @Html.HiddenFor(m => m.IsAccessoryGridValid, new { @id = "hdnAccessoryGridValid" })
                            @Html.HiddenFor(m => m.IsConfigrationTabDataValid, new { @id = "hdnConfigurationGridDataValid" })
                            @Html.HiddenFor(m => m.RedirectTo ,new { @id = "hdnRedirectTo" })
                            @Html.HiddenFor(m => m.SearchQuery, new { @id = "hdnSearchQuery" })
                            

                        </div>
                        @*</form>*@


                        <!-- end panel -->
                        <!-- begin col 12 -->
                        @*<div class="col-md-12 p-r-15 p-0">
                                <a href="#" class="btn btn-primary btn-md m-l-5 pull-right">Save</a><a href="#" class="btn btn-white btn-md pull-right">Cancel</a>
                                <div class="clearfix"></div>
                            </div>*@
                        <div class="col-md-12 p-l-20 p-r-20 m-t-20 p-0">
                            <input id="btnSave" type="submit" value="Save" class="btn btn-primary btn-md m-l-5 pull-right" /><a  id="btnCancel" class="btn btn-white btn-md pull-right">Cancel</a>
                            <div class="clearfix"></div>

                        </div>
                    }
                    <!-- end col-12 -->
                </div>



            </div>
        </div>
        <!-- end col-8 -->

    </div>
    <!-- end row -->
</div>
<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Alert!
            </div>
            <div class="modal-body">
                Are you sure you want to Delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <a id="btnpost" class="btn btn-danger btn-ok" href="@Url.Action("ChangeSampleStatus", "UnitCooler", new RouteValueDictionary(new { modelId = Model.CurrentCoilModelID, state = Convert.ToInt32(enState.Deleted) }))">Yes</a>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Content/js/common.js")"></script>*@

<script type="text/javascript">


    //$('#UnitCoolerAccessoriesData_Type_ID').change(function () {
    //    //var index = $('#UnitCoolerAccessoriesData_Type_ID').index();
    //    var index = $('#UnitCoolerAccessoriesData_Type_ID').prop('selectedIndex');

    //    $('#UnitCoolerAccessoriesData_MotorTypeID').val(index + 1);


    //});

    $(document).ready(function () {

        setTimeout(function () {

            var activeTab = @Html.Raw(Json.Encode(Model.CurrentTab));
            if (activeTab - 1 != 0) // activeTab - 1 because of starting index is 0
            {
                $('#wizard').bwizard('show', activeTab - 1);
            }

        }, 1);

    });


    $("#btnSave").click(function (event) {

        var activeTab = @Html.Raw(Json.Encode(Model.CurrentTab));
        if (activeTab == 4)
        {
            event.preventDefault();
            var btn = $("#hdnButtonPreviousPrice");
            btn.click();

            var val = $("#hdnPricingGridValid").val();
            if (val == false || val == "False" || val == "false") {
                setTimeout(function () {
                    $('#wizard').bwizard('show', parseInt(activeTab) - 1);
                }, 1);
            }
            else {
                $("#details").submit();
            }
        }
        if (activeTab == 2)
        {
            event.preventDefault();
            var btn = $("#hdnButtonAccessory");
            btn.click();

            var val = $("#hdnAccessoryGridValid").val();
            if (val == false || val == "False" || val == "false") {
                setTimeout(function () {
                    $('#wizard').bwizard('show', parseInt(activeTab) - 1);
                }, 1);
            }
            else {
                $("#details").submit();
            }
        }
        if (activeTab == 3) {
            event.preventDefault();
            var btn = $("#hdnButtonConfiguration");
            btn.click();

            var val = $("#hdnConfigurationGridDataValid").val();
            if (val == false || val == "False" || val == "false") {
                setTimeout(function () {
                    $('#wizard').bwizard('show', parseInt(activeTab) - 1);
                }, 1);
            }
            else {
                $("#details").submit();
            }
        }
    });


    $(window).load(function () {
        var allowEdit = @Html.Raw(Json.Encode(Model.AllowEdit));
        if (allowEdit == false)
        {
            $('input,select').attr('readonly', true);
            $('input,select').css("pointer-events", "none");
           // $('input,select').attr("disabled", true);
            document.getElementById("btnSave").disabled = true;
        }
    });

    $('input,select').on('change', function () {
        $('#hdnIsEditedAfterApprove').val(true);
    });

    $('#btnCancel').click(function (event) {
        var redirectTo = $('#hdnRedirectTo').val();
        var queryString =  @Html.Raw(Json.Encode(Model.SearchQuery));
        if (redirectTo === "Search")
        {
            // Tried below code but not worked
            @*location.href = '@Url.Content("~/"+enController.UnitCooler+"/"+enAction.Search+"/" + Html.Raw((Model.SearchQuery)))';*@

            // changing logic
            if (queryString != "" || queryString != null)
            {
                queryString = "&" + queryString;
                var modelNumber = getParameterByName('modelNumber', queryString);
                var brandId = getParameterByName("brandId", queryString);
                var familyId = getParameterByName("familyId", queryString);
                var statusId = getParameterByName("statusId", queryString);
                var pinned = getParameterByName("pinned", queryString);
                var url = '@Url.Action("../UnitCooler/Search")' + '?modelNumber=' + modelNumber
                    + '&' + 'brandId=' + brandId
                    + '&' + 'familyId=' + familyId
                    + '&' + 'statusId=' + statusId
                    + '&' + 'pinned=' + pinned;
                location.href = url;
            }
            else
            {
                location.href = '@Url.Content("~/"+enController.UnitCooler+"/"+enAction.Search )';
            }

        }
        else if (redirectTo === "Index")
        {
            location.href = '@Url.Content("~/"+enController.Home+"/"+enAction.Index+"")';
        }

    });

    function ShowPopup()
    {
        $('#confirm-status').on('show.bs.modal', function (e) {

        });
    }

    function getParameterByName(name, url) {
        
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return '';
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }


</script>



