﻿
@{
    ViewBag.Title = "Error";
    Layout = null;
}
<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/style.min.css" rel="stylesheet" />
<link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
@*<h2>Error</h2>*@
<div id="page-container">
    <!-- begin error -->
    <div class="error">
        <div class="error-code m-b-10"><b>Error</b></div>
        <div class="error-content">
            <div class="error-message">Resource not found</div>
            <div class="error-desc m-b-30 m-t-10">The page you requested cannot be found.</div>
            <div>
                <a href="@Url.Action("Index", "Home")" class="btn btn-green btn-sm p-10">Go Back to Home Page</a>
            </div>
        </div>
    </div>
    <!-- end error -->
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>

