﻿@{
    Layout = null;
}
<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/style.min.css" rel="stylesheet" />
<link href="~/Content/css/style-responsive.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    @*<hgroup>
        <h1>Error:Unauthorized Access</h1>
        <h2>An error occurred while processing your request. You do not have permission to access this page</h2>
    </hgroup>*@
    <div id="page-container">
        <!-- begin error -->
        <div class="error">
            <div class="error-code m-b-10"><b>404</b></div>
            <div class="error-content">
                <div class="error-message">Error:Unauthorized Access</div>
                <div class="error-desc m-b-30 m-t-10">The requested page cannot be accessed <br /> by the present user</div>
                <div>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-green btn-sm p-10">Go Back to Home Page</a>
                </div>
            </div>
        </div>
        <!-- end error -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
</body>
</html>
