﻿@*<div id="content" class="content">

    <div class="row">
        <!-- Updates col-8 -->
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-body p-t-0">
                    <div class="col-md-12">
                        <div class="error_wrap p-220">
                            <div class="error_des">

                                <h1 class="text-center"><b>UNDER CONSTRUCTION</b></h1>
                                <p class="m-b-20 text-center font-16px">More information will be available very soon.<br />Try going to <strong>HOME PAGE</strong> by using the button below.</p>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-green btn-sm p-10 margin-auto" ><i class="fa fa-home"></i> GO TO HOME</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="coming-soon">
    <div class="coming-soon-header">
        <h1 class="text-center white"><b>UNDER CONSTRUCTION</b></h1>
    </div>
    <div class="coming-soon-content">
        <div class="desc">
            <p class="m-b-30 text-center font-16px">More information will be available very soon.<br />Try going to <strong>HOME PAGE</strong> by using the button below.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-green btn-sm p-10 margin-auto"><i class="fa fa-home"></i> GO TO HOME</a>
        </div>
    </div>
</div>