﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hussmann Database | @ViewBag.Title</title>

    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/modernizr")


    <!-- ================== BEGIN BASE JS START================== -->
    @*<script src="@Url.Content("~/Content/plugins/jquery-1.8.2/jquery-1.8.2.min.js")"></script>*@
    @*<script src="@Url.Content("~/Content/js/jquery-3.3.1.min.js")"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>*@
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/smoothness/jquery-ui.css">*@
    @*<style src="@Url.Content("~/Content/css/jquery-ui.css")"></style>*@
    <script src="@Url.Content("~/Content/js/jquery-1.10.1.min.js")"></script>



    <!-- Excel table script START HERE-->
    <script src="@Url.Content("~/Content/js/moment.js")"></script>
    <script src="@Url.Content("~/Content/js/numbro.js")"></script>
    <script src="@Url.Content("~/Content/js/handsontable.js")"></script>
    <script src="@Url.Content("~/Content/js/handsontable-chosen-editor.js")"></script>
    <script src="@Url.Content("~/Content/js/handsontable-RemoveRow.js")"></script>
    <script src="@Url.Content("~/Content/js/chosen.jquery.js")"></script>
    <!-- Excel table script END HERE-->

</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- Main content START Here -->
    <div id="page-container" class="fade page-sidebar-minified page-sidebar-fixed page-header-fixed">

        <!-- Top Right Menu content START Here -->
        <div class="container-fluid" style="position:absolute; right:0px; z-index:999;">
            <div class="container-fluid">
                <h6 class="pull-left production">@ViewBag.serverName</h6>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Url.Content("~/Content/img/user-13.jpg")" class="p-t-0 p-b-0 img-responsive" alt="User" title="User" />
                            <span class="hidden-xs"> @User.Identity.Name.Split('\\')[1]</span> @*<b class="caret"></b>*@
                        </a>
                        @*<ul class="dropdown-menu animated fadeInLeft">
                                <li><a href="login.html">Sign Out</a></li>
                            </ul>*@
                    </li>
                </ul>
            </div>
        </div>
        <!-- Top Right Menu content END Here -->
        <!-- Left Menu content START Here -->
        <div id="sidebar" class="sidebar">
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/logo.png")" class="p-t-0 p-b-5 img-responsive" alt="Hussmann" title="Hussmann" /></a>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav" id='userMenu'>
                    <li class="has-sub active">
                        <a href="@Url.Action("Index", "Home")"><span>Dashboard</span></a>
                    </li>


                    @*<li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-codepen"></i>
                                <span>Unit Cooler</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Search", "UnitCooler")">Search</a></li>
                                <li><a href="@Url.Action("AddUnitCooler", "UnitCooler")">Add</a></li>
                                <li><a href="javascript:;">Approve</a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-database"></i>
                                <span>Compressor</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;">Search</a></li>
                                <li><a href="javascript:;">Add</a></li>
                                <li><a href="javascript:;">Approve</a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-ils"></i>
                                <span>Condenser</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;">Search</a></li>
                                <li><a href="javascript:;">Add</a></li>
                                <li><a href="javascript:;">Approve</a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-inbox"></i>
                                <span>Case</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;">Search</a></li>
                                <li><a href="javascript:;">Add</a></li>
                                <li><a href="javascript:;">Approve</a></li>
                            </ul>
                        </li>*@
                    <!-- end sidebar minify button -->
                </ul>

                <!-- end sidebar nav -->
                <ul class="nav left-footer">
                    <li class="nav-profile">
                        <div class="image">Powered by <a href="http://datadynamics-inc.com/">Datadynamics</a></div>
                    </li>
                </ul>
            </div>
            <ul class="nav" style="position:absolute; top:0px; width:34px; float:right; padding:0px 0px 0px 0px; right:-34px;">
                <li><a href="javascript:;" class="sidebar-minify-new-btn" data-click="sidebar-minify"><img src="@Url.Content("~/Content/img/menu-icon.png")" class="p-t-5 p-b-5 img-responsive" alt="menu" title="menu" /></a></li>
                <!-- end sidebar minify button -->
            </ul>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <img src="@Url.Content("~/Content/img/menu-icon.png")" class="p-t-0 p-b-5 img-responsive" alt="menu" title="menu" />
                </button>

            </div>
            <!-- end sidebar scrollbar -->

        </div>
        <!-- Left Menu content END Here -->


        <div class="sidebar-bg"></div>
        <!-- Left content END Here -->
        <!-- Right content START Here -->
        @RenderBody()
        <!-- Right content END Here -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- Main content END Here -->




    <!-- ================== BEGIN BASE JS START================== -->
    @*<script src="@Url.Content("~/Content/plugins/jquery-ui-1.10.4/ui/minified/jquery-ui.min.js")"></script>*@
    <script src="@Url.Content("~/Content/plugins/bootstrap-3.2.0/js/bootstrap.min.js")"></script>
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Content/crossbrowserjs/html5shiv.js")"></script>
        <script src="@Url.Content("~/Content/crossbrowserjs/respond.min.js")"></script>
        <script src="@Url.Content("~/Content/crossbrowserjs/excanvas.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jquery-cookie/jquery.cookie.js")"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/Content/js/map-google.demo.min.js")"></script>

    @*<script src="@Url.Content("~/Content/plugins/DataTables-1.9.4/js/jquery.dataTables.min.js")"></script>
        <script src="@Url.Content("~/Content/plugins/DataTables-1.9.4/js/dataTables.responsive.min.js")"></script>*@

    <script src="@Url.Content("~/Content/plugins/DataTables-1.9.4/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Content/plugins/DataTables-1.9.4/js/data-table.js")"></script>

    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="@Url.Content("~/Content/js/bwizard.js")"></script>
    <script src="@Url.Content("~/Content/js/form-wizards.demo.min.js")"></script>

    <script src="@Url.Content("~/Content/js/ui-modal-notification.demo.min.js")"></script>
    <script src="@Url.Content("~/Content/js/apps.min.js")"></script>


    <script src="@Url.Content("~/Content/js/jquery-ui.js")"></script>




    <!-- ================== COMMON JS ================== -->
    <script src="@Url.Content("~/Content/js/common.js")"></script>

    <!-- ================== COMMON JS ================== -->
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script>
        $(function () {
            $('#nav').stop().animate({ 'margin-left': '-320px' }, 1000);

            function toggleDivs() {
                var $inner = $("#nav");
                if ($inner.css("margin-left") == "-320px") {
                    $inner.animate({ 'margin-left': '0' });
                    $(".nav-btn").html('<img src="/Content/img/slide-out.png" alt="open" />')
                }
                else {
                    $inner.animate({ 'margin-left': "-320px" });
                    $(".nav-btn").html('<img src="/Content/img/slide-open.png" alt="close" />')
                    $(".content").css({ 'margin-left': '0px' });
                }
            }
            $(".nav-btn").bind("click", function () {
                toggleDivs();
            });

            toggleDivs();
        });


        //-- Try Pin javascript START HERE --//
        $(function () {
            $('#nav').stop().animate({ 'margin-left': '-320px' }, 1000);
            var $inner = $("#nav");
            $(".nav-hide").bind("click", function () {
                if ($(".nav-hide img").attr('alt') == 'close') {
                    $(".nav-hide").html('<img src="/Content/img/auto_hide_open_icon.png" alt="open" />')
                    //$(".nav-hide img").attr('src', '/Content/img/auto_hide_close_icon.png')
                    //$(".nav-hide img").attr('alt', 'open')
                    $(".content").css({ 'margin-left': '320px' });
                    ChangeDefaultPin(true);
                }
                else {
                    $(".nav-hide").html('<img src="/Content/img/auto_hide_close_icon.png" alt="close" />');
                    $(".content").css({ 'margin-left': '0px' });
                    $inner.animate({ 'margin-left': '-320px' });
                    ChangeDefaultPin(false);
                }
                //toggleDivs();
            });

        });
        //-- Try Pin javascript END HERE --//


        $(document).ready(function () {
        try{


        var jsonData = @Html.Raw(Json.Encode(ViewBag.menu));
        var data = $.parseJSON(jsonData);

        var builddata = function () {
            var source = [];
            var items = [];
            // build hierarchical source.
            for (i = 0; i < data.length; i++) {
                var item = data[i];
                var label = item["text"];
                var parentid = item["parentid"];
                var id = item["id"];
                var action = item["action"];
                var controller = item["controller"];
                var image = item["image"];

                if (items[parentid]) {
                    var item = { parentid: parentid, label: label, action: action, controller: controller, image: image ,item: item };
                    if (!items[parentid].items) {
                        items[parentid].items = [];
                    }
                    items[parentid].items[items[parentid].items.length] = item;
                    items[id] = item;
                }
                else {
                    items[id] = { parentid: parentid, label: label, action: action, controller: controller, image: image, item: item };
                    source[id] = items[id];
                }
            }
            return source;
        }
        var source = builddata();

        var buildUL = function (parent, items) {
            $.each(items, function () {
                if (this.label) {
                    // create LI element and append it to the parent element.
                    if (this.items === undefined) {
                        var url;
                        if (this.action && this.controller) {
                            var url = "/" + this.controller + "/" + this.action;
                                @*"@Html.Raw(Url.Action("Attachments", "Transactions"))";*@
                        } else {
                            url = 'javascript:;';
                        }

                        if (this.label == "Approve" && this.action != "UnderConstruction") {
                            if (this.action == "Search")
                            {
                               var li = $("<li><a href='@Url.Action("Search", "UnitCooler", new { statusId = 2 })' >" + this.label + "</a></li>");
                            }
                            else if (this.action == "SearchCondenser")
                            {
                                var li = $("<li><a href='@Url.Action("SearchCondenser", "Condenser", new { statusId = 2 })' >" + this.label + "</a></li>");
                            }
                            else if (this.action == "SearchCompressor")
                            {
                                var li = $("<li><a href='@Url.Action("SearchCompressor", "Compressor", new { statusId = 2 })' >" + this.label + "</a></li>");
                            }
                        }
                        else {
                            var li = $("<li><a href= " + url  + " >" + this.label + "</a></li>");
                        }


                    } else {
                        var li = $("<li class='has-sub'> <a href='javascript:;'> <b class='caret pull-right'>  </b >  <i class='" + this.image  + "'></i>  <span> " + this.label + "</span> </a > </li>");
                    }

                    li.appendTo(parent);
                    // if there are sub items, call the buildUL function.
                    if (this.items && this.items.length > 0) {
                        var ul = $("<ul class='sub-menu'></ul>");
                        ul.appendTo(li);
                        buildUL(ul, this.items);
                    }
                }
            });
        }

        buildUL($("#userMenu"), source);




            $("#accordion section h1").click(function (e) {
                $(this).parents().siblings("section").addClass("ac_hidden");
                $(this).parents("section").removeClass("ac_hidden");

                e.preventDefault();
        });
        }
        catch (e) {
            alert(e);
            location.href = '@Url.Action("../UnitCooler/Error")';

        }
        });
        function ChangeDefaultPin(value)
        {
            $("#hdnPinnedTab").val(value);
            $("#hdnCondenserPinnedTab").val(value);
        }

    </script>

    <script>
        $(document).ready(function () {
            App.init();
            FormWizard.init();
        });
    </script>




    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

</body>
</html>
